<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings><add name="INAMU_COMUNEntities" connectionString="metadata=res://*/ComunModel.csdl|res://*/ComunModel.ssdl|res://*/ComunModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.4.125;initial catalog=INAMU_COMUN;persist security info=True;user id=us_sivio;password=sivio;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="INAMU_COMUNEntities1" connectionString="metadata=res://*/InamuComunModel.csdl|res://*/InamuComunModel.ssdl|res://*/InamuComunModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.4.125;initial catalog=INAMU_COMUN;persist security info=True;user id=us_sivio;password=sivio;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>