
<style>
    .pad {
        padding-bottom: 3px;
        margin-bottom: 3px;
    }

    .parsley-required {
        color: red;
        font-weight: bold;
    }

    .checkNoSpace {
        padding-left: 0px !important;
    }

    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: white;
    }

    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: white;
        opacity: 1;
    }

    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: white;
        opacity: 1;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white;
    }
</style>

<style>
    input, select, textarea {
        max-width: 100%;
        padding: 4px;
    }

    input {
        background-color: blue;
    }
</style>

<script type="text/javascript">
    function llenarComboBox(nombreCatalogo, nombreComboBox, valorComboBox) {
        return function (respuesta) {
            var catalogo = respuesta[nombreCatalogo];
            if (catalogo.Mensaje.TipoMensaje === 1) {
                $.each(catalogo.Catalogo, function (key, value) {
                    $(nombreComboBox).append($("<option/>", {
                        value: value.PK_VALORCATALOGO,
                        text: value.VC_VALOR1
                    }));

                });

                if (valorComboBox) {
                    $(nombreComboBox).val(valorComboBox);
                }
            } else {
                $("#contenedorBotones").show();
                $("#contenedorEspera").hide();
                $("#txtModalTitulo").css("color", "red");
                $("#txtModalTitulo").text("Error");
                $("#txtModalContenido").text(respuesta.Mensaje.ContenidoMensaje);
                instMensajes.open();
                $.LoadingOverlay("hide");
            }

            return respuesta

        }
    }

    function comboMultiple(nombreComboBox, placeholder) {
        return () => {
            $(nombreComboBox).selectize({
                plugins:  ['remove_button'],
                sortField: 'text',
                create: false,
                placeholder: placeholder
            });
        }
    }

    $(document).ready(function () {

        var instMensajes = $('[data-remodal-id=modalDialogo]').remodal();
        $.ajax({
            type: "POST",
            url: '@Url.Action("ListarCatalogosPsicologiaAdulta")',
            dataType: "json",
            contentType: "application/json",
            processData: true,
            error: function (xhr, ajaxOptions, error) {
                $("#contenedorBotones").show();
                $("#contenedorEspera").hide();
                $("#txtModalTitulo").css("color", "red");
                $("#txtModalTitulo").text("Error al conectarse");
                $("#txtModalContenido").text("Fallo al comunicarse con el servidor");
                instMensajes.open();
                $.LoadingOverlay("hide");

            }
        }).then(function (resultado) {
            var respuesta = JSON.parse(resultado);
            return respuesta;
        }).then(llenarComboBox("Tipo de Asesoria para Atención Psicologica", "#cmbTipoAsesoria"))
        .then(llenarComboBox("Tipo de Grupo para intervencion de Proceso Grupal", "#cmbTipoGrupo"))
        .then(comboMultiple("#cmbTipoAsesoria", "Seleccione multiples"))
        .then(function (respuesta) {
            $("#cmbTipoAsesoria").change(function () {
                var numeroADiv = {
                    773: "#planDeSeguridad",
                    780: "#procesoGrupal",
                    774: "#procesoPsicoeducativo",
                    775: "#coordinaciones",
                    776: "#acompanamientoProfesional",
                    777: "#testimonioExperto"
                };

                var habilitados = $("#cmbTipoAsesoria").val()

                $.each(numeroADiv, function(numero, div) {
                    if (habilitados != undefined && habilitados.indexOf(numero) > -1) {
                        console.log(numero, habilitados);
                        $(div).show();
                    } else {
                        $(div).hide();
                    }
                });
                console.log(habilitados);
            })
            return respuesta
        })

    });

</script>

<div class="container-fluid" id="contenedorPrincipal" style="background-color: whitesmoke;border: 1px solid #E3E3E3;border-radius: 4px;">

    <h2 style="padding-left:15px">Atención psicología de adultas</h2>

    <div class="row">
        <div class="col-md-6 col-xs-12 form-group">
            <label>Objetivo de la sesión</label>
            <textarea class="form-control" id="txtNombreHijo" type="text" required=""></textarea>
        </div>

        <div class="col-md-6 col-xs-12 form-group">
            <label>Plan de la intervención:</label>
            <textarea class="form-control" id="txtNombreHijo" type="text" required=""></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-xs-12 form-group">
            <label>Tipo de asesoría</label>
            <select id="cmbTipoAsesoria" class="" multiple="multiple">
                @*Catalogo 73*@
            </select>
        </div>
    </div>

    <div id="planDeSeguridad" hidden="hidden">
        <h3>Plan de seguridad</h3>
        <div class="row">
            <div class="col-md-6 col-xs-12 form-group">
                <label>Objetivo de la sesión</label>
                <textarea class="form-control" id="txtNombreHijo" type="text" required=""></textarea>
            </div>
        </div>
    </div>

    <div id="procesoGrupal" hidden="hidden">
        <h3>Proceso grupal</h3>
        <div class="row">
            <div class="col-md-6 col-xs-12 form-group">
                <label>Fecha de fecha inicio del periodo</label>
                <input type="date" class="form-control" id="dtFechaInicioProcesoGrupal">
            </div>

            <div class="col-md-6 col-xs-12 form-group">
                <label>Fecha de fecha fin del periodo</label>
                <input type="date" class="form-control" id="dtFechaFinProcesoGrupal">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12 form-group">
                <label>Tipo de grupo</label>
                <select id="cmbTipoGrupo" class="form-control">
                    @* Catalogo 95 *@
                </select>
            </div>
        </div>
    </div>

    <div id="procesoPsicoeducativo" hidden="hidden">
        <h3>Proceso Psicoeducativo</h3>
        <div class="row">
            <div class="col-md-6 col-xs-12 form-group">
                <label>Fecha de inicio</label>
                <input type="date" class="form-control" id="dtFechaInicioPsicoeducativo">
            </div>
            <div class="col-md-6 col-xs-12 form-group">
                <label>Fecha fin</label>
                <input type="date" class="form-control" id="dtFechaFinPsicoeducativo">
            </div>
        </div>
    </div>

    <div id="coordinaciones" hidden="hidden">
        <h3>Coordinaciones</h3>
        <div class="row">
            <div class="col-md-6 col-xs-12 form-group">
                <label>Nombre de la persona</label>
                <input type="text" class="form-control" id="txtNombrePersonaCoordinacion" type="text" required=""></input>
            </div>

            <div class="col-md-6 col-xs-12 form-group">
                <label>Institución</label>
                <input type="text" class="form-control" id="txtInstitucionCoordinacion" type="text" required=""></input>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12 form-group">
                <label>Teléfono</label>
                <input type="text" class="form-control" id="txtTelefono" type="text" required=""></input>
            </div>

            <div class="col-md-6 col-xs-12 form-group">
                <label>Correo</label>
                <input type="email" class="form-control" id="txtCorreo" type="text" required=""></input>
            </div>
        </div>
    </div>

    <div id="acompanamientoProfesional" hidden="hidden">
        <h3>Acompañamiento Profesional</h3>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <label>Acompañamiento Profesional</label>
                <input type="text" class="form-control" id="txtAcompanamientoProfesional" type="text" required=""></input>
            </div>
        </div>
    </div>

    <div id="testimonioExperto" hidden="hidden">
        <h3>Testimonio Experto</h3>
        <div class="row">
            <div class="col-md-6 col-xs-12 form-group">
                <label>Tipo</label>
                <input type="text" class="form-control" id="txtTipoTestimonioExperto" type="text" required=""></input>
            </div>

            <div class="col-md-6 col-xs-12 form-group">
                <label>Lugar/Proceso</label>
                <textarea class="form-control" id="txtLugarProceso" type="text" required=""></textarea>
            </div>
        </div>
    </div>

    <div id="Observaciones">
        <h3>Observaciones</h3>
        <div class="row">
            <div class="col-md-6 col-xs-12 form-group">
                <textarea class="form-control" id="txtPlanDeSeguridad" type="text" required=""></textarea>
            </div>
        </div>
    </div>
    
</div>
