@{
    Layout = null;
}
<div id="atencion" class="tab-pane">
    <div class="row comunForm">

        <div class="row">
            <div class="col-md-4 form-group">
                <label>Atenciones en progreso</label>


            </div>

        </div>

    </div>
</div>
