@{
    Layout = null;
}
<style>
    .jumbotron {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .container {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
</style>
<script src="https://www.google.com/cloudprint/client/cpgadget.js">
</script>
<script type="text/javascript">
    $("#btnCerrarFrmUsuarios").click(function (e) {
        e.preventDefault();
        $("#btnUsuarios").trigger("click");
    });
    var instMensajes = $('[data-remodal-id=modalDialogo]').remodal();
    $(document).ready(function () {
        $.LoadingOverlay("hide");
        debugger;
        //$.ajax({
        //    type: "POST",
        //    url: '/sipamu/Seguridad/ListarUnidades',
        //    dataType: "json",
        //    contentType: "application/json",
        //    processData: true,
        //    success: function (resultado) {
        //        debugger;

        //        $.each(resultado.data, function (key, value) {
        //            $('#cmbUnidad').append($("<option></option>", {
        //                value: value.PKUNIDAD,
        //                text: value.CODIGO + ' ' + value.DESCRIPCION
        //            }));
        //        });

        //        $('#cmbUnidad').selectize({
        //            create: false,
        //            sortField: {
        //                field: 'text',
        //                direction: 'asc'
        //            },
        //            dropdownParent: 'body'
        //        });


        //    },
        //    error: function (xhr, ajaxOptions, error) {
        //        $("#contenedorBotones").show();
        //        $("#contenedorEspera").hide();
        //        $("#txtModalTitulo").css("color", "red");
        //        $("#txtModalTitulo").text("Error al registrar");
        //        $("#txtModalContenido").text("Fallo al comunicarse con el servidor");
        //        instMensajes.open();

        //    }
        //});
        //$.ajax({
        //    type: "POST",
        //    url: '/sipamu/Seguridad/ListarRoles',
        //    dataType: "json",
        //    contentType: "application/json",
        //    processData: true,
        //    success: function (resultado) {
        //        debugger;

        //        $.each(resultado.data, function (key, value) {
        //            $('#cmbRol').append($("<option></option>", {
        //                value: value.PKROL,
        //                text: value.NOMBRE
        //            }));
        //        });

        //        $('#cmbRol').selectize({
        //            create: false,
        //            sortField: {
        //                field: 'text',
        //                direction: 'asc'
        //            },
        //            dropdownParent: 'body'
        //        });


        //    },
        //    error: function (xhr, ajaxOptions, error) {
        //        $("#contenedorBotones").show();
        //        $("#contenedorEspera").hide();
        //        $("#txtModalTitulo").css("color", "red");
        //        $("#txtModalTitulo").text("Error al registrar");
        //        $("#txtModalContenido").text("Fallo al comunicarse con el servidor");
        //        instMensajes.open();

        //    }
        //});
        //PrevenirCaracteresInvalidos();
        debugger;
        document.title = "SIVIO - Editar Persona Usuaria";
        InicializarOtrosEventos();
        InicializarCamposObservaciones();

    });

    function InicializarOtrosEventos() {
        var d = new Date();

        var month = d.getMonth() + 1;
        var day = d.getDate();
        var fechaHoy = (day < 10 ? '0' : '') + day + '/' +
            (month < 10 ? '0' : '') + month + '/' +
            d.getFullYear();

        $("#txtFechaAplicacion").val(fechaHoy);
        $('#txtFechaAplicacion').css("background-color", "#f2f2f2");
        $("#txtFechaAplicacion").prop("readonly", true);



        $("#btnEnviarFormulario").click(function () {

            RegistroUsuario();
            $('#formagregarUsuarios').find('input:text').val('');
            $('textarea:text').val('');


        });

        $("#btnCerrarFrmUsuario").click(function (e) {

            e.preventDefault();
            $("#btnUsuarios").trigger("click");
        });

        $("#btnTerminar").click(function () {

            window.location.href = '/sipamu/';
            setTimeout(volver(), 1000);

        });

        function volver() {
            window.location.href = '/sipamu/';
        }

    }

</script>
<style>
    .pad {
        padding-bottom: 3px;
        margin-bottom: 3px;
    }

    .parsley-required {
        color: red;
        font-weight: bold;
    }

    .checkNoSpace {
        padding-left: 0px !important;
    }

    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: white;
    }

    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: white;
        opacity: 1;
    }

    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: white;
        opacity: 1;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white;
    }
</style>

<style>
    input, select, textarea {
        max-width: 100%;
        padding: 4px;
    }

    input {
        background-color: blue;
    }
</style>
<div class="container-fluid" id="contenedorPrincipal">








    <form id="formagregarUsuarios" method="post" style="background-color: whitesmoke;border: 1px solid #E3E3E3;border-radius: 4px;">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#datAdministrativos">
                    <i class="fa fa-user" aria-hidden="true"></i>Datos administrativos
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#datPersonales">
                    <i class="fa fa-user" aria-hidden="true"></i>Datos Personales
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#valoración">
                    <i class="fa fa-user" aria-hidden="true"></i>Valoración
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#referencias">
                    <i class="fa fa-user" aria-hidden="true"></i>Referencias
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#historial">
                    <i class="fa fa-user" aria-hidden="true"></i>Historial
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="datAdministrativos" class="tab-pane fade in active">
                <div class="row comunForm">

                    <div class="row">
                        <div class="col-xs-1 form-group">
                            <label>Nombre de Persona Usuaria</label>

                            <input class="form-control" placeholder="Nombre" id="txtNombre1" type="date" required="">
                        </div>

                    </div>

                </div>
            </div>
            <div id="datPersonales" class="tab-pane fade in active">
                <div class="row comunForm">

                    <div class="row">
                        <div class="col-xs-4 form-group">
                            <label>Nombre de Persona Usuaria</label>

                            <input class="form-control" placeholder="Nombre" id="txtNombre2" type="date" required="">
                        </div>

                    </div>

                </div>
            </div>
            <div id="valoración" class="tab-pane fade in active">
                <div class="row comunForm">

                    <div class="row">
                        <div class="col-xs-4 form-group">
                            <label>Nombre de Persona Usuaria</label>

                            <input class="form-control" placeholder="Nombre" id="txtNombre3" type="date" required="">
                        </div>

                    </div>

                </div>
            </div>
            <div id="referencias" class="tab-pane fade in active">
                <div class="row comunForm">

                    <div class="row">
                        <div class="col-xs-4 form-group">
                            <label>Nombre de Persona Usuaria</label>

                            <input class="form-control" placeholder="Nombre" id="txtNombre4" type="date" required="">
                        </div>

                    </div>

                </div>
            </div>
            <div id="historial" class="tab-pane fade in active">
                <div class="row comunForm">

                    <div class="row">
                        <div class="col-xs-2 form-group">
                            <label>Nombre de Persona Usuaria</label>

                            <input class="form-control" placeholder="Nombre" id="txtNombre5" type="date" required="">
                        </div>

                    </div>

                </div>
            </div>
        </div>

        

    </form>

</div>


