@{
    Layout = null;
}
<style>
    .jumbotron {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .container {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
</style>
<script src="https://www.google.com/cloudprint/client/cpgadget.js">
</script>
<script type="text/javascript">

    var instMensajes = $('[data-remodal-id=modalDialogo]').remodal();
    $(document).ready(function () {
        $.LoadingOverlay("hide");
        debugger;
        //$.ajax({
        //    type: "POST",
        //    url: '/sipamu/Seguridad/ListarUnidades',
        //    dataType: "json",
        //    contentType: "application/json",
        //    processData: true,
        //    success: function (resultado) {
        //        debugger;

        //        $.each(resultado.data, function (key, value) {
        //            $('#cmbUnidad').append($("<option></option>", {
        //                value: value.PKUNIDAD,
        //                text: value.CODIGO + ' ' + value.DESCRIPCION
        //            }));
        //        });

        //        $('#cmbUnidad').selectize({
        //            create: false,
        //            sortField: {
        //                field: 'text',
        //                direction: 'asc'
        //            },
        //            dropdownParent: 'body'
        //        });


        //    },
        //    error: function (xhr, ajaxOptions, error) {
        //        $("#contenedorBotones").show();
        //        $("#contenedorEspera").hide();
        //        $("#txtModalTitulo").css("color", "red");
        //        $("#txtModalTitulo").text("Error al registrar");
        //        $("#txtModalContenido").text("Fallo al comunicarse con el servidor");
        //        instMensajes.open();

        //    }
        //});
        //$.ajax({
        //    type: "POST",
        //    url: '/sipamu/Seguridad/ListarRoles',
        //    dataType: "json",
        //    contentType: "application/json",
        //    processData: true,
        //    success: function (resultado) {
        //        debugger;

        //        $.each(resultado.data, function (key, value) {
        //            $('#cmbRol').append($("<option></option>", {
        //                value: value.PKROL,
        //                text: value.NOMBRE
        //            }));
        //        });

        //        $('#cmbRol').selectize({
        //            create: false,
        //            sortField: {
        //                field: 'text',
        //                direction: 'asc'
        //            },
        //            dropdownParent: 'body'
        //        });


        //    },
        //    error: function (xhr, ajaxOptions, error) {
        //        $("#contenedorBotones").show();
        //        $("#contenedorEspera").hide();
        //        $("#txtModalTitulo").css("color", "red");
        //        $("#txtModalTitulo").text("Error al registrar");
        //        $("#txtModalContenido").text("Fallo al comunicarse con el servidor");
        //        instMensajes.open();

        //    }
        //});
        //PrevenirCaracteresInvalidos();
        debugger;
        document.title = "SIVIO - Editar Persona Usuaria";
        InicializarOtrosEventos();
        InicializarCamposObservaciones();

    });

    function InicializarOtrosEventos() {
        var d = new Date();

        var month = d.getMonth() + 1;
        var day = d.getDate();
        var fechaHoy = (day < 10 ? '0' : '') + day + '/' +
            (month < 10 ? '0' : '') + month + '/' +
            d.getFullYear();

        $("#txtFechaAplicacion").val(fechaHoy);
        $('#txtFechaAplicacion').css("background-color", "#f2f2f2");
        $("#txtFechaAplicacion").prop("readonly", true);



        $.ajax({
            type: "POST",
            url: '@Url.Action("CargarCatalogos")',
            dataType: "json",
            contentType: "application/json",
            processData: true,
            success: function (resultado) {
                debugger;
                var respuesta = JSON.parse(resultado);
                if (respuesta.Mensaje.TipoMensaje === 1) {
                    $.each(respuesta.Catalogo, function(key, value) {
                        $('#comPais').append($("<option/>", {
                            value: value.PK_VALORCATALOGO,
                            text: value.VC_VALOR1
                        }));
                    });

                    $.each(respuesta.Catalogo, function(key, value) {
                        $('#comOtraNacionalidad').append($("<option/>", {
                            value: value.PK_VALORCATALOGO,
                            text: value.VC_VALOR1
                        }));
                    });

                    $.each(respuesta.Catalogo, function(key, value) {
                        $('#comNacionalidad').append($("<option/>", {
                            value: value.PK_VALORCATALOGO,
                            text: value.VC_VALOR1
                        }));
                    });

                    $.each(respuesta.CatalogoCondicionMigratoria, function(key, value) {
                        $('#comMigratoria').append($("<option/>", {
                            value: value.PK_VALORCATALOGO,
                            text: value.VC_VALOR1
                        }));
                    });

                    $.each(respuesta.CatalogoDiscapasidades, function(key, value) {
                        $('#comDiscapacidad').append($("<option/>", {
                            value: value.PK_VALORCATALOGO,
                            text: value.VC_VALOR1
                        }));
                    });
                } else {
                    $("#contenedorBotones").show();
                    $("#contenedorEspera").hide();
                    $("#txtModalTitulo").css("color", "red");
                    $("#txtModalTitulo").text("Error");
                    $("#txtModalContenido").text(respuesta.Mensaje.ContenidoMensaje);
                    instMensajes.open();
                    $.LoadingOverlay("hide");
                    

                }



            },
            error: function (xhr, ajaxOptions, error) {
                $("#contenedorBotones").show();
                $("#contenedorEspera").hide();
                $("#txtModalTitulo").css("color", "red");
                $("#txtModalTitulo").text("Error al registrar");
                $("#txtModalContenido").text("Fallo al comunicarse con el servidor");
                instMensajes.open();
                $.LoadingOverlay("hide");

            }
        });

        function volver() {
            window.location.href = '/sipamu/';
        }

    }

</script>
<style>
    .pad {
        padding-bottom: 3px;
        margin-bottom: 3px;
    }

    .parsley-required {
        color: red;
        font-weight: bold;
    }

    .checkNoSpace {
        padding-left: 0px !important;
    }

    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: white;
    }

    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: white;
        opacity: 1;
    }

    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: white;
        opacity: 1;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white;
    }
</style>

<style>
    input, select, textarea {
        max-width: 100%;
        padding: 4px;
    }

    input {
        background-color: blue;
    }
</style>
<div class="container-fluid" id="contenedorPrincipal">







    <form id="formagregarUsuarios" method="post" style="background-color: whitesmoke;border: 1px solid #E3E3E3;border-radius: 4px;">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#datAdministrativos">
                    <i class="fa fa-file-text" aria-hidden="true"></i>Datos administrativos
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#datUsuaria">
                    <i class="fa fa-address-card" aria-hidden="true"></i>Datos Usuaria
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#valoracion">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Valoración
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#atencion">
                    <i class="fa fa-arrow-up" aria-hidden="true"></i>Atención
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="datAdministrativos" class="tab-pane active">
                <div class="row comunForm">

                    <div class="row">
                        <div class="col-xs-1 form-group">
                            <label>Nombre de Persona Usuaria</label>

                            <input class="form-control" placeholder="Nombre" id="txtNombre1" type="date" required="">
                        </div>

                    </div>

                </div>
            </div>
            <div id="datUsuaria" class="tab-pane">
                <div class="row comunForm">
                    <div class="row">
                        <div class="col-xs-6 form-group">
                            <div class="col-xs-12 form-group">
                                <label>Nombre</label>
                                <input class="form-control" placeholder="Nombre" id="txtNombre" type="text" required="">
                            </div>


                            <div class="col-xs-6 form-group">
                                <label>Edad</label>
                                <input class="form-control" placeholder="Edad" id="intEdad" type="number" required="" min="0">
                            </div>

                            <div class="col-xs-12 form-group">
                                <label>País de Procedencia</label>
                                <select id="comPais" class="form-control"></select>
                            </div>

                            <div class="col-xs-12 form-group">
                                <label>Teléfono</label>
                                <input class="form-control" placeholder="Telefono" id="txtTelefono" type="text" required="">
                            </div>

                            <div class="col-xs-12 form-group">
                                <label>Otra Nacionalidad</label>
                                <select id="comOtraNacionalidad" class="form-control"></select>
                            </div>

                            <div class="col-xs-12 form-group">
                                <label>Condición Migratoria</label>
                                <select id="comMigratoria" class="form-control"></select>
                            </div>

                            <div class="col-xs-12 form-group">
                                <label>Numero de Hijos</label>
                                <input class="form-control" placeholder="Número de Hijos" min="0" id="intHijos" type="number" required="">
                            </div>

                            <div class="col-xs-12 form-group">
                                <label>
                                    <input style="display:inline-block;" id="checkMayorDoce" type="checkbox"> Hijo mayor de 12 años
                                </label>
                            </div>

                            <div class="col-xs-12 form-group">
                                <label>Discapacidades en hijos/hijas</label>
                                <select id="comDiscapacidad" class="form-control"></select>
                            </div>

                        </div>

                        <div class="col-xs-6 form-group">
                            <div class="col-xs-12 form-group">
                                <label>Número Documento de identificación</label>
                                <input class="form-control" placeholder="Número Documento de identificación" id="txtDocId" type="text" required="">
                            </div>

                            <div class="col-xs-12 form-group">
                                <label>Lugar de Procedencia</label>
                            </div>
                            <div class="col-xs-4 form-group">
                                <label>Provincia</label>
                                <select id="comProvincia" class="form-control"></select>
                            </div>
                            <div class="col-xs-4 form-group">
                                <label>Cantón</label>
                                <select id="comCanton" class="form-control"></select>
                            </div>
                            <div class="col-xs-4 form-group">
                                <label>Distrito</label>
                                <select id="comDistrito" class="form-control"></select>
                            </div>

                            <div class="col-xs-12 form-group">
                                <label>Nacionalidad</label>
                                <select id="comNacionalidad" class="form-control"></select>
                            </div>

                            <div class="col-xs-12 form-group">
                                <label>
                                    <input style="display:inline-block;" id="checkApatrida" type="checkbox"> Apátrida
                                </label>
                            </div>

                            <div class="col-xs-12 form-group">
                                <label>Lugar de Trabajo</label>
                                <input class="form-control" placeholder="Lugar de Trabajo" id="txtLugarTrabajo" type="text" required="">
                            </div>

                            <div class="col-xs-4 form-group">
                                <label>
                                    <input style="display:inline-block;" id="checkEmbarazo" type="checkbox"> Embarazo
                                </label>
                            </div>

                            <div class="col-xs-8 form-group">
                                <label>Meses de embarazo</label>
                                <input class="form-control" placeholder="Meses de embarazo" id="intEmbarazo" type="number" required="" min="0">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div id="valoracion" class="tab-pane">
                <div class="row comunForm">

                    <div class="row">
                        <div class="col-xs-4 form-group">
                            <label>Nombre de Persona Usuaria</label>

                            <input class="form-control" placeholder="Nombre" id="txtNombre3" type="date" required="">
                        </div>

                    </div>

                </div>
            </div>
            <div id="atencion" class="tab-pane">
                <div class="row comunForm">

                    <div class="row">
                        <div class="col-xs-4 form-group">
                            <label>Nombre de Persona Usuaria</label>

                            <input class="form-control" placeholder="Nombre" id="txtNombre4" type="date" required="">
                        </div>

                    </div>

                </div>
            </div>
        </div>



    </form>

</div>


