
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
    function llenarComboBox(nombreCatalogo, nombreComboBox) {
        return function (respuesta) {
            var catalogo = respuesta[nombreCatalogo];

            console.log(catalogo);
            debugger;
            if (catalogo.Mensaje.TipoMensaje === 1) {
                $.each(catalogo.Catalogo, function (key, value) {
                    console.log($(nombreComboBox));
                    $(nombreComboBox).append($("<option/>", {
                        value: value.PK_VALORCATALOGO,
                        text: value.VC_VALOR1
                    }));

                });
            } else {
                $("#contenedorBotones").show();
                $("#contenedorEspera").hide();
                $("#txtModalTitulo").css("color", "red");
                $("#txtModalTitulo").text("Error");
                $("#txtModalContenido").text(respuesta.Mensaje.ContenidoMensaje);
                instMensajes.open();
                $.LoadingOverlay("hide");
            }

            return respuesta

        }
    }

    $(document).ready(function () {

        var instMensajes = $('[data-remodal-id=modalDialogo]').remodal();
        $.ajax({
            type: "POST",
            url: '@Url.Action("ListarCatalogosCrearCaso")',
            dataType: "json",
            contentType: "application/json",
            processData: true,
            error: function (xhr, ajaxOptions, error) {
                $("#contenedorBotones").show();
                $("#contenedorEspera").hide();
                $("#txtModalTitulo").css("color", "red");
                $("#txtModalTitulo").text("Error al registrar");
                $("#txtModalContenido").text("Fallo al comunicarse con el servidor");
                instMensajes.open();
                $.LoadingOverlay("hide");

            }
        }).then(function (resultado) {
            var respuesta = JSON.parse(resultado);
            return respuesta;
        }).then(llenarComboBox("CEEAM", "#cmbTipoCEAAM"))
            .then(llenarComboBox("Tipo de Ingreso CEEAM", "#cmbTipoIngreso"))
            .then(llenarComboBox("Tipo de Egreso CEEAM", "#cmbTipoEgreso"))
            .then(llenarComboBox("Orientación Sexual", "#cmbOrientacionSexual"))
            .then(llenarComboBox("Etnia", "#cmbOrigenEtnico"))
            .then(llenarComboBox("Estado Civil", "#cmbCondicionCivil"))
            .then(llenarComboBox("Grado Académico", "#cmbEscolaridad"))
            .then(llenarComboBox("Tipo de Familia", "#cmbTipoFamilia"))
            .then(llenarComboBox("Nacionalidad", "#cmbNacionalidad"))
            .then(llenarComboBox("Nacionalidad", "#cmbOtraNacionalidad"))
            .then(llenarComboBox("Situación Migratoria", "#cmbCondicionMigratoria"))
            .then(llenarComboBox("Situación Laboral", "#cmbCondicionLaboral"))
            //.then(llenarComboBox("", "#cmbCondicionAseguramiento"))
            .then(llenarComboBox("Tipo de vivienda", "#cmbVivienda"))
            .then(llenarComboBox("Adicción", "#cmbAdicciones"))
            //.then(llenarComboBox("TipoDiscapacidad", "#cmbDiscapacidad"))
            //.then(llenarComboBox("Tipo de Respuesta Si o No que incluye la opción \"No especificado\"", "#cmbRespuestaSiNosponible"))
            /*.then(() => {
                $('#btn-login').fadeIn();
                $('#cmbTipoCEAAM').selectize({
                    sortField: 'text',
                    create: false,
                    placeholder: "Tipo de CEAAM",
                });
                $.LoadingOverlay("hide");
            });*/







    });
</script>

<style>
    .jumbotron {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .container {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
</style>
<script src="https://www.google.com/cloudprint/client/cpgadget.js">
</script>


<script type="text/javascript">
    $("#btnCerrarFrmUsuarios").click(function (e) {
        e.preventDefault();
        $("#btnUsuarios").trigger("click");
    });
    var instMensajes = $('[data-remodal-id=modalDialogo]').remodal();
    $(document).ready(function () {
        $.LoadingOverlay("hide");

        document.title = "SIVIO - Editar Persona Usuaria";
        InicializarOtrosEventos();
        InicializarCamposObservaciones();

    });

    function InicializarOtrosEventos() {
        var d = new Date();

        var month = d.getMonth() + 1;
        var day = d.getDate();
        var fechaHoy = (day < 10 ? '0' : '') + day + '/' +
            (month < 10 ? '0' : '') + month + '/' +
            d.getFullYear();

        $("#txtFechaAplicacion").val(fechaHoy);
        $('#txtFechaAplicacion').css("background-color", "#f2f2f2");
        $("#txtFechaAplicacion").prop("readonly", true);



        $("#btnEnviarFormulario").click(function () {

            RegistroUsuario();
            $('#formagregarUsuarios').find('input:text').val('');
            $('textarea:text').val('');


        });

        $("#btnCerrarFrmUsuario").click(function (e) {

            e.preventDefault();
            $("#btnUsuarios").trigger("click");
        });

        $("#btnTerminar").click(function () {

            window.location.href = '/sipamu/';
            setTimeout(volver(), 1000);

        });

        function volver() {
            window.location.href = '/sipamu/';
        }

    }


    function InicializarCamposObservaciones() { }

    function RegistroUsuario() {
        debugger;
        $('#contenedorPrincipal').hide();
        $('#contenedorEspera').fadeIn();
        var resultadoValidacion = $('#formagregarUsuarios').parsley().validate();
        if (resultadoValidacion === true) {
            var formularioAgregarUsuario = $();




            formularioAgregarUsuario.Nombre = $("#txtNombre").val();
            formularioAgregarUsuario.PrimerApellido = $("#txtApellido1").val();
            formularioAgregarUsuario.SegundoApellido = $("#txtApellido2").val();
            formularioAgregarUsuario.NombreUsuario = $("#txtUsuario").val();
            formularioAgregarUsuario.FkUnidad = $("#cmbUnidad").val();
            formularioAgregarUsuario.Rol = $("#cmbRol").val();
            formularioAgregarUsuario.Clave = $("#txtContrasena").val();
            formularioAgregarUsuario.ValidarContrasena = $("#txtValidarContrasena").val();
            formularioAgregarUsuario.Correo = $("txtCorreo").val();

            if (formularioAgregarUsuario.Clave !== formularioAgregarUsuario.ValidarContrasena) {
                $("#contenedorBotones").show();
                $("#contenedorEspera").hide();
                $("#txtModalTitulo").css("color", "red");
                $("#txtModalTitulo").text("Error");
                $("#txtModalContenido").text("Las contraseñas digitadas con coinciden");
                instMensajes.open();

            } else {


                $.ajax({
                    type: "POST",
                    url: '/sipamu/Seguridad/AgregarPersonaUsuaria',
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({
                        objUsuarios: formularioAgregarUsuario
                    }),
                    processData: true,
                    success: function (data) {
                        if (data.TipoMensaje === 1) {

                            $("#contenedorBotones").show();
                            $("#contenedorEspera").hide();
                            $("#txtModalTitulo").css("color", "green");
                            $("#txtModalTitulo").text("Operación Exitosa");
                            $("#txtModalContenido").text(data.ContenidoMensaje);
                            instMensajes.open();





                        } else {
                            $("#contenedorBotones").show();
                            $("#contenedorEspera").hide();
                            $("#txtModalTitulo").css("color", "red");
                            $("#txtModalTitulo").text("Error al registrar");
                            $("#txtModalContenido").text(data.ContenidoMensaje);
                            instMensajes.open();
                        }

                    },
                    error: function (xhr, ajaxOptions, error) {
                        $("#contenedorBotones").show();
                        $("#contenedorEspera").hide();
                        $("#txtModalTitulo").css("color", "red");
                        $("#txtModalTitulo").text("Error al registrar");
                        $("#txtModalContenido").text("Fallo al comunicarse con el servidor");
                        instMensajes.open();

                    }
                });
            }



            debugger;



        } else {
            $("#txtModalTitulo").css("color", "red");
            $("#txtModalTitulo").text("Información Incompleta");
            $("#txtModalContenido").text("El formulario todavía tiene campos pendientes de llenar.");
            instMensajes.open();
        }
        $('#contenedorEspera').fadeOut();
        $('#contenedorPrincipal').fadeIn();

        $("input[name='checkApatrida']").change(function() {
            $("#cmbNacionalidad").toggle();
            $('#cmbOtraNacionalidad').toggle();
        });​​​​​​
        $("input[name='checkApatrida']:checked").change();
    }

    



</script>


<style>
    .pad {
        padding-bottom: 3px;
        margin-bottom: 3px;
    }

    .parsley-required {
        color: red;
        font-weight: bold;
    }

    .checkNoSpace {
        padding-left: 0px !important;
    }

    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: white;
    }

    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: white;
        opacity: 1;
    }

    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: white;
        opacity: 1;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white;
    }
</style>

<style>
    input, select, textarea {
        max-width: 100%;
        padding: 4px;
    }

    input {
        background-color: blue;
    }
</style>
<div class="container-fluid" id="contenedorPrincipal">

    <form id="crearcaso" method="post" style="background-color: whitesmoke;border: 1px solid #E3E3E3;border-radius: 4px;">


        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tabIngresoEgreso">Ingreso y Egreso</a></li>
            <li><a data-toggle="tab" href="#tabPerfilUsuaria">Perfil de Usuaria</a></li>
            <li><a data-toggle="tab" href="#tabHistoriaViolencia">Historia de Violencia</a></li>
            <li><a data-toggle="tab" href="#tabAtenciones">Atenciones</a></li>
            <li><a data-toggle="tab" href="#tabHijosHijas">Hijos e Hijas</a></li>
            <li><a data-toggle="tab" href="#tabSeguimientos">Seguimientos</a></li>
        </ul>

        <div class="tab-content">
            <div id="tabIngresoEgreso" class="tab-pane fade in active" style="padding:5px">
                <h3>Ingreso y Egreso</h3>
                @* Pestaña Ingreso y egreso *@

                <div class="row" id="tabIngresoEgreso">

                    <div class="col-xs-4 form-group">
                        <label>CEAAM al que ingresa:</label><br>
                        <select id="cmbTipoCEAAM" class="form-control" multiple>
                            @*<option selected disabled>Seleccione una opcion</option>*@
                        </select>
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Tipo de ingreso:</label><br>
                        <select id="cmbTipoIngreso" class="form-control">
                            @*/*<option selected disabled>Seleccione una opcion</option>*/*@
                        </select>
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Fecha de ingreso actual:</label>
                        <input class="form-control" id="txtFechaIngresoActual" type="date" required="">
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4 form-group">
                        <label>Fecha de ingreso anterior:</label>
                        <input class="form-control" id="txtFechaIngresoAnterior" type="date" required="">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Hora de ingreso:</label>
                        <input class="form-control" id="txtHoraIngreso" type="time" required="">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Nombre de la persona que recibe el ingreso:</label>
                        <input class="form-control" id="txtNombrePersonaIngreso" type="text" required="">
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4 form-group">
                        <label>Número de familia:</label>
                        <input class="form-control" id="txtNumeroFamilia" type="number" required="">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Fecha de egreso:</label>
                        <input class="form-control" id="txtFechaEgreso" type="date" required="">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Tipo de egreso:</label><br>
                        <select id="cmbTipoEgreso" class="form-control"></select>
                    </div>
                </div>

                <label>Lugar de destino:</label><br>
                <div class="row">
                    <div class="col-xs-4 form-group">
                        <label>Provincia:</label>
                        <input class="form-control" id="txtProvinciaDestino" type="text" required="">
                    </div>
                    <div class="col-xs-4 form-group">
                        <label>Cantón:</label>
                        <input class="form-control" id="txtCantonDestino" type="text" required="">
                    </div>
                    <div class="col-xs-4 form-group">
                        <label>Distrito:</label>
                        <input class="form-control" id="txtDistritoDestino" type="text" required="">
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4 form-group">
                        <label>Telefono:</label>
                        <input class="form-control" id="txtTelefonoDestino" type="text" required="">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Destino fuera de Costa Rica:</label>
                        <input class="form-control" id="txtApellido2" type="text" required="">
                        <input type="radio" name="radioDestino" value="No indica / Confidencial"> No indica / Confidencial
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Entrega del kit de emergencia:</label><br>

                        <input type="radio" name="radioKit" value="Sí"> Sí<br>
                        <input type="radio" name="radioKit" value="No"> No<br>
                        <input type="radio" name="radioKit" value="Rechaza el kit"> Rechaza el kit<br>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 form-group">
                        <label>Fecha de asignación:</label>
                        <input class="form-control" id="txtFechaAsignacion" type="date" required="">
                    </div>
                    <div class="col-xs-6 form-group">
                        <label>Persona responsable:</label>
                        <input class="form-control" id="txtPersonaResponsable" type="text" required="">
                    </div>

                </div>
            </div>





            <div id="tabPerfilUsuaria" class="tab-pane fade" style="padding:5px">
                <h3>Perfil de Usuaria</h3>

                @* Pestaña Perfil de la Usuaria *@

                <div class="row">
                    <div class="col-xs-4 form-group">
                        <label>Edad</label>
                        <input class="form-control" id="txtEdadUsuaria" type="text" required="">
                    </div>
                    <div class="col-xs-4 form-group">
                        <label>Fecha de nacimiento:</label>
                        <input class="form-control" id="txtFechaNacimiento" type="date" required="">
                    </div>
                    <div class="col-xs-4 form-group">
                        <label>Orientación sexual:</label><br>
                        <select id="cmbOrientacionSexual" class="form-control"></select>
                    </div>
                </div>

                <div class="row">


                    <div class="col-xs-4 form-group">
                        <label>Origen Étnico:</label><br>
                        <select id="cmbOrigenEtnico" class="form-control"></select>
                    </div>
                    <div class="col-xs-4 form-group">
                        <label>Condición civil</label><br>
                        <select id="cmbCondicionCivil" class="form-control"></select>
                    </div>
                    <div class="col-xs-4 form-group">
                        <label>Escolaridad</label><br>
                        <select id="cmbEscolaridad" class="form-control"></select>
                    </div>
                </div>



            </div>


        </div>

        <div class="row">

            <div class="col-xs-4 form-group">
                <label>Número total de hijas/os</label> <input class="form-control" id="txtProvinciaDestino" type="number" required="">
            </div>
            <div class="col-xs-4 form-group">
                <label>Número de hijos con los que ingresa al CEAAM</label>
                <input class="form-control" id="txtNumeroHijos" type="number" required="">
            </div>


            <div class="col-xs-4 form-group">
                <label>Tipo de familia</label><br>
                <select id="cmbTipoFamilia" class="form-control"></select>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 form-group">
                <label>Nacionalidad</label><br>
                <select id="cmbNacionalidad" class="form-control"></select>
            </div>
            <div class="col-xs-4 form-group">
                <label>Otra nacionalidad</label><br>
                <select id="cmbOtraNacionalidad" class="form-control"></select>
            </div>
            <div class="col-xs-4 form-group">
                <label><input type="checkbox" id="checkApatrida" value="Apatrida"> Apátrida</label>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 form-group">
                <label>Condición migratoria</label><br>
                <select id="cmbCondicionMigratoria" class="form-control"></select>
            </div>
            <div class="col-xs-4 form-group">
                <label>Ocupación</label>
                <input class="form-control" id="txtOcupacion" type="text" required="">
            </div>
            <div class="col-xs-4 form-group">
                <label>Condición laboral</label><br>
                <select id="cmbCondicionLaborarl" class="form-control"></select>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 form-group">
                <label>Experiencia Laboral</label><br>
                <select id="cmbExperienciaLaboral" class="form-control"></select>
           </div>
           <div class="col-xs-4 form-group">
                <label>Lugar de trabajo</label><br>
                <input class="form-control" id="txtLugarTrabajo" type="text" required="">
           </div>
            <div class="col-xs-4 form-group">
                <label>Condición de aseguramiento</label><br>
                <select id="cmbCondAseguramiento" class="form-control"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 form-group">
                <label> </label><br>
                <label>Vivienda</label><br>
                <select id="cmbVivienda" class="form-control"></select>
            </div>
            
            <div class="col-xs-4 form-group">
                
                <label>Condiciones especiales y de salud</label><br />
                <label>Discapacidad</label>
                <select id="cmbDiscapacidad" class="form-control"></select>
            </div>
            <div class="col-xs-4 form-group">
                <label> </label><br>
                <label>Adicciones</label><br>
                <select id="cmbAdicciones" class="form-control"></select>
            </div>
        </div>
        <label>Redes de Apoyo o Recursos con los que cuenta la usuaria  </label><label><input type="checkbox" id="checkRedesApoyo" value="No tiene"> No tiene</label><br>
        <label>Primaria</label>
        <div class="row">
            
            <div class="col-xs-4 form-group">
                
                <label>Nombre</label>
                <input class="form-control" id="txtNombreRedApoyo1" type="text" required="">
            </div>
            <div class="col-xs-4 form-group">
              
                <label>Relación</label>
                <input class="form-control" id="txtRelacionRedApoyo1" type="text" required="">
            </div>
            <div class="col-xs-4 form-group">
                
                <label>Teléfono</label>
                <input class="form-control" id="txtTeléfonoRedApoyo1" type="text" required="">
            </div>
                
        </div>
        <div class="row">

            <div class="col-xs-4 form-group">

                <label>Nombre</label>
                <input class="form-control" id="txtNombreRedApoyo2" type="text" required="">
            </div>
            <div class="col-xs-4 form-group">

                <label>Relación</label>
                <input class="form-control" id="txtRelacionRedApoyo2" type="text" required="">
            </div>
            <div class="col-xs-4 form-group">

                <label>Teléfono</label>
                <input class="form-control" id="txtTeléfonoRedApoyo2" type="text" required="">
            </div>

        </div>
        <div class="row">

            <div class="col-xs-4 form-group">

                <label>Nombre</label>
                <input class="form-control" id="txtNombreRedApoyo3" type="text" required="">
            </div>
            <div class="col-xs-4 form-group">

                <label>Relación</label>
                <input class="form-control" id="txtRelacionRedApoyo3" type="text" required="">
            </div>
            <div class="col-xs-4 form-group">

                <label>Teléfono</label>
                <input class="form-control" id="txtTeléfonoRedApoyo3" type="text" required="">
            </div>

        </div>
        <label>Secundaria</label>
        <div class="row">

            <div class="col-xs-4 form-group">

                <label>Nombre</label>
                <input class="form-control" id="txtNombreRedApoyo4" type="text" required="">
            </div>
            <div class="col-xs-4 form-group">

                <label>Relación</label>
                <input class="form-control" id="txtRelacionRedApoyo4" type="text" required="">
            </div>
            <div class="col-xs-4 form-group">

                <label>Teléfono</label>
                <input class="form-control" id="txtTeléfonoRedApoyo4" type="text" required="">
            </div>

        </div> 
        <div class="row">

            <div class="col-xs-4 form-group">

                <label>Nombre</label>
                <input class="form-control" id="txtNombreRedApoyo5" type="text" required="">
            </div>
            <div class="col-xs-4 form-group">

                <label>Relación</label>
                <input class="form-control" id="txtRelacionRedApoyo5" type="text" required="">
            </div>
            <div class="col-xs-4 form-group">

                <label>Teléfono</label>
                <input class="form-control" id="txtTeléfonoRedApoyo5" type="text" required="">
            </div>

        </div>
        <div class="row">

            <div class="col-xs-4 form-group">

                <label>Nombre</label>
                <input class="form-control" id="txtNombreRedApoyo6" type="text" required="">
            </div>
            <div class="col-xs-4 form-group">

                <label>Relación</label>
                <input class="form-control" id="txtRelacionRedApoyo6" type="text" required="">
            </div>
            <div class="col-xs-4 form-group">

                <label>Teléfono</label>
                <input class="form-control" id="txtTeléfonoRedApoyo6" type="text" required="">
            </div>

        </div>  
        <label>Institucional</label>
        <div class="row">

            <div class="col-xs-4 form-group">

                <label>Nombre</label>
                <input class="form-control" id="txtNombreRedApoyo7" type="text" required="">
            </div>
            <div class="col-xs-4 form-group">

                <label>Institución</label>
                <input class="form-control" id="txtRelacionRedApoyo7" type="text" required="">
            </div>
            <div class="col-xs-4 form-group">

                <label>Teléfono</label>
                <input class="form-control" id="txtTeléfonoRedApoyo7" type="text" required="">
            </div>

        </div> 
        <div class="row">

            <div class="col-xs-4 form-group">

                <label>Nombre</label>
                <input class="form-control" id="txtNombreRedApoyo8" type="text" required="">
            </div>
            <div class="col-xs-4 form-group">

                <label>Institución</label>
                <input class="form-control" id="txtRelacionRedApoyo8" type="text" required="">
            </div>
            <div class="col-xs-4 form-group">

                <label>Teléfono</label>
                <input class="form-control" id="txtTeléfonoRedApoyo8" type="text" required="">
            </div>

        </div>
</div>






<div id="tabHistoriaViolencia" class="tab-pane fade" style="padding:5px">
    <h3>Historia de Violencia</h3>
    @* Pestaña Historia de violencia *@
    <div id="tabHistoriaViolencia">
        <div class="row" id="tabHIstoriaViolencia">

            <div class="col-xs-4 form-group">
                <label>Nombre de persona agresora:</label>

                <input class="form-control" id="txtPersonaAgresora" type="text" required="">
            </div>

            <div class="col-xs-4 form-group">
                <label>Edad:</label>

                <input class="form-control" id="txtEdad" type="text" required="">
            </div>

            <div class="col-xs-4 form-group">
                <label>Género</label><br>

                <div class="row">
                    <div class="col-xs-1"><span data-toggle="tooltip" title="Género" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                    <div class="col-xs-11">
                        <select id="cmbGenero" class="form-control"></select>
                    </div>
                </div>
            </div>

            <div class="col-xs-4 form-group">
                <label>Nacionalidad</label><br>

                <div class="row">
                    <div class="col-xs-1"><span data-toggle="tooltip" title="Nacionalidad" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                    <div class="col-xs-11">
                        <select id="cmbNacionalidad" class="form-control"></select>
                    </div>
                </div>
            </div>

            <div class="col-xs-4 form-group">
                <label>Escolaridad</label><br>

                <div class="row">
                    <div class="col-xs-1"><span data-toggle="tooltip" title="Escolaridad" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                    <div class="col-xs-11">
                        <select id="cmbEscolaridad" class="form-control"></select>
                    </div>
                </div>
            </div>

            <div class="col-xs-4 form-group">
                <label>Ocupación:</label>

                <input class="form-control" id="txtOcupacion" type="text" required="">
            </div>

            <div class="col-xs-4 form-group">
                <label>Lugar de trabajo:</label>

                <input class="form-control" id="txtLugarTrabajo" type="text" required="">
            </div>

            <div class="col-xs-4 form-group">
                <label>Adicciones:</label><br>

                <div class="row">
                    <div class="col-xs-1"><span data-toggle="tooltip" title="Adicciones:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                    <div class="col-xs-11">
                        <select id="cmbAdicciones" class="form-control"></select>
                    </div>
                </div>
            </div>


            <div class="col-xs-4 form-group">
                <label>Vínculo con la usuaria:</label>

<<<<<<< HEAD
                        <h3>Atenciones</h3>
                       
                        <label>Legal</label><br>
                        <input type="checkbox" name="radioApoyo" value="No desea recibir atencion"> No desea recibir atención<br>
                        <label>Fecha de la atención o sesión realizada</label><br>
                        <input class="form-control" id="txtFechaAtencion" type="date" required=""><br>
                        <label>Objetivo de la atención</label><br>
                        <input class="form-control" id="txtObjetivoAtencion" type="text" required=""><br>
                        <label>Resumen de la atención</label><br>
                        <input class="form-control" id="txtResumenAtencion" type="text" required=""><br>

                        <table style="width:100%">
                            <tr>
                                <td>
                                    <input type="checkbox" name="radioAtenciones" value="Asesoria en vioencia doméstica"> Asesoria en vioencia doméstica<br>
                                </td>
                                <td>
                                    <input type="checkbox" name="radioAtenciones" value="Solicitud de medidas de proteccion"> Solicitud de medidas de proteccion<br>
                                </td>
                                <td>
                                    <input type="checkbox" name="radioAtenciones" value="Asesoria en separacion, divorcio, union de hecho, ganancialidad"> Asesoria en separacion, divorcio, union de hecho, ganancialidad<br>
                                </td>
                                <td>
                                    <input type="checkbox" name="radioAtenciones" value="Asesoría en hostigamiento sexual"> Asesoría en hostigamiento sexual<br>
                                </td>
                                <td>
                                    <input type="checkbox" name="radioAtenciones" value="Asesoría en pensión alimentaria"> Asesoría en pensión alimentaria<br>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" name="radioAtenciones" value="Asesoría en autoridad parental"> Asesoría en autoridad parental<br>
                                </td>
                                <td>
                                    <input type="checkbox" name="radioAtenciones" value="Asesoría en filiación"> Asesoría en filiación<br>
                                </td>
                                <td>
                                    <input type="checkbox" name="radioAtenciones" value="Asesoría en procesos penales"> Asesoría en procesos penales<br>
                                </td>
                                <td>
                                    <input type="checkbox" name="radioAtenciones" value="Asesoría en ley de penalización VcM"> Asesoría en ley de penalización VcM<br>
                                </td>
                                <td>
                                    <input type="checkbox" name="radioAtenciones" value="Asesoría en derechos humanos"> Asesoría en derechos humanos<br>
                                </td>
                            </tr>
                        </table>
                        <!--Formulario-->
=======
                <input class="form-control" id="txtVinculoUsuaria" type="text" required="">
            </div>

            <div class="col-xs-4 form-group">
                <label>Tiempo de la relación:</label>
>>>>>>> 449280153aa604cd2e3e5baea25f8654a14ffc38

                <input class="form-control" id="txtTiempoRelacion" type="text" required="">
            </div>

            <div class="col-xs-4 form-group">
                <label>Tiempo de la agresión:</label>

                <input class="form-control" id="txtTiempoAgresion" type="text" required="">
            </div>

            <div class="col-xs-4 form-group">
                <label>Número de separaciones de la persona agresora:</label><br>

                <div class="row">
                    <div class="col-xs-1"><span data-toggle="tooltip" title="Número de separaciones de la persona agresora:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                    <div class="col-xs-11">
                        <select id="cmbNumeroSeparacionesPersonaAgresora" class="form-control"></select>
                    </div>
                </div>
            </div>

            <div class="col-xs-4 form-group">
                <label>Motivos para regresar:</label><br>

                <div class="row">
                    <div class="col-xs-1"><span data-toggle="tooltip" title="Motivos para regresar:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                    <div class="col-xs-11">
                        <select id="cmbMotivosRegresar" class="form-control"></select>
                    </div>
                </div>
            </div>

<<<<<<< HEAD
                        <label>Nombre</label><br>
                        <input class="form-control" id="txtNombre" type="text" required=""><br>
                        <label>Sexo</label><br>
                        <table style="width:30%">
                            <tr>
                                <td>
                                    <input type="radio" name="radioSexo" value="Hombre">Hombre<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioSexo" value="Mujer"> Mujer<br>
                                </td>
                            </tr>
                        </table>

                        <label>Fecha de nacimiento</label><br>
                        <input class="form-control" id="txtEdad" type="date" required=""><br>
                        <label>Edad</label><br>
                        <input class="form-control" id="txtEdad" type="number" required=""><br>
                        <label>Nacionalidad</label><br>
                        <input class="form-control" id="txtEdad" type="text" required=""><br>
                        <label>Escolaridad</label><br>
                        <table style="width:40%">
                            <tr>
                                <td>
                                    <input type="radio" name="radioEscolaridad" value="Ningún grado"> Ningún grado<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioEscolaridad" value="Materno"> Materno<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioEscolaridad" value="Kinder"> Kinder<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioEscolaridad" value="Primaria"> Primaria<br>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" name="radioEscolaridad" value="Secundaria"> Secundaria<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioEscolaridad" value="Aula abierta"> Aula abierta<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioEscolaridad" value="Universitaria"> Universitaria<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioEscolaridad" value="Para universitaria"> Para universitaria<br>
                                </td>
                            </tr>
                        </table>

                        <label>Parentesco con la usuaria</label><input class="form-control" id="txtParentesco" type="text" required=""><br>

                        <label>Condiciones especiales y de salud</label>
                        <div class="col-xs-4 form-group">
                            <label>Discapacidad</label><br>
                            <input type="checkbox" name="fisica" value="fisica">Física<br>
                            <input type="checkbox" name="cognitiva" value="cognitiva">Cognitiva<br>
                            <input type="checkbox" name="mental" value="mental">Mental<br>
                            <input type="checkbox" name="sensorial" value="sensorial">Sensorial<br>
                            <input type="checkbox" name="sensorial" value="Padecimientos crónicos">Padecimientos crónicos<br>
                            <input type="checkbox" name="sensorial" value="Alergias">Alergias<br>
                            <input type="checkbox" name="sensorial" value="VIH-SIDA">VIH-SIDA<br>
                            <input type="checkbox" name="sensorial" value="Problemas respiratorios">Problemas respiratorios<br>
                        </div>
                        <label>Tipo de maltrato vivido</label>
                        <table style="width:20%">
                            <tr>
                                <td>
                                    <input type="checkbox" name="checkMaltrato" value="Psicológico"> Psicológico<br>
                                </td>
                                <td>
                                    <input type="checkbox" name="checkMaltrato" value="Físico"> Físico<br>
                                </td>
                                <td>
                                    <input type="checkbox" name="checkMaltrato" value="Bullying"> Bullying<br>
                                </td>
                            </tr>
                        </table>

                        <label>Abuso sexual</label>
                        <table style="width:30%">
                            <tr>
                                <td>
                                    <input type="radio" name="radioAbuso" value="No"> No<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioAbuso" value="Sí, con denuncia"> Sí, con denuncia<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioAbuso" value="Sí, sin denuncia"> Sí, sin denuncia<br>
                                </td>
                            </tr>
                        </table>

                        <label>Parentesco del presunto ofensor</label><input class="form-control" id="txtOfensor" type="text" required=""><br>
                                <!--Formulario-->
=======
            <div class="col-xs-4 form-group">
                <label>Antecedentes legales:</label><br>
>>>>>>> 449280153aa604cd2e3e5baea25f8654a14ffc38

                <div class="row">
                    <div class="col-xs-1"><span data-toggle="tooltip" title="Antecedentes legales:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                    <div class="col-xs-11">
                        <select id="cmbAntecedentesLegales" class="form-control"></select>
                    </div>
                </div>
            </div>


            <div class="col-xs-4 form-group">
                <label>Antecedentes psiquiátricos:</label><br>

                <div class="row">
                    <div class="col-xs-1"><span data-toggle="tooltip" title="Antecedentes psiquiátricos:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                    <div class="col-xs-11">
                        <select id="cmbAntecedentespsiquiatricos" class="form-control"></select>
                    </div>
                </div>
            </div>

            <div class="col-xs-4 form-group">
                <label>Atención médica producto de la agresión:</label><br>

                <div class="row">
                    <div class="col-xs-1"><span data-toggle="tooltip" title="Atención médica producto de la agresión:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                    <div class="col-xs-11">
                        <select id="cmbAtencionMedicaProductoDeAgresion" class="form-control"></select>
                    </div>
                </div>
            </div>


            <div class="col-xs-4 form-group">
                <label>Nombre del centro de salud:</label>

                <input class="form-control" id="txtCentroSalud" type="text" required="">
            </div>


            <div class="col-xs-4 form-group">
                <label>Tipo de violencia:</label><br>

                <div class="row">
                    <div class="col-xs-1"><span data-toggle="tooltip" title="Tipo de violencia:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                    <div class="col-xs-11">
                        <select id="cmbTipoViolencia" class="form-control"></select>
                    </div>
                </div>
            </div>


            <div class="col-xs-4 form-group">
                <label>Impacto de la violencia:</label><br>

                <div class="row">
                    <div class="col-xs-1"><span data-toggle="tooltip" title="Impacto de la violencia:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                    <div class="col-xs-11">
                        <select id="cmbImpactoViolencia" class="form-control"></select>
                    </div>
                </div>
            </div>


            <div class="col-xs-4 form-group">
                <label>Valoración de riesgo:</label><br>

                <div class="row">
                    <div class="col-xs-1"><span data-toggle="tooltip" title="Valoración de riesgo:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                    <div class="col-xs-11">
                        <select id="cmbValoracionRiesgo" class="form-control"></select>
                    </div>
                </div>
            </div>


            <div class="col-xs-4 form-group">
                <label>Condición legal al ingreso:</label><br>

                <div class="row">
                    <div class="col-xs-1"><span data-toggle="tooltip" title="Condición legal al ingreso:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                    <div class="col-xs-11">
                        <select id="cmbCondicionLegalIngreso" class="form-control"></select>
                    </div>
                </div>
            </div>

            <div class="col-xs-4 form-group">
                <label>Medidas de protección:</label><br>

                <div class="row">
                    <div class="col-xs-1"><span data-toggle="tooltip" title="Medidas de protección:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                    <div class="col-xs-11">
                        <select id="cmbMedidasProteccion" class="form-control"></select>
                    </div>
                </div>
            </div>

            <div class="col-xs-4 form-group">
                <label>Se encuentra con el programa OAPVD:</label><br>

                <div class="row">
                    <div class="col-xs-1"><span data-toggle="tooltip" title="Se encuentra con el programa OAPVD:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                    <div class="col-xs-11">
                        <select id="cmbEncuentraEnProgramaOAPVD" class="form-control"></select>
                    </div>
                </div>
            </div>

            <div class="col-xs-4 form-group">
                <label>Violencia fisica:</label><br>

                <input type="checkbox" name="checkboxViolenciaFisica" value="Le ha lanzado cualquier tipo de objetos"> Le ha lanzado cualquier tipo de objetos<br>
                <input type="checkbox" name="checkboxViolenciaFisica" value="La ha empujado o zarandeado"> La ha empujado o zarandeado<br>
                <input type="checkbox" name="checkboxViolenciaFisica" value="La ha tirado/halado el pelo"> La ha tirado/halado el pelo<br>
                <input type="checkbox" name="checkboxViolenciaFisica" value="Le ha dado golpe en la cara"> Le ha dado golpe en la cara<br>
                <input type="checkbox" name="checkboxViolenciaFisica" value="La patearon"> La patearon<br>
                <input type="checkbox" name="checkboxViolenciaFisica" value="Le ha causado fracturas"> Le ha causado fracturas<br>
                <input type="checkbox" name="checkboxViolenciaFisica" value="La tiraron al piso"> La tiraron al piso<br>
                <input type="checkbox" name="checkboxViolenciaFisica" value="Ha intentado ahorcarla o asfixiarla"> Ha intentado ahorcarla o asfixiarla<br>
                <input type="checkbox" name="checkboxViolenciaFisica" value="Le ha impedido el acceso a los alimentos"> Le ha impedido el acceso a los alimentos<br>
                <input type="checkbox" name="checkboxViolenciaFisica" value="La ha amenazado con un arma de fuego"> La ha amenazado con un arma de fuego<br>
                <input type="checkbox" name="checkboxViolenciaFisica" value="La ha amenazado con arma punzo cortante"> La ha amenazado con arma punzo cortante<br>
                <input type="checkbox" name="checkboxViolenciaFisica" value="La ha quemado en alguna parte del cuerpo"> La ha quemado en alguna parte del cuerpo<br>
                <input type="checkbox" name="checkboxViolenciaFisica" value="Ha utilizado contra usted algún objeto"> Ha utilizado contra usted algún objeto<br>
                <input type="checkbox" name="checkboxViolenciaFisica" value="Ha utilizado contra usted un arma de fuego"> Ha utilizado contra usted un arma de fuego<br>
                <input type="checkbox" name="checkboxViolenciaFisica" value="La ha amarrado para impedirle salir/hacer sus cosas"> La ha amarrado para impedirle salir/hacer sus cosas<br>
                <input type="checkbox" name="checkboxViolenciaFisica" value="Ha utilizado contra usted algún arma punzo cortante"> Ha utilizado contra usted algún arma punzo cortante<br>
                <input type="checkbox" name="checkboxViolenciaFisica" value="Le ha pegado con la mano en cualquier otra parte del cuerpo"> Le ha pegado con la mano en cualquier otra parte del cuerpo<br>
                <input type="checkbox" name="checkboxViolenciaFisica" value="La ha mordido y dejado marcas de dientes en el cuerpo"> La ha mordido y dejado marcas de dientes en el cuerpo<br>
                <input type="checkbox" name="checkboxViolenciaFisica" value="Le ha dado algo para envenenarla/intoxicarla"> Le ha dado algo para envenenarla/intoxicarla<br>
                <input type="checkbox" name="checkboxViolenciaFisica" value="Ha amenazado con un objeto, palo o garrote"> Ha amenazado con un objeto, palo o garrote<br>
                <input type="checkbox" name="checkboxViolenciaFisica" value="Le ha ocurrido alguna otra situación similar."> Le ha ocurrido alguna otra situación similar.
                <label>Cual:</label>
                <input class="form-control" id="txtViolenciaFisicaCual" type="text" required="">
            </div>

            <div class="col-xs-4 form-group">
                <label>Violencia psicológica:</label><br>

                <input type="checkbox" name="checkboxViolenciaPsicologica" value="Se ha referido a usted con palabras groseras o agresivas"> Se ha referido a usted con palabras groseras o agresivas<br>
                <input type="checkbox" name="checkboxViolenciaPsicologica" value="La ha humillado"> La ha humillado<br>
                <input type="checkbox" name="checkboxViolenciaPsicologica" value="No le presta la debida atención"> No le presta la debida atención<br>
                <input type="checkbox" name="checkboxViolenciaPsicologica" value="La ha seguido, vigilado"> La ha seguido, vigilado<br>
                <input type="checkbox" name="checkboxViolenciaPsicologica" value="Ha registrado sus objetos personales"> Ha registrado sus objetos personales<br>
                <input type="checkbox" name="checkboxViolenciaPsicologica" value="La ha amenazado de muerte"> La ha amenazado de muerte<br>
                <input type="checkbox" name="checkboxViolenciaPsicologica" value="La ha criticado sobre lo que hace o deja de hacer"> La ha criticado sobre lo que hace o deja de hacer<br>
                <input type="checkbox" name="checkboxViolenciaPsicologica" value="Le ha impedido que planifique y controle los embarazos"> Le ha impedido que planifique y controle los embarazos<br>
                <input type="checkbox" name="checkboxViolenciaPsicologica" value="La ha culpado de las cosas que no salen bien"> La ha culpado de las cosas que no salen bien<br>
                <input type="checkbox" name="checkboxViolenciaPsicologica" value="La ha acusado de serle infiel"> La ha acusado de serle infiel<br>
                <input type="checkbox" name="checkboxViolenciaPsicologica" value="La ha dejado encerrada"> La ha dejado encerrada<br>
                <input type="checkbox" name="checkboxViolenciaPsicologica" value="La ha ignorado y no la toma en cuenta en las decisiones"> La ha ignorado y no la toma en cuenta en las decisiones<br>
                <input type="checkbox" name="checkboxViolenciaPsicologica" value="Le ha prohibido amistades o visitar a amigos y familiares"> Le ha prohibido amistades o visitar a amigos y familiares<br>
                <input type="checkbox" name="checkboxViolenciaPsicologica" value="Le ha impedido realizar actividades fuera de la casa"> Le ha impedido realizar actividades fuera de la casa<br>
                <input type="checkbox" name="checkboxViolenciaPsicologica" value="Le ha impedido ir al médico o no se preocupa por su salud"> Le ha impedido ir al médico o no se preocupa por su salud<br>
                <input type="checkbox" name="checkboxViolenciaPsicologica" value="La ha amenazado con quitarle los hijos y/o no verlos"> La ha amenazado con quitarle los hijos y/o no verlos<br>
                <input type="checkbox" name="checkboxViolenciaPsicologica" value="Se ha burlado de usted en distintos aspectos"> Se ha burlado de usted en distintos aspectos<br>
                <input type="checkbox" name="checkboxViolenciaPsicologica" value="La ha amenazado para que no tramite pensión"> La ha amenazado para que no tramite pensión<br>
                <input type="checkbox" name="checkboxViolenciaPsicologica" value="Le ha ocurrido alguna otra situación similar."> Le ha ocurrido alguna otra situación similar.
                <label>Cual:</label>
                <input class="form-control" id="txtViolenciaPsicologicaCual" type="text" required="">
            </div>

            <div class="col-xs-4 form-group">
                <label>Violencia sexual:</label><br>

                <input type="checkbox" name="checkboxViolenciaSexual" value="Se ha burlado/criticado de su comportamiento sexual"> Se ha burlado/criticado de su comportamiento sexual<br>
                <input type="checkbox" name="checkboxViolenciaSexual" value="No toma en consideración sus necesidades y sentimientos sexuales"> No toma en consideración sus necesidades y sentimientos sexuales<br>
                <input type="checkbox" name="checkboxViolenciaSexual" value="La ha asediado sexualmente en momentos inoportunos"> La ha asediado sexualmente en momentos inoportunos<br>
                <input type="checkbox" name="checkboxViolenciaSexual" value="La ha insultado diciéndole “puta, “frígida” u otras palabras ofensivas"> La ha insultado diciéndole “puta, “frígida” u otras palabras ofensivas<br>
                <input type="checkbox" name="checkboxViolenciaSexual" value="Ha intentado besarla/la ha besado a la fuerza"> Ha intentado besarla/la ha besado a la fuerza<br>
                <input type="checkbox" name="checkboxViolenciaSexual" value="Le ha hecho comentarios obscenos o morbosos"> Le ha hecho comentarios obscenos o morbosos<br>
                <input type="checkbox" name="checkboxViolenciaSexual" value="Ha intentado/le ha introducido objetos por el ano"> Ha intentado/le ha introducido objetos por el ano<br>
                <input type="checkbox" name="checkboxViolenciaSexual" value="Ha intentado/le ha introducido objetos por vagina"> Ha intentado/le ha introducido objetos por vagina<br>
                <input type="checkbox" name="checkboxViolenciaSexual" value="Ha intentado/ha tenido sexo oral sin su permiso"> Ha intentado/ha tenido sexo oral sin su permiso<br>
                <input type="checkbox" name="checkboxViolenciaSexual" value="Ha intentado/le ha quitado su ropa sin que usted lo quiera"> Ha intentado/le ha quitado su ropa sin que usted lo quiera<br>
                <input type="checkbox" name="checkboxViolenciaSexual" value="Le ha mostrado material pornográfico sin que usted lo quiera"> Le ha mostrado material pornográfico sin que usted lo quiera<br>
                <input type="checkbox" name="checkboxViolenciaSexual" value="La ha tocado  partes de su cuerpo sin que usted quiera"> La ha tocado  partes de su cuerpo sin que usted quiera<br>
                <input type="checkbox" name="checkboxViolenciaSexual" value="La ha obligado a que sostenga relaciones sexuales con animales"> La ha obligado a que sostenga relaciones sexuales con animales<br>
                <input type="checkbox" name="checkboxViolenciaSexual" value="La ha obligado a tener sexo con otras personas para observar"> La ha obligado a tener sexo con otras personas para observar<br>
                <input type="checkbox" name="checkboxViolenciaSexual" value="La ha hecho/mencionado propuestas sexuales que sean incómodas"> La ha hecho/mencionado propuestas sexuales que sean incómodas<br>
                <input type="checkbox" name="checkboxViolenciaSexual" value="La ha obligado a que observe a otras personas teniendo sexo"> La ha obligado a que observe a otras personas teniendo sexo<br>
                <input type="checkbox" name="checkboxViolenciaSexual" value="La ha chantajeado para que tenga relaciones sexuales con él"> La ha chantajeado para que tenga relaciones sexuales con él<br>
                <input type="checkbox" name="checkboxViolenciaSexual" value="La ha agredido si se niega a tener sexo con él"> La ha agredido si se niega a tener sexo con él<br>
                <input type="checkbox" name="checkboxViolenciaSexual" value="La ha obligado a tener sexo con otras personas por dinero"> La ha obligado a tener sexo con otras personas por dinero<br>
                <input type="checkbox" name="checkboxViolenciaSexual" value="La ha obligado tener relaciones sexuales con él"> La ha obligado tener relaciones sexuales con él<br>
                <input type="checkbox" name="checkboxViolenciaSexual" value="Le ha ocurrido alguna otra situación similar."> Le ha ocurrido alguna otra situación similar.
                <label>Cual:</label>
                <input class="form-control" id="txtViolenciaSexualCual" type="text" required="">
            </div>

            <div class="col-xs-4 form-group">
                <label>Violencia patrimonial:</label><br>

                <input type="checkbox" name="checkboxViolenciaPatrimonial" value="La ha amenazado con quitarle los bienes"> La ha amenazado con quitarle los bienes<br>
                <input type="checkbox" name="checkboxViolenciaPatrimonial" value="Se ha apropiado de sus bienes a través de engaños, amenazas o chantaje afectivo"> Se ha apropiado de sus bienes a través de engaños, amenazas o chantaje afectivo<br>
                <input type="checkbox" name="checkboxViolenciaPatrimonial" value="La ha obligado a entregar su salario o ingresos"> La ha obligado a entregar su salario o ingresos<br>
                <input type="checkbox" name="checkboxViolenciaPatrimonial" value="Sus bienes aparecen a nombre de persona agresora"> Sus bienes aparecen a nombre de persona agresora<br>
                <input type="checkbox" name="checkboxViolenciaPatrimonial" value="La ha obligado a adquirir deudas para beneficio económico de él/ella"> La ha obligado a adquirir deudas para beneficio económico de él/ella<br>
                <input type="checkbox" name="checkboxViolenciaPatrimonial" value="Sus bienes son manejados por personas que no le dejan utilizarlo"> Sus bienes son manejados por personas que no le dejan utilizarlo<br>
                <input type="checkbox" name="checkboxViolenciaPatrimonial" value="Le ha destruido objetos de valor para usted (afectivos-históricos)"> Le ha destruido objetos de valor para usted (afectivos-históricos)<br>
                <input type="checkbox" name="checkboxViolenciaPatrimonial" value="Le quita o restringe el dinero para satisfacer sus necesidades"> Le quita o restringe el dinero para satisfacer sus necesidades<br>
                <input type="checkbox" name="checkboxViolenciaPatrimonial" value="La ha amenazado para que no interponga la pensión alimentaria"> La ha amenazado para que no interponga la pensión alimentaria<br>
                <input type="checkbox" name="checkboxViolenciaPatrimonial" value="Incumple con el pago de la pensión alimentaria"> Incumple con el pago de la pensión alimentaria<br>
                <input type="checkbox" name="checkboxViolenciaPatrimonial" value="La amenaza con no comprar alimentos o necesidades básicas"> La amenaza con no comprar alimentos o necesidades básicas<br>
                <input type="checkbox" name="checkboxViolenciaPatrimonial" value="Le ha ocurrido alguna otra situación similar."> Le ha ocurrido alguna otra situación similar.
                <label>Cual:</label>
                <input class="form-control" id="txtViolenciaPatrimonialCual" type="text" required="">
            </div>

        </div>
    </div>

</div>

<div id="tabAtenciones" class="tab-pane fade" style="padding:5px">

    <h3>Atenciones</h3>

    @* Pestaña Atenciones *@

    <div class="row" id="tabAtenciones">

        <!--Formulario-->

    </div>
</div>

<div id="tabHijosHijas" class="tab-pane fade" style="padding:5px">
    <h3>Hijos e Hijas</h3>
    @* Pestaña Hijos e Hijas *@
    <div class="row" id="tabHijosHijas">
        <!--Formulario-->
    </div>
</div>

<div id="tabSeguimientos" class="tab-pane fade" style="padding:5px">
    <h3>Seguimientos</h3>
    @* Pestaña Seguimientos *@

    <div class="row" id="tabSeguimientos">
        <!--Formulario-->
    </div>
</div>

</div>



@*
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <div class="row comunForm">
                <div class="row">
                    <div class="col-xs-10">
                    </div>
                    <div class="col-xs-2">
                        <button class="botonCerrar danger" id="btnCerrarFrmUsuarios">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>


                Aqui iban los divs

                <div class="row" id="contenedorBotones">

                    <div class="col-md-12" style="text-align: center; margin-bottom: 5px">
                        <button type="button" id="btnEnviarFormulario" class="btn btn-default btn-responsive" style="color: white; background-color: #368DE9; border-color: #368DE9; margin-bottom: 1px; ">Registrar un nuevo caso</button>

                    </div>

                </div>

            </div>

        </div>
    </div>
*@


    </form>

</div>

