@{
    Layout = null;
}
<script type="text/javascript">
    $(document).ready(function () {
        
    });
</script>

table {
    border-collapse: collapse;
}

<!--Para generar dos columnas
#content-wrapper
{
    width: 60%;
    height: 60%;
    top: 0px;
    left: 0px;
    position: absolute;
}

#nav
{
    width: 100px;
}
-->

<form id="formagregarUsuarios" method="post" style="background-color: whitesmoke;border: 1px solid #E3E3E3;border-radius: 4px;">
    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="#home">
                <i class="fa fa-user" aria-hidden="true"></i>Información de Persona Usuaria
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <div class="row comunForm">
                <div class="row">
                    <div class="col-xs-10">
                    </div>
                    <div class="col-xs-2">
                        <button class="botonCerrar danger" id="btnCerrarFrmUsuarios">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

                <!--Inicio de filas-->
                <table width=90% border="0" cellspacing="100" align="right" >
                        <td style="top">
                            <div class="row">

                                <div class="col-xs-5 form-group">
                                    <label>Nombre de Persona Usuaria</label>

                                    <input class="form-control" placeholder="Nombre" id="txtNombre" type="text" required="">
                                </div>

                                <div class="col-xs-5 form-group">
                                    <label>Primer Apellido</label>

                                    <input class="form-control" placeholder="Primer Apellido" id="txtApellido1" type="text" required="">
                                </div>


                            </div>



                            <div class="row">
                                <div class="col-xs-5 form-group">
                                    <label>Segundo Apellido</label>

                                    <input class="form-control" placeholder="Segundo Apellido" id="txtApellido2" type="text" required="">
                                </div>

                                <div class="col-xs-5 form-group">
                                    <label>Número de Identificación</label>

                                    <input class="form-control" placeholder="Ingrese el numero de identificación" id="txtIdentificacion" type="text" required="">
                                </div>

                                <div class="row">
                                    <div class="col-xs-5 form-group">
                                        <label>Edad</label>
                                        <input class="form-control" placeholder="Edad" id="txtEdad" type="text" required="">
                                    </div>

                                    <div class="col-xs-5 form-group">
                                        <label>Fecha de nacimiento</label>
                                        <div class="dropdown">
                                            
                                        </div>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class="col-xs-3 form-group">
                                        <label>Provincia</label>

                                    </div>

                                    <div class="col-xs-3 form-group">
                                        <label>Cantón</label>

                                    </div>

                                    <div class="col-xs-3 form-group">
                                        <label>Distrito</label>

                                    </div>

                                </div>

                        </td>

                        <td style="top">
                            <div class="row">

                                <div class="col-xs-5 form-group">
                                    <label>Condición civil</label>

                                    <input class="form-control" placeholder="Nombre" id="txtNombre" type="text" required="">
                                </div>

                                <div class="col-xs-5 form-group">
                                    <label>Primer Apellido</label>

                                    <input class="form-control" placeholder="Primer Apellido" id="txtApellido1" type="text" required="">
                                </div>


                            </div>



                            <div class="row">
                                <div class="col-xs-5 form-group">
                                    <label>Segundo Apellido</label>

                                    <input class="form-control" placeholder="Segundo Apellido" id="txtApellido2" type="text" required="">
                                </div>

                                <div class="col-xs-5 form-group">
                                    <label>Número de Identificación</label>

                                    <input class="form-control" placeholder="Ingrese el numero de identificación" id="txtIdentificacion" type="text" required="">
                                </div>

                            </div>
                        </td>
                </table>
            </div>

                <!--Fin de filas-->
                
            </div>
        </div>
    </div>









</form>