
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
    function llenarComboBox(nombreCatalogo, nombreComboBox) {
        return function (respuesta) {
            var catalogo = respuesta[nombreCatalogo];

            console.log(catalogo);

            if (catalogo.Mensaje.TipoMensaje === 1) {
                $.each(catalogo.Catalogo, function (key, value) {
                    console.log($(nombreComboBox));
                    $(nombreComboBox).append($("<option/>", {
                        value: value.PK_VALORCATALOGO,
                        text: value.VC_VALOR1
                    }));

                });
            } else {
                $("#contenedorBotones").show();
                $("#contenedorEspera").hide();
                $("#txtModalTitulo").css("color", "red");
                $("#txtModalTitulo").text("Error");
                $("#txtModalContenido").text(respuesta.Mensaje.ContenidoMensaje);
                instMensajes.open();
                $.LoadingOverlay("hide");
            }

            return respuesta

        }
    }

    $(document).ready(function () {

        $("#btnGuardarAtencionEnComunidad").click(function () {
            var persona = serializeArrayAObjeto($("#crearpersona").serializeArray());
            console.log(persona);
            $.ajax({
                type: "POST",
                url: '@Url.Action("CrearUsuariaAtencionComunidadPost")',
                data: persona
            }).then(console.log)
        });

        var instMensajes = $('[data-remodal-id=modalDialogo]').remodal();
        $.ajax({
            type: "POST",
            url: '@Url.Action("ListarCatalogoscrearpersona")',
            dataType: "json",
            contentType: "application/json",
            processData: true,
            error: function (xhr, ajaxOptions, error) {
                $("#contenedorBotones").show();
                $("#contenedorEspera").hide();
                $("#txtModalTitulo").css("color", "red");
                $("#txtModalTitulo").text("Error al registrar");
                $("#txtModalContenido").text("Fallo al comunicarse con el servidor");
                instMensajes.open();
                $.LoadingOverlay("hide");

            }
        }).then(function(resultado) {
            var respuesta = JSON.parse(resultado);
            return respuesta;
        }).then(llenarComboBox("CEEAM", "#cmbTipoCEAAM"))
            .then(llenarComboBox("Tipo de Ingreso CEEAM", "#cmbTipoIngreso"))
            .then(llenarComboBox("Tipo de Egreso", "#cmbTipoEgreso"))
            //.then(llenarComboBox("Tipo de Respuesta Si o No que incluye la opción \"No especificado\"", "#cmbRespuestaSiNosponible"))
            .then(() => {
            $('#btn-login').fadeIn();
            $.LoadingOverlay("hide");
        });







    });
</script>

<style>
    .jumbotron {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .container {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
</style>
<script src="https://www.google.com/cloudprint/client/cpgadget.js">
</script>


<script type="text/javascript">
    function serializeArrayAObjeto(arr) {
        var obj = {};
        for (var i = 0; i < arr.length; i++) {
            obj[arr[i].name] = arr[i].value;
        }
        return obj;
    }
    $("#btnCerrarFrmUsuarios").click(function (e) {
        e.preventDefault();
        $("#btnUsuarios").trigger("click");
    });
    var instMensajes = $('[data-remodal-id=modalDialogo]').remodal();
    $(document).ready(function () {
        $.LoadingOverlay("hide");

        document.title = "SIVIO - Editar Persona Usuaria";
        InicializarOtrosEventos();
        InicializarCamposObservaciones();

    });

    function InicializarOtrosEventos() {
        var d = new Date();

        var month = d.getMonth() + 1;
        var day = d.getDate();
        var fechaHoy = (day < 10 ? '0' : '') + day + '/' +
            (month < 10 ? '0' : '') + month + '/' +
            d.getFullYear();

        $("#txtFechaAplicacion").val(fechaHoy);
        $('#txtFechaAplicacion').css("background-color", "#f2f2f2");
        $("#txtFechaAplicacion").prop("readonly", true);



        $("#btnEnviarFormulario").click(function () {

            RegistroUsuario();
            $('#formagregarUsuarios').find('input:text').val('');
            $('textarea:text').val('');


        });

        $("#btnCerrarFrmUsuario").click(function (e) {

            e.preventDefault();
            $("#btnUsuarios").trigger("click");
        });

        $("#btnTerminar").click(function () {

            window.location.href = '/sipamu/';
            setTimeout(volver(), 1000);

        });

        function volver() {
            window.location.href = '/sipamu/';
        }

    }


    function InicializarCamposObservaciones() { }

    function RegistroUsuario() {
        debugger;
        $('#contenedorPrincipal').hide();
        $('#contenedorEspera').fadeIn();
        var resultadoValidacion = $('#formagregarUsuarios').parsley().validate();
        if (resultadoValidacion === true) {
            var formularioAgregarUsuario = $();




            formularioAgregarUsuario.Nombre = $("#txtNombre").val();
            formularioAgregarUsuario.PrimerApellido = $("#txtApellido1").val();
            formularioAgregarUsuario.SegundoApellido = $("#txtApellido2").val();
            formularioAgregarUsuario.NombreUsuario = $("#txtUsuario").val();
            formularioAgregarUsuario.FkUnidad = $("#cmbUnidad").val();
            formularioAgregarUsuario.Rol = $("#cmbRol").val();
            formularioAgregarUsuario.Clave = $("#txtContrasena").val();
            formularioAgregarUsuario.ValidarContrasena = $("#txtValidarContrasena").val();
            formularioAgregarUsuario.Correo = $("txtCorreo").val();

            if (formularioAgregarUsuario.Clave !== formularioAgregarUsuario.ValidarContrasena) {
                $("#contenedorBotones").show();
                $("#contenedorEspera").hide();
                $("#txtModalTitulo").css("color", "red");
                $("#txtModalTitulo").text("Error");
                $("#txtModalContenido").text("Las contraseñas digitadas con coinciden");
                instMensajes.open();

            } else {


                $.ajax({
                    type: "POST",
                    url: '/sipamu/Seguridad/AgregarPersonaUsuaria',
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({
                        objUsuarios: formularioAgregarUsuario
                    }),
                    processData: true,
                    success: function (data) {
                        if (data.TipoMensaje === 1) {

                            $("#contenedorBotones").show();
                            $("#contenedorEspera").hide();
                            $("#txtModalTitulo").css("color", "green");
                            $("#txtModalTitulo").text("Operación Exitosa");
                            $("#txtModalContenido").text(data.ContenidoMensaje);
                            instMensajes.open();





                        } else {
                            $("#contenedorBotones").show();
                            $("#contenedorEspera").hide();
                            $("#txtModalTitulo").css("color", "red");
                            $("#txtModalTitulo").text("Error al registrar");
                            $("#txtModalContenido").text(data.ContenidoMensaje);
                            instMensajes.open();
                        }

                    },
                    error: function (xhr, ajaxOptions, error) {
                        $("#contenedorBotones").show();
                        $("#contenedorEspera").hide();
                        $("#txtModalTitulo").css("color", "red");
                        $("#txtModalTitulo").text("Error al registrar");
                        $("#txtModalContenido").text("Fallo al comunicarse con el servidor");
                        instMensajes.open();

                    }
                });
            }



            debugger;



        } else {
            $("#txtModalTitulo").css("color", "red");
            $("#txtModalTitulo").text("Información Incompleta");
            $("#txtModalContenido").text("El formulario todavía tiene campos pendientes de llenar.");
            instMensajes.open();
        }
        $('#contenedorEspera').fadeOut();
        $('#contenedorPrincipal').fadeIn();


    }



</script>


<style>
    .pad {
        padding-bottom: 3px;
        margin-bottom: 3px;
    }

    .parsley-required {
        color: red;
        font-weight: bold;
    }

    .checkNoSpace {
        padding-left: 0px !important;
    }

    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: white;
    }

    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: white;
        opacity: 1;
    }

    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: white;
        opacity: 1;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white;
    }
</style>

<style>
    input, select, textarea {
        max-width: 100%;
        padding: 4px;
    }

    input {
        background-color: blue;
    }
</style>
<div class="container-fluid" id="contenedorPrincipal">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tabPerfilUsuaria">Perfil de Usuaria</a></li>
            <li><a data-toggle="tab" href="#tabHistoriaViolencia">Historia de Violencia</a></li>
            <li><a data-toggle="tab" href="#tabAtenciones">Atenciones</a></li>
        </ul>

        <div class="tab-content">
            <div id="tabPerfilUsuaria" class="tab-pane fade in active">
                <h3>Perfil de Usuaria</h3>

                @* Pestaña Perfil de la Usuaria *@
                
                <div class="row" id="tabPerfilUsuaria">
                    <form id="crearpersona" method="post" style="background-color: whitesmoke;border: 1px solid #E3E3E3;border-radius: 4px;">
                        <div class="col-xs-4 form-group">
                            <label>Identificacion</label><br>
                            <input class="form-control" id="txtIdentificacion" name="VC_IDENTIFICACION" type="text" value='12345' required=""><br>
                            <label>Tipo de identificacion</label><br>
                            <input class="form-control" id="txtIdentificacionTipo" name="FK_TIPOIDENTIFICACION" type="number" value='5' required=""><br>
                            <label>Nacionalidad</label>
                            <input class="form-control" id="txtNacionalidad" name="FK_NACIONALIDAD" type="number" value='5' required=""><br>
                            <label>Nombre</label><br>
                            <input class="form-control" id="txtNombre" name="VC_NOMBRE" type="text" value='Mariana' required=""><br>
                            <label>Primer apellido</label><br>
                            <input class="form-control" id="txtApellido1" name="VC_APELLIDO1" type="text" value='Trump' required=""><br>
                            <label>Segundo apellido</label><br>
                            <input class="form-control" id="txtApellido2" name="VC_APELLIDO2" type="text" value='Beckenbauer' required=""><br>
                            <label>Fecha de nacimiento</label><br>
                            <input class="form-control" id="txtFecha" name="DT_FECHANACIMIENTO" type="date" value='1966-10-10' required=""><br>
                            <label>Estado civil</label><br>
                            <input class="form-control" id="txtEstadoCivil" name="FK_ESTADOCIVIL" type="number" value='5' required=""><br>
                            <label>Escolaridad</label><br>
                            <input class="form-control" id="txtEscolaridad" name="FK_ESCOLARIDAD" type="number" value='5' required=""><br>
                        </div>

                        <a href="#" class="btn btn-primary" id="btnGuardarAtencionEnComunidad">Guardar</a>

                        <div class="col-xs-4 form-group">
                            <label>Género</label><br>
                            <input class="form-control" id="txtGenero" name="FK_GENERO" type="number" value='5' required=""><br>
                            <label>Ocupacion</label><br>
                            <input class="form-control" id="txtOcupacion" name="FK_OCUPACION" type="number" value='5' required=""><br>
                            <label>Codicion Migratoria</label><br>
                            <input class="form-control" id="txtCondicionMigratoria" name="FK_CONDICIONMIGRATORIA" value='5' type="number" required=""><br>
                            <label>Condicion Aseguramiento</label><br>
                            <input class="form-control" id="txtCondicionAseguramiento" name="FK_CONDICIONASEGURAMIENTO" value='5' type="number" required=""><br>
                            <label>Tipo Vivienda</label><br>
                            <input class="form-control" id="txtTipoVivienda" type="number" name="FK_TIPOVIVIENDA" value='5' required=""><br>
                            <label>Tipo familia</label><br>
                            <input class="form-control" id="txtTipoFamilia" type="number" name="FK_TIPOFAMILIA" value='5' required=""><br>
                            <label>Estado Embarazo</label><br>
                            <input class="form-control" id="txtEstadoEmbarazo" type="number" name="FK_ESTADOEMBARAZO" value='5' required=""><br>
                            <label>Condicion Salud</label><br>
                            <input class="form-control" id="txtCondicionSalud" type="number" name="FK_CONDICIONSALUD" value='5' required=""><br>
                            <label>Orientacion Sexual</label><br>
                            <input class="form-control" id="txtOrientacionSexual" type="number" name="FK_ORIENTACIONSEXUAL" value='5' required=""><br>


                        </div>
                        <div class="col-xs-4 form-group">
                            <label>Hijos</label><br>
                            <input class="form-control" id="txtHijos" name="I_HIJOS" type="number" value='5' required=""><br>
                            <label>Hijos CEAAM</label><br>
                            <input class="form-control" id="txtHijosCEAAM" name="I_HIJOSCEEAM" type="number" value='5' required=""><br>
                            <label>Hijos Mayores Doce</label><br>
                            <input class="form-control" id="txtHijosMayoresDoce" name="I_HIJOSMAYORESDOCE" type="number" value='5' required=""><br>
                            <label>Provincia</label><br>
                            <input class="form-control" id="txtProvincia" name="FK_PROVINCIAPROCEDENCIA" type="number" value='5' required=""><br>
                            <label>Canton</label><br>
                            <input class="form-control" id="txtCanton" name="FK_CANTONPROCEDENCIA" type="number" value='5' required=""><br>
                            <label>Distrito</label><br>
                            <input class="form-control" id="txtDistrito" name="FK_DISTRITOPROCEDENCIA" type="number" value='5' required=""><br>
                            <label>Correo</label><br>
                            <input class="form-control" id="txtCorreo" name="VC_CORREO" type="text" value='juliana@gmail.com' required=""><br>
                            <label>Etnia</label><br>
                            <input class="form-control" id="txtEtnia" name="FK_ETNIA" type="number" value='5' required=""><br>
                            <label>Nacionalidad</label><br>
                            <input class="form-control" id="txtNacionalidad" name="FK_NACIONALIDAD2" type="number" value='5' required=""><br>

                            <br><br><br><br><br><br><br><br><br><br><br><br>
                        </div>
                        <div class="col-xs-4 form-group">
                            <label>Género</label><br>
                            <input class="form-control" id="txtGenero" name="FK_GENERO" type="number" value='5' required=""><br>
                            <label>Ocupacion</label><br>
                            <input class="form-control" id="txtOcupacion" name="FK_OCUPACION" type="number" value='5' required=""><br>
                            <label>Codicion Migratoria</label><br>
                            <input class="form-control" id="txtCondicionMigratoria" name="FK_CONDICIONMIGRATORIA" value='5' type="number" required=""><br>
                            <label>Condicion Aseguramiento</label><br>
                            <input class="form-control" id="txtCondicionAseguramiento" name="FK_CONDICIONASEGURAMIENTO" value='5' type="number" required=""><br>
                            <label>Tipo Vivienda</label><br>
                            <input class="form-control" id="txtTipoVivienda" type="number" name="FK_TIPOVIVIENDA" value='5' required=""><br>
                            <label>Tipo familia</label><br>
                            <input class="form-control" id="txtTipoFamilia" type="number" name="FK_TIPOFAMILIA" value='5' required=""><br>
                            <label>Estado Embarazo</label><br>
                            <input class="form-control" id="txtEstadoEmbarazo" type="number" name="FK_ESTADOEMBARAZO" value='5' required=""><br>
                            <label>Condicion Salud</label><br>
                            <input class="form-control" id="txtCondicionSalud" type="number" name="FK_CONDICIONSALUD" value='5' required=""><br>
                            <label>Orientacion Sexual</label><br>
                            <input class="form-control" id="txtOrientacionSexual" type="number" name="FK_ORIENTACIONSEXUAL" value='5' required=""><br>

                            <br><br><br><br><br><br>
                        </div>
                    </form>
                </div>
            </div>

            <div id="tabHistoriaViolencia" class="tab-pane fade">
                <h3>Historia de Violencia</h3>              
            </div>

            <div id="tabAtenciones" class="tab-pane fade">
                <h3>Atenciones</h3>

                @* Pestaña Atenciones *@

                <div class="row" id="tabAtenciones">

                    <!--Formulario-->

                </div>
            </div>

        </div>


        @*
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <div class="row comunForm">
                        <div class="row">
                            <div class="col-xs-10">
                            </div>
                            <div class="col-xs-2">
                                <button class="botonCerrar danger" id="btnCerrarFrmUsuarios">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>


                        Aqui iban los divs

                        <div class="row" id="contenedorBotones">

                            <div class="col-md-12" style="text-align: center; margin-bottom: 5px">
                                <button type="button" id="btnEnviarFormulario" class="btn btn-default btn-responsive" style="color: white; background-color: #368DE9; border-color: #368DE9; margin-bottom: 1px; ">Registrar un nuevo caso</button>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        *@


    

</div>

