
@{
    Layout = null;
}
<style>
    .jumbotron {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .container {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
</style>
<script src="https://www.google.com/cloudprint/client/cpgadget.js">
</script>
<script type="text/javascript">
    $("#btnCerrarFrmUsuarios").click(function (e) {
        e.preventDefault();
        $("#btnUsuarios").trigger("click");
    });
    var instMensajes = $('[data-remodal-id=modalDialogo]').remodal();
    $(document).ready(function () {
        $.LoadingOverlay("hide");
        debugger;
        //$.ajax({
        //    type: "POST",
        //    url: '/sipamu/Seguridad/ListarUnidades',
        //    dataType: "json",
        //    contentType: "application/json",
        //    processData: true,
        //    success: function (resultado) {
        //        debugger;

        //        $.each(resultado.data, function (key, value) {
        //            $('#cmbUnidad').append($("<option></option>", {
        //                value: value.PKUNIDAD,
        //                text: value.CODIGO + ' ' + value.DESCRIPCION
        //            }));
        //        });

        //        $('#cmbUnidad').selectize({
        //            create: false,
        //            sortField: {
        //                field: 'text',
        //                direction: 'asc'
        //            },
        //            dropdownParent: 'body'
        //        });


        //    },
        //    error: function (xhr, ajaxOptions, error) {
        //        $("#contenedorBotones").show();
        //        $("#contenedorEspera").hide();
        //        $("#txtModalTitulo").css("color", "red");
        //        $("#txtModalTitulo").text("Error al registrar");
        //        $("#txtModalContenido").text("Fallo al comunicarse con el servidor");
        //        instMensajes.open();

        //    }
        //});
        //$.ajax({
        //    type: "POST",
        //    url: '/sipamu/Seguridad/ListarRoles',
        //    dataType: "json",
        //    contentType: "application/json",
        //    processData: true,
        //    success: function (resultado) {
        //        debugger;

        //        $.each(resultado.data, function (key, value) {
        //            $('#cmbRol').append($("<option></option>", {
        //                value: value.PKROL,
        //                text: value.NOMBRE
        //            }));
        //        });

        //        $('#cmbRol').selectize({
        //            create: false,
        //            sortField: {
        //                field: 'text',
        //                direction: 'asc'
        //            },
        //            dropdownParent: 'body'
        //        });


        //    },
        //    error: function (xhr, ajaxOptions, error) {
        //        $("#contenedorBotones").show();
        //        $("#contenedorEspera").hide();
        //        $("#txtModalTitulo").css("color", "red");
        //        $("#txtModalTitulo").text("Error al registrar");
        //        $("#txtModalContenido").text("Fallo al comunicarse con el servidor");
        //        instMensajes.open();

        //    }
        //});
        //PrevenirCaracteresInvalidos();
        debugger;
        document.title = "SIVIO - Editar Persona Usuaria";
        InicializarOtrosEventos();
        InicializarCamposObservaciones();

    });

    function InicializarOtrosEventos() {
        var d = new Date();

        var month = d.getMonth() + 1;
        var day = d.getDate();
        var fechaHoy = (day < 10 ? '0' : '') + day + '/' +
            (month < 10 ? '0' : '') + month + '/' +
            d.getFullYear();

        $("#txtFechaAplicacion").val(fechaHoy);
        $('#txtFechaAplicacion').css("background-color", "#f2f2f2");
        $("#txtFechaAplicacion").prop("readonly", true);



        $("#btnEnviarFormulario").click(function () {

            RegistroUsuario();
            $('#formagregarUsuarios').find('input:text').val('');
            $('textarea:text').val('');


        });

        $("#btnCerrarFrmUsuario").click(function (e) {

            e.preventDefault();
            $("#btnUsuarios").trigger("click");
        });

        $("#btnTerminar").click(function () {

            window.location.href = '/sipamu/';
            setTimeout(volver(), 1000);

        });

        function volver() {
            window.location.href = '/sipamu/';
        }

    }


    function InicializarCamposObservaciones() { }

    function RegistroUsuario() {
        debugger;
        $('#contenedorPrincipal').hide();
        $('#contenedorEspera').fadeIn();
        var resultadoValidacion = $('#formagregarUsuarios').parsley().validate();
        if (resultadoValidacion === true) {
            var formularioAgregarUsuario = $();




            formularioAgregarUsuario.Nombre = $("#txtNombre").val();
            formularioAgregarUsuario.PrimerApellido = $("#txtApellido1").val();
            formularioAgregarUsuario.SegundoApellido = $("#txtApellido2").val();
            formularioAgregarUsuario.NombreUsuario = $("#txtUsuario").val();
            formularioAgregarUsuario.FkUnidad = $("#cmbUnidad").val();
            formularioAgregarUsuario.Rol = $("#cmbRol").val();
            formularioAgregarUsuario.Clave = $("#txtContrasena").val();
            formularioAgregarUsuario.ValidarContrasena = $("#txtValidarContrasena").val();
            formularioAgregarUsuario.Correo = $("txtCorreo").val();

            if (formularioAgregarUsuario.Clave !== formularioAgregarUsuario.ValidarContrasena) {
                $("#contenedorBotones").show();
                $("#contenedorEspera").hide();
                $("#txtModalTitulo").css("color", "red");
                $("#txtModalTitulo").text("Error");
                $("#txtModalContenido").text("Las contraseñas digitadas con coinciden");
                instMensajes.open();

            } else {
                $.ajax({
                    type: "POST",
                    url: '/sipamu/Seguridad/AgregarPersonaUsuaria',
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({
                        objUsuarios: formularioAgregarUsuario
                    }),
                    processData: true,
                    success: function (data) {
                        if (data.TipoMensaje === 1) {

                            $("#contenedorBotones").show();
                            $("#contenedorEspera").hide();
                            $("#txtModalTitulo").css("color", "green");
                            $("#txtModalTitulo").text("Operación Exitosa");
                            $("#txtModalContenido").text(data.ContenidoMensaje);
                            instMensajes.open();





                        } else {
                            $("#contenedorBotones").show();
                            $("#contenedorEspera").hide();
                            $("#txtModalTitulo").css("color", "red");
                            $("#txtModalTitulo").text("Error al registrar");
                            $("#txtModalContenido").text(data.ContenidoMensaje);
                            instMensajes.open();
                        }

                    },
                    error: function (xhr, ajaxOptions, error) {
                        $("#contenedorBotones").show();
                        $("#contenedorEspera").hide();
                        $("#txtModalTitulo").css("color", "red");
                        $("#txtModalTitulo").text("Error al registrar");
                        $("#txtModalContenido").text("Fallo al comunicarse con el servidor");
                        instMensajes.open();

                    }
                });
            }



            debugger;



        } else {
            $("#txtModalTitulo").css("color", "red");
            $("#txtModalTitulo").text("Información Incompleta");
            $("#txtModalContenido").text("El formulario todavía tiene campos pendientes de llenar.");
            instMensajes.open();
        }
        $('#contenedorEspera').fadeOut();
        $('#contenedorPrincipal').fadeIn();


    }



</script>
<style>
    .pad {
        padding-bottom: 3px;
        margin-bottom: 3px;
    }

    .parsley-required {
        color: red;
        font-weight: bold;
    }

    .checkNoSpace {
        padding-left: 0px !important;
    }

    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: white;
    }

    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: white;
        opacity: 1;
    }

    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: white;
        opacity: 1;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white;
    }
</style>

<style>
    input, select, textarea {
        max-width: 100%;
        padding: 4px;
    }

    input {
        background-color: blue;
    }
</style>
<div class="container-fluid" id="contenedorPrincipal">

    <form id="crearcaso" method="post" style="background-color: whitesmoke;border: 1px solid #E3E3E3;border-radius: 4px;">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#home">
                    <i class="fa fa-user" aria-hidden="true"></i>Formulario de creación de usuaria (en proceso)
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div class="row comunForm">
                    <div class="row">
                        <div class="col-xs-10">
                        </div>
                        <div class="col-xs-2">
                            <button class="botonCerrar danger" id="btnCerrarFrmUsuarios">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                    <div class="row">

                        <h3>Perfil de la usuaria</h3>

                        <label>Edad</label><br>
                        <input class="form-control" id="txtEdad" type="text" required=""><br>
                        <label>Fecha de nacimiento</label><br>
                        <input class="form-control" id="txtEdad" type="date" required=""><br>

                        <label>Condición civil</label><br>
                        <table style="width:40%">
                            <tr>
                                <td>
                                    <input type="radio" name="radioCondCivil" value="Casada"> Casada<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioCondCivil" value="Union libre"> Unión libre<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioCondCivil" value="Soltera"> Soltera<br>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" name="radioCondCivil" value="Divorciada"> Divorciada<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioCondCivil" value="Separada"> Separada<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioCondCivil" value="Viuda"> Viuda<br>
                                </td>
                            </tr>
                        </table>

                        <label>Escolaridad</label><br>
                        <table style="width:50%">
                            <tr>
                                <td>
                                    <input type="radio" name="radioEscolaridad" value="Primaria completa"> Primaria completa<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioEscolaridad" value="Primaria incompleta"> Primaria incompleta<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioEscolaridad" value="Secundaria completa"> Secundaria completa<br>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" name="radioEscolaridad" value="Secundaria incompleta"> Secundaria incompleta<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioEscolaridad" value="Para universitario/tecnico"> Para universitario/técnico<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioEscolaridad" value="Universitaria completa"> Universitaria completa<br>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" name="radioEscolaridad" value="Universitaria incompleta"> Universitaria incompleta<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioEscolaridad" value="Ningun grado"> Ningún grado<br>
                                </td>
                            </tr>
                        </table>

                        <div class="col-xs-4 form-group">

                            <label>Número total de hijas/os</label> <input class="form-control" id="txtProvinciaDestino" type="text" required="">
                            <label>Número de hijos/as con los que ingresa al CEAAM</label> <input class="form-control" id="txtCantonDestino" type="text" required="">
                        </div>

                        <label>Tipo de familia</label><br>
                        <table style="width:50%">
                            <tr>
                                <td>
                                    <input type="radio" name="radioIipoFamilia" value="Familia nuclear"> Familia nuclear<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioIipoFamilia" value="Familia uniparental"> Familia uniparental<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioIipoFamilia" value="Familia nuclear extendida"> Familia nuclear extendida<br>
                                </td>
                            </tr>
                        </table>

                        <div class="col-xs-4 form-group">
                            <label>Nacionalidad</label>

                            <input class="form-control" id="txtNacionalidad" type="text" required="">
                        </div>

                        <label>Condición migratoria</label><br>
                        <table style="width:50%">
                            <tr>
                                <td>
                                    <input type="radio" name="radioCondMigratoria" value="Nacional"> Nacional<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioCondMigratoria" value="Regular"> Regular<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioCondMigratoria" value="Residente"> Residente<br>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" name="radioCondMigratoria" value="Refugiada"> Refugiada<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioCondMigratoria" value="Irregular"> Irregular<br>
                                </td>
                            </tr>
                        </table>

                        <div class="col-xs-4 form-group">
                            <label>Ocupación</label>

                            <input class="form-control" id="txtOcupacion" type="text" required="">
                        </div>

                        <label>Condición laboral</label><br>
                        <table style="width:50%">
                            <tr>
                                <td>
                                    <input type="radio" name="radioCondLaboral" value="Remunerada"> Remunerada<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioCondLaboral" value="No remunerada"> No remunerada<br>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" name="radioCondLaboral" value="Desempleada"> Desempleada<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioCondLaboral" value="Pensionada"> Pensionada<br>
                                </td>
                            </tr>
                        </table>

                        <label>Experiencia laboral</label><br>
                        <table style="width:50%">
                            <tr>
                                <td>
                                    <input type="radio" name="radioExpLaboral" value="Si"> Sí<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioExpLaboral" value="No"> No<br>
                                </td>
                            </tr>
                        </table>

                        <div class="col-xs-4 form-group">
                            <label>Lugar de trabajo</label>

                            <input class="form-control" id="txtLugarDeTrabajo" type="text" required="">
                        </div>

                        <label>Condición de aseguramiento</label><br>
                        <table style="width:40%">
                            <tr>
                                <td>
                                    <input type="radio" name="radioCondAseg" value="Directa"> Directa<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioCondAseg" value="Familiar"> Familiar<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioCondAseg" value="Voluntario o convenio"> Voluntario o convenio<br>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" name="radioCondAseg" value="Pensionada"> Pensionada<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioCondAseg" value="Por el estado"> Por el estado<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioCondAseg" value="No tiene"> No tiene<br>
                                </td>
                            </tr>
                        </table>

                        <label>Vivienda</label><br>
                        <table style="width:40%">
                            <tr>
                                <td>
                                    <input type="radio" name="radioVivienda" value="Alquilada"> Alquilada<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioVivienda" value="Precario"> Precario<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioVivienda" value="Prestada"> Prestada<br>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" name="radioVivienda" value="Propia total"> Propia total<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioVivienda" value="Propia con hipoteca"> Propia con hipoteca<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioVivienda" value="No tiene"> No tiene<br>
                                </td>
                            </tr>
                        </table>

                        <label>Condiciones especiales y de salud</label>
                        <div class="col-xs-4 form-group">
                            <label>Discapacidad</label><br>
                            <input type="checkbox" name="fisica" value="fisica">Física<br>
                            <input type="checkbox" name="cognitiva" value="cognitiva">Cognitiva<br>
                            <input type="checkbox" name="mental" value="mental">Mental<br>
                            <input type="checkbox" name="sensorial" value="sensorial">Sensorial<br>
                            <input type="checkbox" name="embarazo" value="embarazo">Embarazo <label>meses</label><input class="form-control" id="txtOcupacion" type="text" required=""><br>
                            <input type="checkbox" name="sensorial" value="Padecimientos crónicos">Padecimientos crónicos<br>
                            <input type="checkbox" name="sensorial" value="ITS">ITS<br>
                            <input type="checkbox" name="sensorial" value="VIH-SIDA">VIH-SIDA<br>
                            <input type="checkbox" name="sensorial" value="Condición psiquiátrica">Condición psiquiátrica<br>
                            <input type="checkbox" name="sensorial" value="Enfermedad terminal">Enfermedad terminal<br>
                        </div>

                        <label>Adicciones</label><br>
                        <table style="width:40%">
                            <tr>
                                <td>
                                    <input type="checkbox" name="radioAdicciones" value="Ninguna"> Ninguna<br>
                                </td>
                                <td>
                                    <input type="checkbox" name="radioAdicciones" value="Medicamentos"> Medicamentos<br>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" name="radioAdicciones" value="Alcohol"> Alcohol<br>
                                </td>
                                <td>
                                    <input type="checkbox" name="radioAdicciones" value="Drogras"> Drogras<br>
                                </td>
                            </tr>
                        </table>

                        <label>Redes o recursos de apoyo con los que cuenta la usuaria</label><br>
                        <input type="checkbox" name="radioApoyo" value="No tiene"> No tiene<br>
                        <label>Primaria</label><br>
                        <div class="col-xs-4 form-group">
                            <label>Nombre</label><input class="form-control" id="txtRecApoyo" type="text"><label>Teléfono</label><input class="form-control" id="txtRecApoyo" type="number"><br>
                            <label>Nombre</label><input class="form-control" id="txtRecApoyo" type="text"><label>Teléfono</label><input class="form-control" id="txtRecApoyo" type="number"><br>
                            <label>Nombre</label><input class="form-control" id="txtRecApoyo" type="text"><label>Teléfono</label><input class="form-control" id="txtRecApoyo" type="number"><br>
                        </div>
                        <label>Secundaria</label><br>
                        <div class="col-xs-4 form-group">
                            <label>Nombre</label><input class="form-control" id="txtRecApoyo" type="text"><label>Teléfono</label><input class="form-control" id="txtRecApoyo" type="number"><br>
                            <label>Nombre</label><input class="form-control" id="txtRecApoyo" type="text"><label>Teléfono</label><input class="form-control" id="txtRecApoyo" type="number"><br>
                            <label>Nombre</label><input class="form-control" id="txtRecApoyo" type="text"><label>Teléfono</label><input class="form-control" id="txtRecApoyo" type="number"><br>
                        </div>

                    </div>

                    <div class="row">

                        <h3>Historia de violencia</h3>

                        <div class="col-xs-4 form-group">
                            <label>Nombre de persona agresora:</label>

                            <input class="form-control" id="txtPersonaAgresora" type="text" required="">
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Edad:</label>

                            <input class="form-control" id="txtEdad" type="text" required="">
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Sexo:</label><br>

                            <input type="radio" name="radioSexo" value="Hombre"> Hombre<br>
                            <input type="radio" name="radioSexo" value="Mujer"> Mujer
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Nacionalidad:</label>

                            <input class="form-control" id="txtNacionalidad" type="text" required="">
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Escolaridad:</label>

                            <input class="form-control" id="txtEscolaridad" type="text" required="">
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Ocupación:</label>

                            <input class="form-control" id="txtOcupacion" type="text" required="">
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Lugar de trabajo:</label>

                            <input class="form-control" id="txtLugarTrabajo" type="text" required="">
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Adicciones:</label><br>

                            <input type="radio" name="radioAdicciones" value="Alcohol"> Alcohol<br>
                            <input type="radio" name="radioAdicciones" value="Medicamentos"> Medicamentos<br>
                            <input type="radio" name="radioAdicciones" value="Drogas"> Drogas<br>
                            <input type="radio" name="radioAdicciones" value="Juego"> Juego
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Vínculo con la usuaria:</label>

                            <input class="form-control" id="txtVinculoUsuaria" type="text" required="">
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Tiempo de la relación:</label>

                            <input class="form-control" id="txtTiempoRelacion" type="text" required="">
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Tiempo de la agresión:</label>

                            <input class="form-control" id="txtTiempoAgresion" type="text" required="">
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Número de separaciones de la persona agresora:</label><br>

                            <input type="radio" name="radioSeparaciones" value="1"> 1<br>
                            <input type="radio" name="radioSeparaciones" value="2 a 4"> 2 a 4<br>
                            <input type="radio" name="radioSeparaciones" value="5 a 7"> 5 a 7<br>
                            <input type="radio" name="radioSeparaciones" value="Más de 7"> Más de 7
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Motivos para regresar:</label><br>

                            <input type="radio" name="radioMotivosRegresar" value="Amenazas"> Amenazas<br>
                            <input type="radio" name="radioMotivosRegresar" value="Dependencia económica"> Dependencia económica<br>
                            <input type="radio" name="radioMotivosRegresar" value="Factores emocionales"> Factores emocionales<br>
                            <input type="radio" name="radioMotivosRegresar" value="Mandato religioso"> Mandato religioso<br>
                            <input type="radio" name="radioMotivosRegresar" value="Promesas de cambio"> Promesas de cambio<br>
                            <input type="radio" name="radioMotivosRegresar" value="Ausencia de recursos de apoyo"> Ausencia de recursos de apoyo
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Antecedentes legales:</label><br>

                            <input type="radio" name="radioAntecedentesLegales" value="No indica"> No indica<br>
                            <input type="radio" name="radioAntecedentesLegales" value="No"> No<br>
                            <input type="radio" name="radioAntecedentesLegales" value="Sí"> Sí
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Antecedentes psiquiátricos:</label><br>

                            <input type="radio" name="radioAntecedentesLegales" value="No indica"> No indica<br>
                            <input type="radio" name="radioAntecedentesLegales" value="No"> No<br>
                            <input type="radio" name="radioAntecedentesLegales" value="Sí"> Sí
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Atención médica producto de la agresión:</label><br>

                            <input type="radio" name="radioAtencionMedicaAgresion" value="No"> No<br>
                            <input type="radio" name="radioAtencionMedicaAgresion" value="Sí"> Sí<br>
                            <input type="radio" name="radioAtencionMedicaAgresion" value="Aborto"> Aborto<br>
                            <input type="radio" name="radioAtencionMedicaAgresion" value="Cirugía"> Cirugía<br>
                            <input type="radio" name="radioAtencionMedicaAgresion" value="Curaciones"> Curaciones<br>
                            <input type="radio" name="radioAtencionMedicaAgresion" value="Rayos X"> Rayos X<br>
                            <input type="radio" name="radioAtencionMedicaAgresion" value="Psiquiatría / Psicología"> Psiquiatría / Psicología<br>
                            <input type="radio" name="radioAtencionMedicaAgresion" value="Ultrasonido"> Ultrasonido<br>
                            <input type="radio" name="radioAtencionMedicaAgresion" value="Valoración médica"> Valoración médica
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Nombre del centro de salud:</label>

                            <input class="form-control" id="txtCentroSalud" type="text" required="">
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Tipo de violencia:</label><br>

                            <input type="radio" name="radioTipoViolencia" value="Acoso sexual callejero"> Acoso sexual callejero<br>
                            <input type="radio" name="radioTipoViolencia" value="Acoso laboral"> Acoso laboral<br>
                            <input type="radio" name="radioTipoViolencia" value="Hostigamiento sexual"> Hostigamiento sexual<br>
                            <input type="radio" name="radioTipoViolencia" value="Trata de personas"> Trata de personas<br>
                            <input type="radio" name="radioTipoViolencia" value="Violencia obstétrica"> Violencia obstétrica
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Impacto de la violencia:</label><br>

                            <input type="checkbox" name="checkboxImpactoViolencia" value="Ansiedad"> Ansiedad<br>
                            <input type="checkbox" name="checkboxImpactoViolencia" value="Deterioro del aspecto personal"> Deterioro del aspecto personal<br>
                            <input type="checkbox" name="checkboxImpactoViolencia" value="Desorden del sueño"> Desorden del sueño<br>
                            <input type="checkbox" name="checkboxImpactoViolencia" value="Dificultad para reconocer capacidades"> Dificultad para reconocer capacidades<br>
                            <input type="checkbox" name="checkboxImpactoViolencia" value="Desorden alimenticio"> Desorden alimenticio<br>
                            <input type="checkbox" name="checkboxImpactoViolencia" value="Irritabilidad"> Irritabilidad<br>
                            <input type="checkbox" name="checkboxImpactoViolencia" value="Llanto"> Llanto<br>
                            <input type="checkbox" name="checkboxImpactoViolencia" value="Dificultad para adherirse al proceso de intervención"> Dificultad para adherirse al proceso de intervención<br>
                            <input type="checkbox" name="checkboxImpactoViolencia" value="No reconoce la violencia"> No reconoce la violencia<br>
                            <input type="checkbox" name="checkboxImpactoViolencia" value="Tristeza"> Tristeza<br>
                            <input type="checkbox" name="checkboxImpactoViolencia" value="Temores generalizados"> Temores generalizados
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Valoración de riesgo:</label><br>

                            <input type="radio" name="radioValoracionRiesgo" value="Precaución"> Precaución<br>
                            <input type="radio" name="radioValoracionRiesgo" value="Alto riesgo"> Alto riesgo<br>
                            <input type="radio" name="radioValoracionRiesgo" value="Riesgo severo"> Riesgo severo
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Condición legal al ingreso:</label>

                            <input class="form-control" id="txtCondicionLegalIngreso" type="text" required="">
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Medidas de protección:</label><br>

                            <input type="radio" name="radioMedidasProteccion" value="Medidas a favor"> Medidas a favor<br>
                            <input type="radio" name="radioMedidasProteccion" value="Medidas en contra"> Medidas en contra<br>
                            <input type="radio" name="radioMedidasProteccion" value="No tiene"> No tiene<br>
                            <input type="radio" name="radioMedidasProteccion" value="Proceso de familia"> Proceso de familia<br>
                            <input type="radio" name="radioMedidasProteccion" value="Pensión alimentaria"> Pensión alimentaria<br>
                            <input type="radio" name="radioMedidasProteccion" value="Proceso penal"> Proceso penal<br>
                            <input type="radio" name="radioMedidasProteccion" value="Ley de penalización"> Ley de penalización<br>
                            <input type="radio" name="radioMedidasProteccion" value="Delito sexual"> Delito sexual<br>
                            <input type="radio" name="radioMedidasProteccion" value="Desobediencia"> Desobediencia<br>
                            <input type="radio" name="radioMedidasProteccion" value="Tramites migratorios"> Tramites migratorios<br>
                            <input type="radio" name="radioMedidasProteccion" value="Proceso PANI"> Proceso PANI
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Se encuentra con el programa OAPVD:</label><br>

                            <input type="radio" name="radioOAPVD" value="Sí"> Sí<br>
                            <input type="radio" name="radioOAPVD" value="No"> No
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Violencia fisica:</label><br>

                            <input type="checkbox" name="checkboxViolenciaFisica" value="Le ha lanzado cualquier tipo de objetos"> Le ha lanzado cualquier tipo de objetos<br>
                            <input type="checkbox" name="checkboxViolenciaFisica" value="La ha empujado o zarandeado"> La ha empujado o zarandeado<br>
                            <input type="checkbox" name="checkboxViolenciaFisica" value="La ha tirado/halado el pelo"> La ha tirado/halado el pelo<br>
                            <input type="checkbox" name="checkboxViolenciaFisica" value="Le ha dado golpe en la cara"> Le ha dado golpe en la cara<br>
                            <input type="checkbox" name="checkboxViolenciaFisica" value="La patearon"> La patearon<br>
                            <input type="checkbox" name="checkboxViolenciaFisica" value="Le ha causado fracturas"> Le ha causado fracturas<br>
                            <input type="checkbox" name="checkboxViolenciaFisica" value="La tiraron al piso"> La tiraron al piso<br>
                            <input type="checkbox" name="checkboxViolenciaFisica" value="Ha intentado ahorcarla o asfixiarla"> Ha intentado ahorcarla o asfixiarla<br>
                            <input type="checkbox" name="checkboxViolenciaFisica" value="Le ha impedido el acceso a los alimentos"> Le ha impedido el acceso a los alimentos<br>
                            <input type="checkbox" name="checkboxViolenciaFisica" value="La ha amenazado con un arma de fuego"> La ha amenazado con un arma de fuego<br>
                            <input type="checkbox" name="checkboxViolenciaFisica" value="La ha amenazado con arma punzo cortante"> La ha amenazado con arma punzo cortante<br>
                            <input type="checkbox" name="checkboxViolenciaFisica" value="La ha quemado en alguna parte del cuerpo"> La ha quemado en alguna parte del cuerpo<br>
                            <input type="checkbox" name="checkboxViolenciaFisica" value="Ha utilizado contra usted algún objeto"> Ha utilizado contra usted algún objeto<br>
                            <input type="checkbox" name="checkboxViolenciaFisica" value="Ha utilizado contra usted un arma de fuego"> Ha utilizado contra usted un arma de fuego<br>
                            <input type="checkbox" name="checkboxViolenciaFisica" value="La ha amarrado para impedirle salir/hacer sus cosas"> La ha amarrado para impedirle salir/hacer sus cosas<br>
                            <input type="checkbox" name="checkboxViolenciaFisica" value="Ha utilizado contra usted algún arma punzo cortante"> Ha utilizado contra usted algún arma punzo cortante<br>
                            <input type="checkbox" name="checkboxViolenciaFisica" value="Le ha pegado con la mano en cualquier otra parte del cuerpo"> Le ha pegado con la mano en cualquier otra parte del cuerpo<br>
                            <input type="checkbox" name="checkboxViolenciaFisica" value="La ha mordido y dejado marcas de dientes en el cuerpo"> La ha mordido y dejado marcas de dientes en el cuerpo<br>
                            <input type="checkbox" name="checkboxViolenciaFisica" value="Le ha dado algo para envenenarla/intoxicarla"> Le ha dado algo para envenenarla/intoxicarla<br>
                            <input type="checkbox" name="checkboxViolenciaFisica" value="Ha amenazado con un objeto, palo o garrote"> Ha amenazado con un objeto, palo o garrote<br>
                            <input type="checkbox" name="checkboxViolenciaFisica" value="Le ha ocurrido alguna otra situación similar."> Le ha ocurrido alguna otra situación similar.
                            <label>Cual:</label>
                            <input class="form-control" id="txtViolenciaFisicaCual" type="text" required="">
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Violencia psicológica:</label><br>

                            <input type="checkbox" name="checkboxViolenciaPsicologica" value="Se ha referido a usted con palabras groseras o agresivas"> Se ha referido a usted con palabras groseras o agresivas<br>
                            <input type="checkbox" name="checkboxViolenciaPsicologica" value="La ha humillado"> La ha humillado<br>
                            <input type="checkbox" name="checkboxViolenciaPsicologica" value="No le presta la debida atención"> No le presta la debida atención<br>
                            <input type="checkbox" name="checkboxViolenciaPsicologica" value="La ha seguido, vigilado"> La ha seguido, vigilado<br>
                            <input type="checkbox" name="checkboxViolenciaPsicologica" value="Ha registrado sus objetos personales"> Ha registrado sus objetos personales<br>
                            <input type="checkbox" name="checkboxViolenciaPsicologica" value="La ha amenazado de muerte"> La ha amenazado de muerte<br>
                            <input type="checkbox" name="checkboxViolenciaPsicologica" value="La ha criticado sobre lo que hace o deja de hacer"> La ha criticado sobre lo que hace o deja de hacer<br>
                            <input type="checkbox" name="checkboxViolenciaPsicologica" value="Le ha impedido que planifique y controle los embarazos"> Le ha impedido que planifique y controle los embarazos<br>
                            <input type="checkbox" name="checkboxViolenciaPsicologica" value="La ha culpado de las cosas que no salen bien"> La ha culpado de las cosas que no salen bien<br>
                            <input type="checkbox" name="checkboxViolenciaPsicologica" value="La ha acusado de serle infiel"> La ha acusado de serle infiel<br>
                            <input type="checkbox" name="checkboxViolenciaPsicologica" value="La ha dejado encerrada"> La ha dejado encerrada<br>
                            <input type="checkbox" name="checkboxViolenciaPsicologica" value="La ha ignorado y no la toma en cuenta en las decisiones"> La ha ignorado y no la toma en cuenta en las decisiones<br>
                            <input type="checkbox" name="checkboxViolenciaPsicologica" value="Le ha prohibido amistades o visitar a amigos y familiares"> Le ha prohibido amistades o visitar a amigos y familiares<br>
                            <input type="checkbox" name="checkboxViolenciaPsicologica" value="Le ha impedido realizar actividades fuera de la casa"> Le ha impedido realizar actividades fuera de la casa<br>
                            <input type="checkbox" name="checkboxViolenciaPsicologica" value="Le ha impedido ir al médico o no se preocupa por su salud"> Le ha impedido ir al médico o no se preocupa por su salud<br>
                            <input type="checkbox" name="checkboxViolenciaPsicologica" value="La ha amenazado con quitarle los hijos y/o no verlos"> La ha amenazado con quitarle los hijos y/o no verlos<br>
                            <input type="checkbox" name="checkboxViolenciaPsicologica" value="Se ha burlado de usted en distintos aspectos"> Se ha burlado de usted en distintos aspectos<br>
                            <input type="checkbox" name="checkboxViolenciaPsicologica" value="La ha amenazado para que no tramite pensión"> La ha amenazado para que no tramite pensión<br>
                            <input type="checkbox" name="checkboxViolenciaPsicologica" value="Le ha ocurrido alguna otra situación similar."> Le ha ocurrido alguna otra situación similar.
                            <label>Cual:</label>
                            <input class="form-control" id="txtViolenciaPsicologicaCual" type="text" required="">
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Violencia sexual:</label><br>

                            <input type="checkbox" name="checkboxViolenciaSexual" value="Se ha burlado/criticado de su comportamiento sexual"> Se ha burlado/criticado de su comportamiento sexual<br>
                            <input type="checkbox" name="checkboxViolenciaSexual" value="No toma en consideración sus necesidades y sentimientos sexuales"> No toma en consideración sus necesidades y sentimientos sexuales<br>
                            <input type="checkbox" name="checkboxViolenciaSexual" value="La ha asediado sexualmente en momentos inoportunos"> La ha asediado sexualmente en momentos inoportunos<br>
                            <input type="checkbox" name="checkboxViolenciaSexual" value="La ha insultado diciéndole “puta, “frígida” u otras palabras ofensivas"> La ha insultado diciéndole “puta, “frígida” u otras palabras ofensivas<br>
                            <input type="checkbox" name="checkboxViolenciaSexual" value="Ha intentado besarla/la ha besado a la fuerza"> Ha intentado besarla/la ha besado a la fuerza<br>
                            <input type="checkbox" name="checkboxViolenciaSexual" value="Le ha hecho comentarios obscenos o morbosos"> Le ha hecho comentarios obscenos o morbosos<br>
                            <input type="checkbox" name="checkboxViolenciaSexual" value="Ha intentado/le ha introducido objetos por el ano"> Ha intentado/le ha introducido objetos por el ano<br>
                            <input type="checkbox" name="checkboxViolenciaSexual" value="Ha intentado/le ha introducido objetos por vagina"> Ha intentado/le ha introducido objetos por vagina<br>
                            <input type="checkbox" name="checkboxViolenciaSexual" value="Ha intentado/ha tenido sexo oral sin su permiso"> Ha intentado/ha tenido sexo oral sin su permiso<br>
                            <input type="checkbox" name="checkboxViolenciaSexual" value="Ha intentado/le ha quitado su ropa sin que usted lo quiera"> Ha intentado/le ha quitado su ropa sin que usted lo quiera<br>
                            <input type="checkbox" name="checkboxViolenciaSexual" value="Le ha mostrado material pornográfico sin que usted lo quiera"> Le ha mostrado material pornográfico sin que usted lo quiera<br>
                            <input type="checkbox" name="checkboxViolenciaSexual" value="La ha tocado  partes de su cuerpo sin que usted quiera"> La ha tocado  partes de su cuerpo sin que usted quiera<br>
                            <input type="checkbox" name="checkboxViolenciaSexual" value="La ha obligado a que sostenga relaciones sexuales con animales"> La ha obligado a que sostenga relaciones sexuales con animales<br>
                            <input type="checkbox" name="checkboxViolenciaSexual" value="La ha obligado a tener sexo con otras personas para observar"> La ha obligado a tener sexo con otras personas para observar<br>
                            <input type="checkbox" name="checkboxViolenciaSexual" value="La ha hecho/mencionado propuestas sexuales que sean incómodas"> La ha hecho/mencionado propuestas sexuales que sean incómodas<br>
                            <input type="checkbox" name="checkboxViolenciaSexual" value="La ha obligado a que observe a otras personas teniendo sexo"> La ha obligado a que observe a otras personas teniendo sexo<br>
                            <input type="checkbox" name="checkboxViolenciaSexual" value="La ha chantajeado para que tenga relaciones sexuales con él"> La ha chantajeado para que tenga relaciones sexuales con él<br>
                            <input type="checkbox" name="checkboxViolenciaSexual" value="La ha agredido si se niega a tener sexo con él"> La ha agredido si se niega a tener sexo con él<br>
                            <input type="checkbox" name="checkboxViolenciaSexual" value="La ha obligado a tener sexo con otras personas por dinero"> La ha obligado a tener sexo con otras personas por dinero<br>
                            <input type="checkbox" name="checkboxViolenciaSexual" value="La ha obligado tener relaciones sexuales con él"> La ha obligado tener relaciones sexuales con él<br>
                            <input type="checkbox" name="checkboxViolenciaSexual" value="Le ha ocurrido alguna otra situación similar."> Le ha ocurrido alguna otra situación similar.
                            <label>Cual:</label>
                            <input class="form-control" id="txtViolenciaSexualCual" type="text" required="">
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Violencia patrimonial:</label><br>

                            <input type="checkbox" name="checkboxViolenciaPatrimonial" value="La ha amenazado con quitarle los bienes"> La ha amenazado con quitarle los bienes<br>
                            <input type="checkbox" name="checkboxViolenciaPatrimonial" value="Se ha apropiado de sus bienes a través de engaños, amenazas o chantaje afectivo"> Se ha apropiado de sus bienes a través de engaños, amenazas o chantaje afectivo<br>
                            <input type="checkbox" name="checkboxViolenciaPatrimonial" value="La ha obligado a entregar su salario o ingresos"> La ha obligado a entregar su salario o ingresos<br>
                            <input type="checkbox" name="checkboxViolenciaPatrimonial" value="Sus bienes aparecen a nombre de persona agresora"> Sus bienes aparecen a nombre de persona agresora<br>
                            <input type="checkbox" name="checkboxViolenciaPatrimonial" value="La ha obligado a adquirir deudas para beneficio económico de él/ella"> La ha obligado a adquirir deudas para beneficio económico de él/ella<br>
                            <input type="checkbox" name="checkboxViolenciaPatrimonial" value="Sus bienes son manejados por personas que no le dejan utilizarlo"> Sus bienes son manejados por personas que no le dejan utilizarlo<br>
                            <input type="checkbox" name="checkboxViolenciaPatrimonial" value="Le ha destruido objetos de valor para usted (afectivos-históricos)"> Le ha destruido objetos de valor para usted (afectivos-históricos)<br>
                            <input type="checkbox" name="checkboxViolenciaPatrimonial" value="Le quita o restringe el dinero para satisfacer sus necesidades"> Le quita o restringe el dinero para satisfacer sus necesidades<br>
                            <input type="checkbox" name="checkboxViolenciaPatrimonial" value="La ha amenazado para que no interponga la pensión alimentaria"> La ha amenazado para que no interponga la pensión alimentaria<br>
                            <input type="checkbox" name="checkboxViolenciaPatrimonial" value="Incumple con el pago de la pensión alimentaria"> Incumple con el pago de la pensión alimentaria<br>
                            <input type="checkbox" name="checkboxViolenciaPatrimonial" value="La amenaza con no comprar alimentos o necesidades básicas"> La amenaza con no comprar alimentos o necesidades básicas<br>
                            <input type="checkbox" name="checkboxViolenciaPatrimonial" value="Le ha ocurrido alguna otra situación similar."> Le ha ocurrido alguna otra situación similar.
                            <label>Cual:</label>
                            <input class="form-control" id="txtViolenciaPatrimonialCual" type="text" required="">
                        </div>

                    </div>

                    

                    <div class="row" id="contenedorBotones">

                        <div class="col-md-12" style="text-align: center; margin-bottom: 5px">
                            <button type="button" id="btnEnviarFormulario" class="btn btn-default btn-responsive" style="color: white; background-color: #368DE9; border-color: #368DE9; margin-bottom: 1px; ">Registrar una nueva usuaria</button>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </form>

</div>

