
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
    function llenarComboBox(nombreCatalogo, nombreComboBox) {
        return function (respuesta) {
            var catalogo = respuesta[nombreCatalogo];

            console.log(catalogo);
            debugger;
            if (catalogo.Mensaje.TipoMensaje === 1) {
                $.each(catalogo.Catalogo, function (key, value) {
                    console.log($(nombreComboBox));
                    $(nombreComboBox).append($("<option/>", {
                        value: value.PK_VALORCATALOGO,
                        text: value.VC_VALOR1
                    }));

                });
            } else {
                $("#contenedorBotones").show();
                $("#contenedorEspera").hide();
                $("#txtModalTitulo").css("color", "red");
                $("#txtModalTitulo").text("Error");
                $("#txtModalContenido").text(respuesta.Mensaje.ContenidoMensaje);
                instMensajes.open();
                $.LoadingOverlay("hide");
            }

            return respuesta

        }
    }

    $(document).ready(function () {

        var instMensajes = $('[data-remodal-id=modalDialogo]').remodal();
        $.ajax({
            type: "POST",
            url: '@Url.Action("ListarCatalogosCrearCaso")',
            dataType: "json",
            contentType: "application/json",
            processData: true,
            error: function (xhr, ajaxOptions, error) {
                $("#contenedorBotones").show();
                $("#contenedorEspera").hide();
                $("#txtModalTitulo").css("color", "red");
                $("#txtModalTitulo").text("Error al registrar");
                $("#txtModalContenido").text("Fallo al comunicarse con el servidor");
                instMensajes.open();
                $.LoadingOverlay("hide");

            }
        }).then(function(resultado) {
            var respuesta = JSON.parse(resultado);
            return respuesta;
        }).then(llenarComboBox("CEEAM", "#cmbTipoCEAAM"))
            .then(llenarComboBox("Tipo de Ingreso CEEAM", "#cmbTipoIngreso"))
            .then(llenarComboBox("Tipo de Egreso CEEAM", "#cmbTipoEgreso"))
            .then(llenarComboBox("Orientación Sexual", "#cmbOrientacionSexual"))
            .then(llenarComboBox("Etnia", "#cmbOrigenEtnico"))
            .then(llenarComboBox("Estado Civil", "#cmbCondicionCivil"))
            .then(llenarComboBox("Grado Académico", "#cmbEscolaridad"))
            .then(llenarComboBox("Tipo de Familia", "#cmbTipoFamilia"))
            .then(llenarComboBox("Nacionalidad", "#cmbNacionalidad"))
            .then(llenarComboBox("Nacionalidad", "#cmbOtraNacionalidad"))
            .then(llenarComboBox("Situación Migratoria", "#cmbCondicionMigratoria"))
            .then(llenarComboBox("Situación Laboral", "#cmbCondicionLaboral"))
            //.then(llenarComboBox("", "#cmbCondicionAseguramiento"))
            .then(llenarComboBox("Tipo de vivienda", "#cmbVivienda"))
            .then(llenarComboBox("Tipo de Discapacidad", "#cmbDiscapacidades"))
            .then(llenarComboBox("Adicción", "#cmbAdicciones"))
            .then(llenarComboBox("Género", "#cmbGenero"))
            .then(llenarComboBox("Nacionalidad", "#cmbNacionalidadHV"))
            .then(llenarComboBox("Grado Académico", "#cmbEscolaridadHV"))
            .then(llenarComboBox("Adicción", "#cmbAdiccionesHV"))
            .then(llenarComboBox("Número de separaciones de la persona agresora", "#cmbNumeroSeparacionesPersonaAgresora"))
            .then(llenarComboBox("Motivo para retomar relación con persona agresora", "#cmbMotivosRegresar"))
            .then(llenarComboBox("Tipo de Respuesta Si o No que incluye la opción \"No especificado\"", "#cmbAntecedentesLegales"))
            .then(llenarComboBox("Tipo de Respuesta Si o No que incluye la opción \"No especificado\"", "#cmbAntecedentesPsiquiatricos"))
            .then(llenarComboBox("Tipo de Atención Médica", "#cmbAtencionMedicaProductoDeAgresion"))
            .then(llenarComboBox("Situación Enfrentada", "#cmbTipoViolencia"))
            .then(llenarComboBox("Impacto producto de violencia", "#cmbImpactoViolencia"))
            .then(llenarComboBox("Valoracion de riesgo", "#cmbValoracionRiesgo"))
            .then(llenarComboBox("Condicion legal al ingreso", "#cmbCondicionLegalIngreso"))
            .then(llenarComboBox("Medida de Protección", "#cmbMedidasProteccion"))
            //.then(llenarComboBox("", "#cmbEncuentraEnProgramaOAPVD"))
            .then(llenarComboBox("Situación de Violencia Física", "#cmbViolenciaFisica"))
            .then(llenarComboBox("Situación de Violencia Psicológica", "#cmbViolenciaPsicologica"))
            .then(llenarComboBox("Situación de Violencia Sexual", "#cmbViolenciaSexual"))
            .then(llenarComboBox("Situación de Violencia Patrimonial", "#cmbViolenciaPatrimonial"))
            //.then(llenarComboBox("Tipo de Respuesta Si o No que incluye la opción \"No especificado\"", "#cmbRespuestaSiNosponible"))
            .then(() => {
                $('#btn-login').fadeIn();
                $('#cmbTipoCEAAM').selectize({
                    sortField: 'text',
                    create: false,
                    placeholder: "Tipo de CEAAM",
                });
            $.LoadingOverlay("hide");
        });







    });
</script>

<style>
    .jumbotron {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .container {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
</style>
<script src="https://www.google.com/cloudprint/client/cpgadget.js">
</script>


<script type="text/javascript">
    $("#btnCerrarFrmUsuarios").click(function (e) {
        e.preventDefault();
        $("#btnUsuarios").trigger("click");
    });
    var instMensajes = $('[data-remodal-id=modalDialogo]').remodal();
    $(document).ready(function () {
        $.LoadingOverlay("hide");
       
        document.title = "SIVIO - Editar Persona Usuaria";
        InicializarOtrosEventos();
        InicializarCamposObservaciones();

    });

    function InicializarOtrosEventos() {
        var d = new Date();

        var month = d.getMonth() + 1;
        var day = d.getDate();
        var fechaHoy = (day < 10 ? '0' : '') + day + '/' +
            (month < 10 ? '0' : '') + month + '/' +
            d.getFullYear();

        $("#txtFechaAplicacion").val(fechaHoy);
        $('#txtFechaAplicacion').css("background-color", "#f2f2f2");
        $("#txtFechaAplicacion").prop("readonly", true);



        $("#btnEnviarFormulario").click(function () {

            RegistroUsuario();
            $('#formagregarUsuarios').find('input:text').val('');
            $('textarea:text').val('');


        });

        $("#btnCerrarFrmUsuario").click(function (e) {

            e.preventDefault();
            $("#btnUsuarios").trigger("click");
        });

        $("#btnTerminar").click(function () {

            window.location.href = '/sipamu/';
            setTimeout(volver(), 1000);

        });

        function volver() {
            window.location.href = '/sipamu/';
        }

    }


    function InicializarCamposObservaciones() { }

    function RegistroUsuario() {
        debugger;
        $('#contenedorPrincipal').hide();
        $('#contenedorEspera').fadeIn();
        var resultadoValidacion = $('#formagregarUsuarios').parsley().validate();
        if (resultadoValidacion === true) {
            var formularioAgregarUsuario = $();




            formularioAgregarUsuario.Nombre = $("#txtNombre").val();
            formularioAgregarUsuario.PrimerApellido = $("#txtApellido1").val();
            formularioAgregarUsuario.SegundoApellido = $("#txtApellido2").val();
            formularioAgregarUsuario.NombreUsuario = $("#txtUsuario").val();
            formularioAgregarUsuario.FkUnidad = $("#cmbUnidad").val();
            formularioAgregarUsuario.Rol = $("#cmbRol").val();
            formularioAgregarUsuario.Clave = $("#txtContrasena").val();
            formularioAgregarUsuario.ValidarContrasena = $("#txtValidarContrasena").val();
            formularioAgregarUsuario.Correo = $("txtCorreo").val();

            if (formularioAgregarUsuario.Clave !== formularioAgregarUsuario.ValidarContrasena) {
                $("#contenedorBotones").show();
                $("#contenedorEspera").hide();
                $("#txtModalTitulo").css("color", "red");
                $("#txtModalTitulo").text("Error");
                $("#txtModalContenido").text("Las contraseñas digitadas con coinciden");
                instMensajes.open();

            } else {


                $.ajax({
                    type: "POST",
                    url: '/sipamu/Seguridad/AgregarPersonaUsuaria',
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({
                        objUsuarios: formularioAgregarUsuario
                    }),
                    processData: true,
                    success: function (data) {
                        if (data.TipoMensaje === 1) {

                            $("#contenedorBotones").show();
                            $("#contenedorEspera").hide();
                            $("#txtModalTitulo").css("color", "green");
                            $("#txtModalTitulo").text("Operación Exitosa");
                            $("#txtModalContenido").text(data.ContenidoMensaje);
                            instMensajes.open();





                        } else {
                            $("#contenedorBotones").show();
                            $("#contenedorEspera").hide();
                            $("#txtModalTitulo").css("color", "red");
                            $("#txtModalTitulo").text("Error al registrar");
                            $("#txtModalContenido").text(data.ContenidoMensaje);
                            instMensajes.open();
                        }

                    },
                    error: function (xhr, ajaxOptions, error) {
                        $("#contenedorBotones").show();
                        $("#contenedorEspera").hide();
                        $("#txtModalTitulo").css("color", "red");
                        $("#txtModalTitulo").text("Error al registrar");
                        $("#txtModalContenido").text("Fallo al comunicarse con el servidor");
                        instMensajes.open();

                    }
                });
            }



            debugger;



        } else {
            $("#txtModalTitulo").css("color", "red");
            $("#txtModalTitulo").text("Información Incompleta");
            $("#txtModalContenido").text("El formulario todavía tiene campos pendientes de llenar.");
            instMensajes.open();
        }
        $('#contenedorEspera').fadeOut();
        $('#contenedorPrincipal').fadeIn();


    }



</script>


<style>
    .pad {
        padding-bottom: 3px;
        margin-bottom: 3px;
    }

    .parsley-required {
        color: red;
        font-weight: bold;
    }

    .checkNoSpace {
        padding-left: 0px !important;
    }

    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: white;
    }

    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: white;
        opacity: 1;
    }

    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: white;
        opacity: 1;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white;
    }
</style>

<style>
    input, select, textarea {
        max-width: 100%;
        padding: 4px;
    }

    input {
        background-color: blue;
    }
</style>
<div class="container-fluid" id="contenedorPrincipal">

    <form id="crearcaso" method="post" style="background-color: whitesmoke;border: 1px solid #E3E3E3;border-radius: 4px;">
        

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tabIngresoEgreso">Ingreso y Egreso</a></li>
            <li><a data-toggle="tab" href="#tabPerfilUsuaria">Perfil de Usuaria</a></li>
            <li><a data-toggle="tab" href="#tabHistoriaViolencia">Historia de Violencia</a></li>
            <li><a data-toggle="tab" href="#tabAtenciones">Atenciones</a></li>
            <li><a data-toggle="tab" href="#tabHijosHijas">Hijos e Hijas</a></li>
            <li><a data-toggle="tab" href="#tabSeguimientos">Seguimientos</a></li>
        </ul>

        <div class="tab-content">
            <div id="tabIngresoEgreso" class="tab-pane fade in active" style="padding:5px">
                <h3>Ingreso y Egreso</h3>
                @* Pestaña Ingreso y egreso *@

                <div class="row" id="tabIngresoEgreso">

                    <div class="col-xs-4 form-group">
                        <label>CEAAM al que ingresa:</label><br>

                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbTipoCEAAM" class="form-control" multiple>
                                    @*<option selected disabled>Seleccione una opcion</option>*@
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Tipo de ingreso:</label><br>

                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbTipoIngreso" class="form-control">
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Fecha de ingreso actual:</label>
                        <input class="form-control" id="txtFechaIngresoActual" type="date" required="">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Fecha de ingreso anterior:</label>
                        <input class="form-control" id="txtFechaIngresoAnterior" type="date" required="">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Hora de ingreso:</label>
                        <input class="form-control" id="txtHoraIngreso" type="time" required="">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Nombre de la persona que recibe el ingreso:</label>
                        <input class="form-control" id="txtNombrePersonaIngreso" type="text" required="">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Número de familia:</label>
                        <input class="form-control" id="txtNumeroFamilia" type="number" required="">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Fecha de egreso:</label>
                        <input class="form-control" id="txtFechaEgreso" type="date" required="">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Tipo de egreso:</label><br>
                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbTipoEgreso" class="form-control">
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Lugar de destino:</label><br>

                        <label>Provincia:</label> <input class="form-control" id="txtProvinciaDestino" type="text" required="">
                        <label>Cantón:</label> <input class="form-control" id="txtCantonDestino" type="text" required="">
                        <label>Distrito:</label> <input class="form-control" id="txtDistritoDestino" type="text" required="">
                        <label>Telefono:</label> <input class="form-control" id="txtTelefonoDestino" type="text" required="">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Destino fuera de Costa Rica:</label>

                        <input class="form-control" id="txtApellido2" type="text" required="">
                        <input type="radio" name="radioDestino" value="No indica / Confidencial"> No indica / Confidencial
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Entrega del kit de emergencia:</label><br>

                        <input type="radio" name="radioKit" value="Sí"> Sí<br>
                        <input type="radio" name="radioKit" value="No"> No<br>
                        <input type="radio" name="radioKit" value="Rechaza el kit"> Rechaza el kit<br>
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Fecha de asignación:</label>
                        <input class="form-control" id="txtFechaAsignacion" type="date" required="">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Persona responsable:</label>
                        <input class="form-control" id="txtPersonaResponsable" type="text" required="">
                    </div>

                </div>
            </div>

            <div id="tabPerfilUsuaria" class="tab-pane fade" style="padding:5px">
                <h3>Perfil de Usuaria</h3>
                
                @* Pestaña Perfil de la Usuaria *@

                <div class="row" id="tabPerfilUsuaria">


                    <div class="col-xs-4 form-group">
                        <label>Edad:</label>
                        <input class="form-control" id="txtEdad" type="text" required="">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Fecha de nacimiento:</label>
                        <input class="form-control" id="txtFechaNacimiento" type="date" required="">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Orientación sexual:</label><br>

                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbOrientacionSexual" class="form-control">
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Origen Étnico:</label><br>

                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbOrigenEtnico" class="form-control">
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div>
                    </div>
               

                    <div class="col-xs-4 form-group">
                        <label>Condición civil</label><br>

                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbCondicionCivil" class="form-control">
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-4 form-group">
                        <label>Escolaridad</label><br>

                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbEscolaridad" class="form-control">
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-4 form-group">
                        <label>Número total de hijos:</label>
                        <input class="form-control" id="txtNumeroHijos" type="number" required="">
                    </div>


                    <div class="col-xs-4 form-group">
                        <label>Tipo de familia</label><br>

                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbTipoFamilia" class="form-control">
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Nacionalidad</label><br>

                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbNacionalidad" class="form-control">
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div>

                        <label>Otra nacionalidad</label><br>

                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbOtraNacionalidad" class="form-control">
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div>

                        <input type="radio" name="radioApatrida" value="Apatrida"> Ápatrida
                    </div>

                   

                    <div class="col-xs-4 form-group">
                        <label>Condición migratoria</label><br>

                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbCondicionMigratoria" class="form-control">
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Ocupación:</label>
                        <input class="form-control" id="txtOcupacion" type="text" required="">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Condición laboral</label><br>

                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbCondicionLaboral" class="form-control">
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-4 form-group">
                        <label>Experiencia Laboral</label><br>
                        <div class="row">
                            <div class="col-xs-12">
                                <input type="radio" name="radioCondicionLaboralSi" value="radioCondicionLaboralSi"> Si
                                <input type="radio" name="radioCondicionLaboralNo" value="radioCondicionLaboralSi"> No
                            </div>
                        </div>
                    </div>

                
                    <div class="col-xs-4 form-group">
                        <label>Lugar de trabajo</label>
                        <input class="form-control" id="txtLugarDeTrabajo" type="text" required="">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Condición de aseguramiento</label><br>

                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbCondicionAseguramiento" class="form-control">
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-4 form-group">
                        <label>Vivienda</label><br>

                        <div class="row">
                            <div class="col-xs-1"><span data-toggle="tooltip" title="Vivienda" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                            <div class="col-xs-11">
                                <select id="cmbVivienda" class="form-control">
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Discapacidades:</label><br>

                        <div class="row">
                            <div class="col-xs-4">
                                <select id="cmbDiscapacidades" class="form-control" multiple>
                                    @*<option selected disabled>Seleccione una opcion</option>*@
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Adicciones</label><br>

                        <div class="row">
                            <div class="col-xs-1"><span data-toggle="tooltip" title="Adicciones" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                            <div class="col-xs-11">
                                <select id="cmbAdicciones" class="form-control">
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div>
                    </div>



                    <label>Redes o recursos de apoyo con los que cuenta la usuaria</label><br>
                    <input type="checkbox" name="radioApoyo" value="No tiene"> No tiene<br>
                    <label>Primaria</label><br>
                    <div class="col-xs-4 form-group">
                        <label>Nombre</label><input class="form-control" id="txtRecApoyo" type="text"><label>Teléfono</label><input class="form-control" id="txtRecApoyo" type="number"><br>
                        <label>Nombre</label><input class="form-control" id="txtRecApoyo" type="text"><label>Teléfono</label><input class="form-control" id="txtRecApoyo" type="number"><br>
                        <label>Nombre</label><input class="form-control" id="txtRecApoyo" type="text"><label>Teléfono</label><input class="form-control" id="txtRecApoyo" type="number"><br>
                    </div>
                    <label>Secundaria</label><br>
                    <div class="col-xs-4 form-group">
                        <label>Nombre</label><input class="form-control" id="txtRecApoyo" type="text"><label>Teléfono</label><input class="form-control" id="txtRecApoyo" type="number"><br>
                        <label>Nombre</label><input class="form-control" id="txtRecApoyo" type="text"><label>Teléfono</label><input class="form-control" id="txtRecApoyo" type="number"><br>
                        <label>Nombre</label><input class="form-control" id="txtRecApoyo" type="text"><label>Teléfono</label><input class="form-control" id="txtRecApoyo" type="number"><br>
                    </div>

                </div>
            </div>

            <div id="tabHistoriaViolencia" class="tab-pane fade" style="padding:5px">
                <h3>Historia de Violencia</h3>
                @* Pestaña Historia de violencia *@

                <div class="row" id="tabHIstoriaViolencia">
                    
                    <div class="col-xs-4 form-group">
                        <label>Nombre de persona agresora:</label>

                        <input class="form-control" id="txtPersonaAgresora" type="text" required="">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Edad:</label>

                        <input class="form-control" id="txtEdad" type="text" required="">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Género</label><br>

                        <div class="row">
                            <div class="col-xs-1"><span data-toggle="tooltip" title="Género" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                            <div class="col-xs-11">
                                <select id="cmbGenero" class="form-control"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Nacionalidad</label><br>

                        <div class="row">
                            <div class="col-xs-1"><span data-toggle="tooltip" title="Nacionalidad" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                            <div class="col-xs-11">
                                <select id="cmbNacionalidadHV" class="form-control"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Escolaridad</label><br>

                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbEscolaridadHV" class="form-control"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Ocupación:</label>

                        <input class="form-control" id="txtOcupacion" type="text" required="">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Lugar de trabajo:</label>

                        <input class="form-control" id="txtLugarTrabajo" type="text" required="">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Adicciones:</label><br>

                        <div class="row">
                            <div class="col-xs-1"><span data-toggle="tooltip" title="Adicciones:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                            <div class="col-xs-11">
                                <select id="cmbAdiccionesHV" class="form-control"></select>
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-4 form-group">
                        <label>Vínculo con la usuaria:</label>

                        <input class="form-control" id="txtVinculoUsuaria" type="text" required="">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Tiempo de la relación:</label>

                        <input class="form-control" id="txtTiempoRelacion" type="text" required="">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Tiempo de la agresión:</label>

                        <input class="form-control" id="txtTiempoAgresion" type="text" required="">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Número de separaciones de la persona agresora:</label><br>

                        <div class="row">
                            <div class="col-xs-1"><span data-toggle="tooltip" title="Número de separaciones de la persona agresora:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                            <div class="col-xs-11">
                                <select id="cmbNumeroSeparacionesPersonaAgresora" class="form-control"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Motivos para regresar:</label><br>

                        <div class="row">
                            <div class="col-xs-1"><span data-toggle="tooltip" title="Motivos para regresar:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                            <div class="col-xs-11">
                                <select id="cmbMotivosRegresar" class="form-control"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Antecedentes legales:</label><br>

                        <div class="row">
                            <div class="col-xs-1"><span data-toggle="tooltip" title="Antecedentes legales:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                            <div class="col-xs-11">
                                <select id="cmbAntecedentesLegales" class="form-control"></select>
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-4 form-group">
                        <label>Antecedentes psiquiátricos:</label><br>

                        <div class="row">
                            <div class="col-xs-1"><span data-toggle="tooltip" title="Antecedentes psiquiátricos:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                            <div class="col-xs-11">
                                <select id="cmbAntecedentesPsiquiatricos" class="form-control"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Atención médica producto de la agresión:</label><br>

                        <div class="row">
                            <div class="col-xs-1"><span data-toggle="tooltip" title="Atención médica producto de la agresión:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                            <div class="col-xs-11">
                                <select id="cmbAtencionMedicaProductoDeAgresion" class="form-control"></select>
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-4 form-group">
                        <label>Nombre del centro de salud:</label>

                        <input class="form-control" id="txtCentroSalud" type="text" required="">
                    </div>


                    <div class="col-xs-4 form-group">
                        <label>Tipo de violencia:</label><br>

                        <div class="row">
                            <div class="col-xs-1"><span data-toggle="tooltip" title="Tipo de violencia:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                            <div class="col-xs-11">
                                <select id="cmbTipoViolencia" class="form-control"></select>
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-4 form-group">
                        <label>Impacto de la violencia:</label><br>

                        <div class="row">
                            <div class="col-xs-1"><span data-toggle="tooltip" title="Impacto de la violencia:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                            <div class="col-xs-11">
                                <select id="cmbImpactoViolencia" class="form-control"></select>
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-4 form-group">
                        <label>Valoración de riesgo:</label><br>

                        <div class="row">
                            <div class="col-xs-1"><span data-toggle="tooltip" title="Valoración de riesgo:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                            <div class="col-xs-11">
                                <select id="cmbValoracionRiesgo" class="form-control"></select>
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-4 form-group">
                        <label>Condición legal al ingreso:</label><br>

                        <div class="row">
                            <div class="col-xs-1"><span data-toggle="tooltip" title="Condición legal al ingreso:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                            <div class="col-xs-11">
                                <select id="cmbCondicionLegalIngreso" class="form-control"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Medidas de protección:</label><br>

                        <div class="row">
                            <div class="col-xs-1"><span data-toggle="tooltip" title="Medidas de protección:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                            <div class="col-xs-11">
                                <select id="cmbMedidasProteccion" class="form-control"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Se encuentra con el programa OAPVD:</label><br>

                        <div class="row">
                            <div class="col-xs-1"><span data-toggle="tooltip" title="Se encuentra con el programa OAPVD:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                            <div class="col-xs-11">
                                <select id="cmbEncuentraEnProgramaOAPVD" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                                        
                    <div class="col-xs-4 form-group">
                        <label>Violencia física:</label><br>

                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbViolenciaFisica" class="form-control" multiple>
                                    @*<option selected disabled>Seleccione una opcion</option>*@
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Violencia psicológica:</label><br>

                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbViolenciaPsicologica" class="form-control" multiple>
                                    @*<option selected disabled>Seleccione una opcion</option>*@
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Violencia sexual:</label><br>

                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbViolenciaSexual" class="form-control" multiple>
                                    @*<option selected disabled>Seleccione una opcion</option>*@
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Violencia patrimonial:</label><br>

                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbViolenciaPatrimonial" class="form-control" multiple>
                                    @*<option selected disabled>Seleccione una opcion</option>*@
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div id="tabAtenciones" class="tab-pane fade" style="padding:5px">
                <h3>Atenciones</h3>
                
                @* Pestaña Atenciones *@

                <div class="row" id="tabAtenciones">
                    
                    <!--Formulario-->

                </div>                
            </div>

            <div id="tabHijosHijas" class="tab-pane fade" style="padding:5px">
                <h3>Hijos e Hijas</h3>
                @* Pestaña Hijos e Hijas *@
                <div class="row" id="tabHijosHijas">
                    <!--Formulario-->
                </div>
            </div>

            <div id="tabSeguimientos" class="tab-pane fade" style="padding:5px">
                <h3>Seguimientos</h3>
                @* Pestaña Seguimientos *@

                <div class="row" id="tabSeguimientos">
                    <!--Formulario-->
                </div>
            </div>
        </div>


        @*
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <div class="row comunForm">
                <div class="row">
                    <div class="col-xs-10">
                    </div>
                    <div class="col-xs-2">
                        <button class="botonCerrar danger" id="btnCerrarFrmUsuarios">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>


                Aqui iban los divs

                <div class="row" id="contenedorBotones">

                    <div class="col-md-12" style="text-align: center; margin-bottom: 5px">
                        <button type="button" id="btnEnviarFormulario" class="btn btn-default btn-responsive" style="color: white; background-color: #368DE9; border-color: #368DE9; margin-bottom: 1px; ">Registrar un nuevo caso</button>

                    </div>

                </div>

            </div>

        </div>
    </div>
        *@


    </form>

</div>

