




@*<h3>Historia de Violencia</h3>
Pestaña Historia de violencia*
        <div id="tabHistoriaViolencia">
            <div class="row" id="tabHIstoriaViolencia">

                <div class="col-xs-4 form-group">
                    <label>Nombre de persona agresora:</label>

                    <input class="form-control" id="txtPersonaAgresora" type="text" required="">
                </div>

                <div class="col-xs-4 form-group">
                    <label>Edad:</label>

                    <input class="form-control" id="txtEdad" type="text" required="">
                </div>

                <div class="col-xs-4 form-group">
                    <label>Género</label><br>

                    <div class="row">
                        <div class="col-xs-1"><span data-toggle="tooltip" title="Género" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                        <div class="col-xs-11">
                            <select id="cmbGenero" class="form-control"></select>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4 form-group">
                    <label>Nacionalidad</label><br>

    <<<<<<< HEAD
                    <div class="row">
                        <div class="col-xs-1"><span data-toggle="tooltip" title="Nacionalidad" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                        <div class="col-xs-11">
                            <select id="cmbNacionalidad" class="form-control"></select>
    =======
                        <div class="col-xs-4 form-group">
                            <label>Antecedentes psiquiátricos:</label><br>                   
                            <select id="cmbAntecedentesPsiquiatricos" class="form-control"></select>
                        </div>
    >>>>>>> 179742b276885c3ed90a95485abecab62253a14b
                        </div>
                    </div>
                </div>

                <div class="col-xs-4 form-group">
                    <label>Escolaridad</label><br>

                    <div class="row">
                        <div class="col-xs-1"><span data-toggle="tooltip" title="Escolaridad" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                        <div class="col-xs-11">
                            <select id="cmbEscolaridad" class="form-control"></select>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4 form-group">
                    <label>Ocupación:</label>

                    <input class="form-control" id="txtOcupacion" type="text" required="">
                </div>

                <div class="col-xs-4 form-group">
                    <label>Lugar de trabajo:</label>

                    <input class="form-control" id="txtLugarTrabajo" type="text" required="">
                </div>

                <div class="col-xs-4 form-group">
                    <label>Adicciones:</label><br>

                    <div class="row">
                        <div class="col-xs-1"><span data-toggle="tooltip" title="Adicciones:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                        <div class="col-xs-11">
                            <select id="cmbAdicciones" class="form-control"></select>
                        </div>
                    </div>
                </div>


                <div class="col-xs-4 form-group">
                    <label>Vínculo con la usuaria:</label>


                            <h3>Atenciones</h3>

                            <label>Legal</label><br>
                            <input type="checkbox" name="radioApoyo" value="No desea recibir atencion"> No desea recibir atención<br>
                            <label>Fecha de la atención o sesión realizada</label><br>
                            <input class="form-control" id="txtFechaAtencion" type="date" required=""><br>
                            <label>Objetivo de la atención</label><br>
                            <input class="form-control" id="txtObjetivoAtencion" type="text" required=""><br>
                            <label>Resumen de la atención</label><br>
                            <input class="form-control" id="txtResumenAtencion" type="text" required=""><br>

                            <table style="width:100%">
                                <tr>
                                    <td>
                                        <input type="checkbox" name="radioAtenciones" value="Asesoria en vioencia doméstica"> Asesoria en vioencia doméstica<br>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="radioAtenciones" value="Solicitud de medidas de proteccion"> Solicitud de medidas de proteccion<br>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="radioAtenciones" value="Asesoria en separacion, divorcio, union de hecho, ganancialidad"> Asesoria en separacion, divorcio, union de hecho, ganancialidad<br>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="radioAtenciones" value="Asesoría en hostigamiento sexual"> Asesoría en hostigamiento sexual<br>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="radioAtenciones" value="Asesoría en pensión alimentaria"> Asesoría en pensión alimentaria<br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="radioAtenciones" value="Asesoría en autoridad parental"> Asesoría en autoridad parental<br>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="radioAtenciones" value="Asesoría en filiación"> Asesoría en filiación<br>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="radioAtenciones" value="Asesoría en procesos penales"> Asesoría en procesos penales<br>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="radioAtenciones" value="Asesoría en ley de penalización VcM"> Asesoría en ley de penalización VcM<br>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="radioAtenciones" value="Asesoría en derechos humanos"> Asesoría en derechos humanos<br>
                                    </td>
                                </tr>
                            </table>
                            <!--Formulario-->

                    <input class="form-control" id="txtVinculoUsuaria" type="text" required="">
                </div>

                <div class="col-xs-4 form-group">
                    <label>Tiempo de la relación:</label>


                    <input class="form-control" id="txtTiempoRelacion" type="text" required="">
                </div>

                <div class="col-xs-4 form-group">
                    <label>Tiempo de la agresión:</label>

                    <input class="form-control" id="txtTiempoAgresion" type="text" required="">
                </div>

                <div class="col-xs-4 form-group">
                    <label>Número de separaciones de la persona agresora:</label><br>

                    <div class="row">
                        <div class="col-xs-1"><span data-toggle="tooltip" title="Número de separaciones de la persona agresora:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                        <div class="col-xs-11">
                            <select id="cmbNumeroSeparacionesPersonaAgresora" class="form-control"></select>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4 form-group">
                    <label>Motivos para regresar:</label><br>

                    <div class="row">
                        <div class="col-xs-1"><span data-toggle="tooltip" title="Motivos para regresar:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                        <div class="col-xs-11">
                            <select id="cmbMotivosRegresar" class="form-control"></select>
                        </div>
                    </div>
                </div>


                            <label>Nombre</label><br>
                            <input class="form-control" id="txtNombre" type="text" required=""><br>
                            <label>Sexo</label><br>
                            <table style="width:30%">
                                <tr>
                                    <td>
                                        <input type="radio" name="radioSexo" value="Hombre">Hombre<br>
                                    </td>
                                    <td>
                                        <input type="radio" name="radioSexo" value="Mujer"> Mujer<br>
                                    </td>
                                </tr>
                            </table>

                            <label>Fecha de nacimiento</label><br>
                            <input class="form-control" id="txtEdad" type="date" required=""><br>
                            <label>Edad</label><br>
                            <input class="form-control" id="txtEdad" type="number" required=""><br>
                            <label>Nacionalidad</label><br>
                            <input class="form-control" id="txtEdad" type="text" required=""><br>
                            <label>Escolaridad</label><br>
                            <table style="width:40%">
                                <tr>
                                    <td>
                                        <input type="radio" name="radioEscolaridad" value="Ningún grado"> Ningún grado<br>
                                    </td>
                                    <td>
                                        <input type="radio" name="radioEscolaridad" value="Materno"> Materno<br>
                                    </td>
                                    <td>
                                        <input type="radio" name="radioEscolaridad" value="Kinder"> Kinder<br>
                                    </td>
                                    <td>
                                        <input type="radio" name="radioEscolaridad" value="Primaria"> Primaria<br>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <input type="radio" name="radioEscolaridad" value="Secundaria"> Secundaria<br>
                                    </td>
                                    <td>
                                        <input type="radio" name="radioEscolaridad" value="Aula abierta"> Aula abierta<br>
                                    </td>
                                    <td>
                                        <input type="radio" name="radioEscolaridad" value="Universitaria"> Universitaria<br>
                                    </td>
                                    <td>
                                        <input type="radio" name="radioEscolaridad" value="Para universitaria"> Para universitaria<br>
                                    </td>
                                </tr>
                            </table>

                            <label>Parentesco con la usuaria</label><input class="form-control" id="txtParentesco" type="text" required=""><br>

                            <label>Condiciones especiales y de salud</label>
                            <div class="col-xs-4 form-group">
                                <label>Discapacidad</label><br>
                                <input type="checkbox" name="fisica" value="fisica">Física<br>
                                <input type="checkbox" name="cognitiva" value="cognitiva">Cognitiva<br>
                                <input type="checkbox" name="mental" value="mental">Mental<br>
                                <input type="checkbox" name="sensorial" value="sensorial">Sensorial<br>
                                <input type="checkbox" name="sensorial" value="Padecimientos crónicos">Padecimientos crónicos<br>
                                <input type="checkbox" name="sensorial" value="Alergias">Alergias<br>
                                <input type="checkbox" name="sensorial" value="VIH-SIDA">VIH-SIDA<br>
                                <input type="checkbox" name="sensorial" value="Problemas respiratorios">Problemas respiratorios<br>
                            </div>
                            <label>Tipo de maltrato vivido</label>
                            <table style="width:20%">
                                <tr>
                                    <td>
                                        <input type="checkbox" name="checkMaltrato" value="Psicológico"> Psicológico<br>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="checkMaltrato" value="Físico"> Físico<br>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="checkMaltrato" value="Bullying"> Bullying<br>
                                    </td>
                                </tr>
                            </table>

                            <label>Abuso sexual</label>
                            <table style="width:30%">
                                <tr>
                                    <td>
                                        <input type="radio" name="radioAbuso" value="No"> No<br>
                                    </td>
                                    <td>
                                        <input type="radio" name="radioAbuso" value="Sí, con denuncia"> Sí, con denuncia<br>
                                    </td>
                                    <td>
                                        <input type="radio" name="radioAbuso" value="Sí, sin denuncia"> Sí, sin denuncia<br>
                                    </td>
                                </tr>
                            </table>

                            <label>Parentesco del presunto ofensor</label><input class="form-control" id="txtOfensor" type="text" required=""><br>
                                    <!--Formulario-->

                <div class="col-xs-4 form-group">
                    <label>Antecedentes legales:</label><br>


                    <div class="row">
                        <div class="col-xs-1"><span data-toggle="tooltip" title="Antecedentes legales:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                        <div class="col-xs-11">
                            <select id="cmbAntecedentesLegales" class="form-control"></select>
                        </div>
    <<<<<<< HEAD
                    </div>
                </div>


                <div class="col-xs-4 form-group">
                    <label>Antecedentes psiquiátricos:</label><br>

                    <div class="row">
                        <div class="col-xs-1"><span data-toggle="tooltip" title="Antecedentes psiquiátricos:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                        <div class="col-xs-11">
                            <select id="cmbAntecedentespsiquiatricos" class="form-control"></select>
    =======

                        <div class="col-xs-4 form-group">
                            <label>Violencia física:</label><br>

                            <div class="row">
                                <div class="col-xs-12">
                                    <select id="cmbViolenciaFisica" class="form-control" multiple>
                                        @*<option selected disabled>Seleccione una opcion</option>
                                    </select>
                                </div>
                            </div>
    >>>>>>> 179742b276885c3ed90a95485abecab62253a14b
                        </div>
                    </div>
                </div>

    <<<<<<< HEAD
                <div class="col-xs-4 form-group">
                    <label>Atención médica producto de la agresión:</label><br>

                    <div class="row">
                        <div class="col-xs-1"><span data-toggle="tooltip" title="Atención médica producto de la agresión:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                        <div class="col-xs-11">
                            <select id="cmbAtencionMedicaProductoDeAgresion" class="form-control"></select>
    =======
                        <div class="col-xs-4 form-group">
                            <label>Violencia psicológica:</label><br>

                            <div class="row">
                                <div class="col-xs-12">
                                    <select id="cmbViolenciaPsicologica" class="form-control" multiple>
                                        @*<option selected disabled>Seleccione una opcion</option>
                                    </select>
                                </div>
                            </div>
    >>>>>>> 179742b276885c3ed90a95485abecab62253a14b
                        </div>
                    </div>
                </div>

    <<<<<<< HEAD

                <div class="col-xs-4 form-group">
                    <label>Nombre del centro de salud:</label>

                    <input class="form-control" id="txtCentroSalud" type="text" required="">
                </div>


                <div class="col-xs-4 form-group">
                    <label>Tipo de violencia:</label><br>

                    <div class="row">
                        <div class="col-xs-1"><span data-toggle="tooltip" title="Tipo de violencia:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                        <div class="col-xs-11">
                            <select id="cmbTipoViolencia" class="form-control"></select>
    =======
                        <div class="col-xs-4 form-group">
                            <label>Violencia sexual:</label><br>

                            <div class="row">
                                <div class="col-xs-12">
                                    <select id="cmbViolenciaSexual" class="form-control" multiple>
                                        @*<option selected disabled>Seleccione una opcion</option>
                                    </select>
                                </div>
                            </div>
    >>>>>>> 179742b276885c3ed90a95485abecab62253a14b
                        </div>
                    </div>
                </div>

    <<<<<<< HEAD

                <div class="col-xs-4 form-group">
                    <label>Impacto de la violencia:</label><br>

                    <div class="row">
                        <div class="col-xs-1"><span data-toggle="tooltip" title="Impacto de la violencia:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                        <div class="col-xs-11">
                            <select id="cmbImpactoViolencia" class="form-control"></select>
    =======
                        <div class="col-xs-4 form-group">
                            <label>Violencia patrimonial:</label><br>

                            <div class="row">
                                <div class="col-xs-12">
                                    <select id="cmbViolenciaPatrimonial" class="form-control" multiple>
                                        @*<option selected disabled>Seleccione una opcion</option>
                                    </select>
                                </div>
                            </div>
    >>>>>>> 179742b276885c3ed90a95485abecab62253a14b
                        </div>
                    </div>
                </div>


                <div class="col-xs-4 form-group">
                    <label>Valoración de riesgo:</label><br>

                    <div class="row">
                        <div class="col-xs-1"><span data-toggle="tooltip" title="Valoración de riesgo:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                        <div class="col-xs-11">
                            <select id="cmbValoracionRiesgo" class="form-control"></select>
                        </div>
                    </div>
                </div>


                <div class="col-xs-4 form-group">
                    <label>Condición legal al ingreso:</label><br>

                    <div class="row">
                        <div class="col-xs-1"><span data-toggle="tooltip" title="Condición legal al ingreso:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                        <div class="col-xs-11">
                            <select id="cmbCondicionLegalIngreso" class="form-control"></select>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4 form-group">
                    <label>Medidas de protección:</label><br>

                    <div class="row">
                        <div class="col-xs-1"><span data-toggle="tooltip" title="Medidas de protección:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                        <div class="col-xs-11">
                            <select id="cmbMedidasProteccion" class="form-control"></select>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4 form-group">
                    <label>Se encuentra con el programa OAPVD:</label><br>

                    <div class="row">
                        <div class="col-xs-1"><span data-toggle="tooltip" title="Se encuentra con el programa OAPVD:" class="input-group-addon" style="border: none;"><i style="padding-top: 3.5px"></i></span></div>
                        <div class="col-xs-11">
                            <select id="cmbEncuentraEnProgramaOAPVD" class="form-control"></select>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4 form-group">
                    <label>Violencia fisica:</label><br>

                    <input type="checkbox" name="checkboxViolenciaFisica" value="Le ha lanzado cualquier tipo de objetos"> Le ha lanzado cualquier tipo de objetos<br>
                    <input type="checkbox" name="checkboxViolenciaFisica" value="La ha empujado o zarandeado"> La ha empujado o zarandeado<br>
                    <input type="checkbox" name="checkboxViolenciaFisica" value="La ha tirado/halado el pelo"> La ha tirado/halado el pelo<br>
                    <input type="checkbox" name="checkboxViolenciaFisica" value="Le ha dado golpe en la cara"> Le ha dado golpe en la cara<br>
                    <input type="checkbox" name="checkboxViolenciaFisica" value="La patearon"> La patearon<br>
                    <input type="checkbox" name="checkboxViolenciaFisica" value="Le ha causado fracturas"> Le ha causado fracturas<br>
                    <input type="checkbox" name="checkboxViolenciaFisica" value="La tiraron al piso"> La tiraron al piso<br>
                    <input type="checkbox" name="checkboxViolenciaFisica" value="Ha intentado ahorcarla o asfixiarla"> Ha intentado ahorcarla o asfixiarla<br>
                    <input type="checkbox" name="checkboxViolenciaFisica" value="Le ha impedido el acceso a los alimentos"> Le ha impedido el acceso a los alimentos<br>
                    <input type="checkbox" name="checkboxViolenciaFisica" value="La ha amenazado con un arma de fuego"> La ha amenazado con un arma de fuego<br>
                    <input type="checkbox" name="checkboxViolenciaFisica" value="La ha amenazado con arma punzo cortante"> La ha amenazado con arma punzo cortante<br>
                    <input type="checkbox" name="checkboxViolenciaFisica" value="La ha quemado en alguna parte del cuerpo"> La ha quemado en alguna parte del cuerpo<br>
                    <input type="checkbox" name="checkboxViolenciaFisica" value="Ha utilizado contra usted algún objeto"> Ha utilizado contra usted algún objeto<br>
                    <input type="checkbox" name="checkboxViolenciaFisica" value="Ha utilizado contra usted un arma de fuego"> Ha utilizado contra usted un arma de fuego<br>
                    <input type="checkbox" name="checkboxViolenciaFisica" value="La ha amarrado para impedirle salir/hacer sus cosas"> La ha amarrado para impedirle salir/hacer sus cosas<br>
                    <input type="checkbox" name="checkboxViolenciaFisica" value="Ha utilizado contra usted algún arma punzo cortante"> Ha utilizado contra usted algún arma punzo cortante<br>
                    <input type="checkbox" name="checkboxViolenciaFisica" value="Le ha pegado con la mano en cualquier otra parte del cuerpo"> Le ha pegado con la mano en cualquier otra parte del cuerpo<br>
                    <input type="checkbox" name="checkboxViolenciaFisica" value="La ha mordido y dejado marcas de dientes en el cuerpo"> La ha mordido y dejado marcas de dientes en el cuerpo<br>
                    <input type="checkbox" name="checkboxViolenciaFisica" value="Le ha dado algo para envenenarla/intoxicarla"> Le ha dado algo para envenenarla/intoxicarla<br>
                    <input type="checkbox" name="checkboxViolenciaFisica" value="Ha amenazado con un objeto, palo o garrote"> Ha amenazado con un objeto, palo o garrote<br>
                    <input type="checkbox" name="checkboxViolenciaFisica" value="Le ha ocurrido alguna otra situación similar."> Le ha ocurrido alguna otra situación similar.
                    <label>Cual:</label>
                    <input class="form-control" id="txtViolenciaFisicaCual" type="text" required="">
                </div>

                <div class="col-xs-4 form-group">
                    <label>Violencia psicológica:</label><br>

                    <input type="checkbox" name="checkboxViolenciaPsicologica" value="Se ha referido a usted con palabras groseras o agresivas"> Se ha referido a usted con palabras groseras o agresivas<br>
                    <input type="checkbox" name="checkboxViolenciaPsicologica" value="La ha humillado"> La ha humillado<br>
                    <input type="checkbox" name="checkboxViolenciaPsicologica" value="No le presta la debida atención"> No le presta la debida atención<br>
                    <input type="checkbox" name="checkboxViolenciaPsicologica" value="La ha seguido, vigilado"> La ha seguido, vigilado<br>
                    <input type="checkbox" name="checkboxViolenciaPsicologica" value="Ha registrado sus objetos personales"> Ha registrado sus objetos personales<br>
                    <input type="checkbox" name="checkboxViolenciaPsicologica" value="La ha amenazado de muerte"> La ha amenazado de muerte<br>
                    <input type="checkbox" name="checkboxViolenciaPsicologica" value="La ha criticado sobre lo que hace o deja de hacer"> La ha criticado sobre lo que hace o deja de hacer<br>
                    <input type="checkbox" name="checkboxViolenciaPsicologica" value="Le ha impedido que planifique y controle los embarazos"> Le ha impedido que planifique y controle los embarazos<br>
                    <input type="checkbox" name="checkboxViolenciaPsicologica" value="La ha culpado de las cosas que no salen bien"> La ha culpado de las cosas que no salen bien<br>
                    <input type="checkbox" name="checkboxViolenciaPsicologica" value="La ha acusado de serle infiel"> La ha acusado de serle infiel<br>
                    <input type="checkbox" name="checkboxViolenciaPsicologica" value="La ha dejado encerrada"> La ha dejado encerrada<br>
                    <input type="checkbox" name="checkboxViolenciaPsicologica" value="La ha ignorado y no la toma en cuenta en las decisiones"> La ha ignorado y no la toma en cuenta en las decisiones<br>
                    <input type="checkbox" name="checkboxViolenciaPsicologica" value="Le ha prohibido amistades o visitar a amigos y familiares"> Le ha prohibido amistades o visitar a amigos y familiares<br>
                    <input type="checkbox" name="checkboxViolenciaPsicologica" value="Le ha impedido realizar actividades fuera de la casa"> Le ha impedido realizar actividades fuera de la casa<br>
                    <input type="checkbox" name="checkboxViolenciaPsicologica" value="Le ha impedido ir al médico o no se preocupa por su salud"> Le ha impedido ir al médico o no se preocupa por su salud<br>
                    <input type="checkbox" name="checkboxViolenciaPsicologica" value="La ha amenazado con quitarle los hijos y/o no verlos"> La ha amenazado con quitarle los hijos y/o no verlos<br>
                    <input type="checkbox" name="checkboxViolenciaPsicologica" value="Se ha burlado de usted en distintos aspectos"> Se ha burlado de usted en distintos aspectos<br>
                    <input type="checkbox" name="checkboxViolenciaPsicologica" value="La ha amenazado para que no tramite pensión"> La ha amenazado para que no tramite pensión<br>
                    <input type="checkbox" name="checkboxViolenciaPsicologica" value="Le ha ocurrido alguna otra situación similar."> Le ha ocurrido alguna otra situación similar.
                    <label>Cual:</label>
                    <input class="form-control" id="txtViolenciaPsicologicaCual" type="text" required="">
                </div>

                <div class="col-xs-4 form-group">
                    <label>Violencia sexual:</label><br>

                    <input type="checkbox" name="checkboxViolenciaSexual" value="Se ha burlado/criticado de su comportamiento sexual"> Se ha burlado/criticado de su comportamiento sexual<br>
                    <input type="checkbox" name="checkboxViolenciaSexual" value="No toma en consideración sus necesidades y sentimientos sexuales"> No toma en consideración sus necesidades y sentimientos sexuales<br>
                    <input type="checkbox" name="checkboxViolenciaSexual" value="La ha asediado sexualmente en momentos inoportunos"> La ha asediado sexualmente en momentos inoportunos<br>
                    <input type="checkbox" name="checkboxViolenciaSexual" value="La ha insultado diciéndole “puta, “frígida” u otras palabras ofensivas"> La ha insultado diciéndole “puta, “frígida” u otras palabras ofensivas<br>
                    <input type="checkbox" name="checkboxViolenciaSexual" value="Ha intentado besarla/la ha besado a la fuerza"> Ha intentado besarla/la ha besado a la fuerza<br>
                    <input type="checkbox" name="checkboxViolenciaSexual" value="Le ha hecho comentarios obscenos o morbosos"> Le ha hecho comentarios obscenos o morbosos<br>
                    <input type="checkbox" name="checkboxViolenciaSexual" value="Ha intentado/le ha introducido objetos por el ano"> Ha intentado/le ha introducido objetos por el ano<br>
                    <input type="checkbox" name="checkboxViolenciaSexual" value="Ha intentado/le ha introducido objetos por vagina"> Ha intentado/le ha introducido objetos por vagina<br>
                    <input type="checkbox" name="checkboxViolenciaSexual" value="Ha intentado/ha tenido sexo oral sin su permiso"> Ha intentado/ha tenido sexo oral sin su permiso<br>
                    <input type="checkbox" name="checkboxViolenciaSexual" value="Ha intentado/le ha quitado su ropa sin que usted lo quiera"> Ha intentado/le ha quitado su ropa sin que usted lo quiera<br>
                    <input type="checkbox" name="checkboxViolenciaSexual" value="Le ha mostrado material pornográfico sin que usted lo quiera"> Le ha mostrado material pornográfico sin que usted lo quiera<br>
                    <input type="checkbox" name="checkboxViolenciaSexual" value="La ha tocado  partes de su cuerpo sin que usted quiera"> La ha tocado  partes de su cuerpo sin que usted quiera<br>
                    <input type="checkbox" name="checkboxViolenciaSexual" value="La ha obligado a que sostenga relaciones sexuales con animales"> La ha obligado a que sostenga relaciones sexuales con animales<br>
                    <input type="checkbox" name="checkboxViolenciaSexual" value="La ha obligado a tener sexo con otras personas para observar"> La ha obligado a tener sexo con otras personas para observar<br>
                    <input type="checkbox" name="checkboxViolenciaSexual" value="La ha hecho/mencionado propuestas sexuales que sean incómodas"> La ha hecho/mencionado propuestas sexuales que sean incómodas<br>
                    <input type="checkbox" name="checkboxViolenciaSexual" value="La ha obligado a que observe a otras personas teniendo sexo"> La ha obligado a que observe a otras personas teniendo sexo<br>
                    <input type="checkbox" name="checkboxViolenciaSexual" value="La ha chantajeado para que tenga relaciones sexuales con él"> La ha chantajeado para que tenga relaciones sexuales con él<br>
                    <input type="checkbox" name="checkboxViolenciaSexual" value="La ha agredido si se niega a tener sexo con él"> La ha agredido si se niega a tener sexo con él<br>
                    <input type="checkbox" name="checkboxViolenciaSexual" value="La ha obligado a tener sexo con otras personas por dinero"> La ha obligado a tener sexo con otras personas por dinero<br>
                    <input type="checkbox" name="checkboxViolenciaSexual" value="La ha obligado tener relaciones sexuales con él"> La ha obligado tener relaciones sexuales con él<br>
                    <input type="checkbox" name="checkboxViolenciaSexual" value="Le ha ocurrido alguna otra situación similar."> Le ha ocurrido alguna otra situación similar.
                    <label>Cual:</label>
                    <input class="form-control" id="txtViolenciaSexualCual" type="text" required="">
                </div>

                <div class="col-xs-4 form-group">
                    <label>Violencia patrimonial:</label><br>

                    <input type="checkbox" name="checkboxViolenciaPatrimonial" value="La ha amenazado con quitarle los bienes"> La ha amenazado con quitarle los bienes<br>
                    <input type="checkbox" name="checkboxViolenciaPatrimonial" value="Se ha apropiado de sus bienes a través de engaños, amenazas o chantaje afectivo"> Se ha apropiado de sus bienes a través de engaños, amenazas o chantaje afectivo<br>
                    <input type="checkbox" name="checkboxViolenciaPatrimonial" value="La ha obligado a entregar su salario o ingresos"> La ha obligado a entregar su salario o ingresos<br>
                    <input type="checkbox" name="checkboxViolenciaPatrimonial" value="Sus bienes aparecen a nombre de persona agresora"> Sus bienes aparecen a nombre de persona agresora<br>
                    <input type="checkbox" name="checkboxViolenciaPatrimonial" value="La ha obligado a adquirir deudas para beneficio económico de él/ella"> La ha obligado a adquirir deudas para beneficio económico de él/ella<br>
                    <input type="checkbox" name="checkboxViolenciaPatrimonial" value="Sus bienes son manejados por personas que no le dejan utilizarlo"> Sus bienes son manejados por personas que no le dejan utilizarlo<br>
                    <input type="checkbox" name="checkboxViolenciaPatrimonial" value="Le ha destruido objetos de valor para usted (afectivos-históricos)"> Le ha destruido objetos de valor para usted (afectivos-históricos)<br>
                    <input type="checkbox" name="checkboxViolenciaPatrimonial" value="Le quita o restringe el dinero para satisfacer sus necesidades"> Le quita o restringe el dinero para satisfacer sus necesidades<br>
                    <input type="checkbox" name="checkboxViolenciaPatrimonial" value="La ha amenazado para que no interponga la pensión alimentaria"> La ha amenazado para que no interponga la pensión alimentaria<br>
                    <input type="checkbox" name="checkboxViolenciaPatrimonial" value="Incumple con el pago de la pensión alimentaria"> Incumple con el pago de la pensión alimentaria<br>
                    <input type="checkbox" name="checkboxViolenciaPatrimonial" value="La amenaza con no comprar alimentos o necesidades básicas"> La amenaza con no comprar alimentos o necesidades básicas<br>
                    <input type="checkbox" name="checkboxViolenciaPatrimonial" value="Le ha ocurrido alguna otra situación similar."> Le ha ocurrido alguna otra situación similar.
                    <label>Cual:</label>
                    <input class="form-control" id="txtViolenciaPatrimonialCual" type="text" required="">
                </div>

            </div>
        </div>*@
