
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function llenarComboBox(nombreCatalogo, nombreComboBox) {
        return function (respuesta) {
            var catalogo = respuesta[nombreCatalogo];

            console.log(catalogo);
            //debugger;
            if (catalogo.Mensaje.TipoMensaje === 1) {
                $.each(catalogo.Catalogo, function (key, value) {
                    console.log($(nombreComboBox));
                    $(nombreComboBox).append($("<option/>", {
                        value: value.PK_VALORCATALOGO,
                        text: value.VC_VALOR1
                    }));

                });
            } else {
                $("#contenedorBotones").show();
                $("#contenedorEspera").hide();
                $("#txtModalTitulo").css("color", "red");
                $("#txtModalTitulo").text("Error");
                $("#txtModalContenido").text(respuesta.Mensaje.ContenidoMensaje);
                instMensajes.open();
                $.LoadingOverlay("hide");
            }

            return respuesta

        }
    }

    $(document).ready(function () {

        var instMensajes = $('[data-remodal-id=modalDialogo]').remodal();
        $.ajax({
            type: "POST",
            url: '@Url.Action("ListarCatalogosCrearCaso")',
            dataType: "json",
            contentType: "application/json",
            processData: true,
            error: function (xhr, ajaxOptions, error) {
                $("#contenedorBotones").show();
                $("#contenedorEspera").hide();
                $("#txtModalTitulo").css("color", "red");
                $("#txtModalTitulo").text("Error al registrar");
                $("#txtModalContenido").text("Fallo al comunicarse con el servidor");
                instMensajes.open();
                $.LoadingOverlay("hide");

            }
        }).then(function(resultado) {
            var respuesta = JSON.parse(resultado);
            return respuesta;
        }).then(llenarComboBox("CEEAM", "#cmbTipoCEAAM"))
            .then(llenarComboBox("Tipo de Ingreso CEEAM", "#cmbTipoIngreso"))
            .then(llenarComboBox("Tipo de Egreso CEEAM", "#cmbTipoEgreso"))
            .then(llenarComboBox("Orientación Sexual", "#cmbOrientacionSexual"))
            .then(llenarComboBox("Etnia", "#cmbOrigenEtnico"))
            .then(llenarComboBox("Estado Civil", "#cmbCondicionCivil"))
            .then(llenarComboBox("Grado Académico", "#cmbEscolaridad"))
            .then(llenarComboBox("Tipo de Familia", "#cmbTipoFamilia"))
            .then(llenarComboBox("Nacionalidad", "#cmbNacionalidad"))
            .then(llenarComboBox("Nacionalidad", "#cmbOtraNacionalidad"))
            .then(llenarComboBox("Situación Migratoria", "#cmbCondicionMigratoria"))
            .then(llenarComboBox("Situación Laboral", "#cmbCondicionLaboral"))
            //.then(llenarComboBox("", "#cmbCondicionAseguramiento"))
            .then(llenarComboBox("Tipo de vivienda", "#cmbVivienda"))
            .then(llenarComboBox("Tipo de Discapacidad", "#cmbDiscapacidades"))
            .then(llenarComboBox("Adicción", "#cmbAdicciones"))
            .then(llenarComboBox("Género", "#cmbGenero"))
            .then(llenarComboBox("Nacionalidad", "#cmbNacionalidadHV"))
            .then(llenarComboBox("Grado Académico", "#cmbEscolaridadHV"))
            .then(llenarComboBox("Adicción", "#cmbAdiccionesHV"))
            .then(llenarComboBox("Número de separaciones de la persona agresora", "#cmbNumeroSeparacionesPersonaAgresora"))
            .then(llenarComboBox("Motivo para retomar relación con persona agresora", "#cmbMotivosRegresar"))
            .then(llenarComboBox("Tipo de Respuesta Si o No que incluye la opción \"No especificado\"", "#cmbAntecedentesLegales"))
            .then(llenarComboBox("Tipo de Respuesta Si o No que incluye la opción \"No especificado\"", "#cmbAntecedentesPsiquiatricos"))
            .then(llenarComboBox("Tipo de Atención Médica", "#cmbAtencionMedicaProductoDeAgresion"))
            .then(llenarComboBox("Situación Enfrentada", "#cmbTipoViolencia"))
            .then(llenarComboBox("Impacto producto de violencia", "#cmbImpactoViolencia"))
            .then(llenarComboBox("Valoracion de riesgo", "#cmbValoracionRiesgo"))
            .then(llenarComboBox("Condicion legal al ingreso", "#cmbCondicionLegalIngreso"))
            .then(llenarComboBox("Medida de Protección", "#cmbMedidasProteccion"))
            //.then(llenarComboBox("", "#cmbEncuentraEnProgramaOAPVD"))
            .then(llenarComboBox("Situación de Violencia Física", "#cmbViolenciaFisica"))
            .then(llenarComboBox("Situación de Violencia Psicológica", "#cmbViolenciaPsicologica"))
            .then(llenarComboBox("Situación de Violencia Sexual", "#cmbViolenciaSexual"))
            .then(llenarComboBox("Situación de Violencia Patrimonial", "#cmbViolenciaPatrimonial"))
            //.then(llenarComboBox("Tipo de Respuesta Si o No que incluye la opción \"No especificado\"", "#cmbRespuestaSiNosponible"))
            .then(() => {
                $('#btn-login').fadeIn();
                $('#cmbTipoCEAAM').selectize({
                    sortField: 'text',
                    create: false,
                    placeholder: "Tipo de CEAAM",
                });
                $.LoadingOverlay("hide");
        });







    });
</script>

<script type="text/javascript">


    $(document).ready(function () {

        $("#btnGuardarAtencionEnComunidad").click(function () {
            var persona = serializeArrayAObjeto($("#formPersona").serializeArray());
            var agresor = serializeArrayAObjeto($("#formAgresor").serializeArray());
            var laboral = serializeArrayAObjeto($("#formLaboral").serializeArray());
            var adicciones = serializeArrayAObjeto($("#formAdicciones").serializeArray());
            var apoyo1 = serializeArrayAObjeto($("#formApoyo1").serializeArray());
            var agresion = serializeArrayAObjeto($("#formAgresion").serializeArray());
            var agresorMotivoRegreso = serializeArrayAObjeto($("#formAgresorMotivoRegreso").serializeArray());
            var agresionAtencionMedica = serializeArrayAObjeto($("#formAgresionAtencionMedica").serializeArray());
            var agresionViolencia = serializeArrayAObjeto($("#formAgresionViolencia").serializeArray());

            var objparapost = {
                persona: persona,
                agresor: agresor,
                laboral: laboral,
                adicciones: adicciones,
                apoyo1: apoyo1,
                agresion: agresion,
                agresorMotivoRegreso: agresorMotivoRegreso,
                agresionAtencionMedica: agresionAtencionMedica,
                agresionViolencia: agresionViolencia
            }
            console.log(agresion);

            $.ajax({
                type: "POST",
                url: '@Url.Action("CrearUsuariaAtencionComunidadPost")',
                data: objparapost
            }).then(console.log)
        });

        var instMensajes = $('[data-remodal-id=modalDialogo]').remodal();
        $.ajax({
            type: "POST",
            url: '@Url.Action("ListarCatalogosCrearCaso")',
            dataType: "json",
            contentType: "application/json",
            processData: true,
            error: function (xhr, ajaxOptions, error) {
                $("#contenedorBotones").show();
                $("#contenedorEspera").hide();
                $("#txtModalTitulo").css("color", "red");
                $("#txtModalTitulo").text("Error al registrar");
                $("#txtModalContenido").text("Fallo al comunicarse con el servidor");
                instMensajes.open();
                $.LoadingOverlay("hide");

            }
        }).then(function(resultado) {
            var respuesta = JSON.parse(resultado);
            return respuesta;
        }).then(llenarComboBox("CEEAM", "#cmbTipoCEAAM"))
            .then(llenarComboBox("Tipo de Ingreso CEEAM", "#cmbTipoIngreso"))
            .then(llenarComboBox("Tipo de Egreso", "#cmbTipoEgreso"))
            //.then(llenarComboBox("Tipo de Respuesta Si o No que incluye la opción \"No especificado\"", "#cmbRespuestaSiNosponible"))
            .then(() => {
            $('#btn-login').fadeIn();
            $.LoadingOverlay("hide");
        });
    });
</script>

<style>
    .jumbotron {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .container {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
</style>
<script src="https://www.google.com/cloudprint/client/cpgadget.js">
</script>


<script type="text/javascript">
    function serializeArrayAObjeto(arr) {
        var obj = {};
        for (var i = 0; i < arr.length; i++) {
            obj[arr[i].name] = arr[i].value;
        }
        return obj;
    }
    $("#btnCerrarFrmUsuarios").click(function (e) {
        e.preventDefault();
        $("#btnUsuarios").trigger("click");
    });
    var instMensajes = $('[data-remodal-id=modalDialogo]').remodal();
    $(document).ready(function () {
        $.LoadingOverlay("hide");

        document.title = "SIVIO - Crear nueva usuaria para Atencion en comunidad";
        InicializarOtrosEventos();
        InicializarCamposObservaciones();

    });

    function InicializarOtrosEventos() {
        var d = new Date();

        var month = d.getMonth() + 1;
        var day = d.getDate();
        var fechaHoy = (day < 10 ? '0' : '') + day + '/' +
            (month < 10 ? '0' : '') + month + '/' +
            d.getFullYear();

        $("#txtFechaAplicacion").val(fechaHoy);
        $('#txtFechaAplicacion').css("background-color", "#f2f2f2");
        $("#txtFechaAplicacion").prop("readonly", true);



        $("#btnEnviarFormulario").click(function () {

            RegistroUsuario();
            $('#formagregarUsuarios').find('input:text').val('');
            $('textarea:text').val('');


        });

        $("#btnCerrarFrmUsuario").click(function (e) {

            e.preventDefault();
            $("#btnUsuarios").trigger("click");
        });

        $("#btnTerminar").click(function () {

            window.location.href = '/sipamu/';
            setTimeout(volver(), 1000);

        });

        function volver() {
            window.location.href = '/sipamu/';
        }

    }


    function InicializarCamposObservaciones() { }

    function RegistroUsuario() {
        //debugger;
        $('#contenedorPrincipal').hide();
        $('#contenedorEspera').fadeIn();
        var resultadoValidacion = $('#formagregarUsuarios').parsley().validate();
        if (resultadoValidacion === true) {
            var formularioAgregarUsuario = $();

            formularioAgregarUsuario.Nombre = $("#txtNombre").val();
            formularioAgregarUsuario.PrimerApellido = $("#txtApellido1").val();
            formularioAgregarUsuario.SegundoApellido = $("#txtApellido2").val();
            formularioAgregarUsuario.NombreUsuario = $("#txtUsuario").val();
            formularioAgregarUsuario.FkUnidad = $("#cmbUnidad").val();
            formularioAgregarUsuario.Rol = $("#cmbRol").val();
            formularioAgregarUsuario.Clave = $("#txtContrasena").val();
            formularioAgregarUsuario.ValidarContrasena = $("#txtValidarContrasena").val();
            formularioAgregarUsuario.Correo = $("txtCorreo").val();

            if (formularioAgregarUsuario.Clave !== formularioAgregarUsuario.ValidarContrasena) {
                $("#contenedorBotones").show();
                $("#contenedorEspera").hide();
                $("#txtModalTitulo").css("color", "red");
                $("#txtModalTitulo").text("Error");
                $("#txtModalContenido").text("Las contraseñas digitadas con coinciden");
                instMensajes.open();

            } else {


                $.ajax({
                    type: "POST",
                    url: '/sipamu/Seguridad/AgregarPersonaUsuaria',
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({
                        objUsuarios: formularioAgregarUsuario
                    }),
                    processData: true,
                    success: function (data) {
                        if (data.TipoMensaje === 1) {

                            $("#contenedorBotones").show();
                            $("#contenedorEspera").hide();
                            $("#txtModalTitulo").css("color", "green");
                            $("#txtModalTitulo").text("Operación Exitosa");
                            $("#txtModalContenido").text(data.ContenidoMensaje);
                            instMensajes.open();





                        } else {
                            $("#contenedorBotones").show();
                            $("#contenedorEspera").hide();
                            $("#txtModalTitulo").css("color", "red");
                            $("#txtModalTitulo").text("Error al registrar");
                            $("#txtModalContenido").text(data.ContenidoMensaje);
                            instMensajes.open();
                        }

                    },
                    error: function (xhr, ajaxOptions, error) {
                        $("#contenedorBotones").show();
                        $("#contenedorEspera").hide();
                        $("#txtModalTitulo").css("color", "red");
                        $("#txtModalTitulo").text("Error al registrar");
                        $("#txtModalContenido").text("Fallo al comunicarse con el servidor");
                        instMensajes.open();

                    }
                });
            }



            //debugger;



        } else {
            $("#txtModalTitulo").css("color", "red");
            $("#txtModalTitulo").text("Información Incompleta");
            $("#txtModalContenido").text("El formulario todavía tiene campos pendientes de llenar.");
            instMensajes.open();
        }
        $('#contenedorEspera').fadeOut();
        $('#contenedorPrincipal').fadeIn();


    }



</script>


<style>
    .pad {
        padding-bottom: 3px;
        margin-bottom: 3px;
    }

    .parsley-required {
        color: red;
        font-weight: bold;
    }

    .checkNoSpace {
        padding-left: 0px !important;
    }

    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: white;
    }

    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: white;
        opacity: 1;
    }

    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: white;
        opacity: 1;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white;
    }
</style>

<style>
    input, select, textarea {
        max-width: 100%;
        padding: 4px;
    }

    input {
        background-color: blue;
    }
</style>
<div class="container-fluid" id="contenedorPrincipal" style="background-color: whitesmoke;border: 1px solid #E3E3E3;border-radius: 4px;">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tabPerfilUsuaria">Perfil</a></li>
        <li><a data-toggle="tab" href="#tabHistoriaViolencia">Historia de violencia</a></li>
        <li><a data-toggle="tab" href="#tabAtenciones">Atenciones</a></li>
    </ul>

    <div class="tab-content">
        <div id="tabPerfilUsuaria" class="tab-pane fade in active">
            <h3>Perfil</h3><br>

            @* Primera pestaña *@
            <div class="row" id="tabPerfilUsuaria">

                <form id="formPersona" method="post">
                    @* Primera columna *@
                    <div class="col-xs-4 form-group">
                        <label>Nombre</label><br>
                        <input class="form-control" id="txtNombre" name="VC_NOMBRE" type="text" value='Nombre' required=""><br>
                        <label>Primer apellido</label><br>
                        <input class="form-control" id="txtApellido1" name="VC_APELLIDO1" type="text" value='Apellido1' required=""><br>
                        <label>Segundo apellido</label><br>
                        <input class="form-control" id="txtApellido2" name="VC_APELLIDO2" type="text" value='Apellido2' required=""><br>
                        <label>Fecha de nacimiento</label><br>
                        <input class="form-control" id="txtFecha" name="DT_FECHANACIMIENTO" type="date" value='1900-01-01' required=""><br>

                        <label>Orientación sexual:</label><br>
                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbOrientacionSexual" class="form-control" name="FK_ORIENTACIONSEXUAL">
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div><br>

                        <label>Origen Étnico:</label><br>
                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbOrigenEtnico" class="form-control" name="FK_ETNIA">
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div><br>

                        <label>Condición civil</label><br>
                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbCondicionCivil" class="form-control" name="FK_ESTADOCIVIL">
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div><br>

                        <label>Escolaridad</label><br>
                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbEscolaridad" class="form-control" name="FK_ESCOLARIDAD">
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div><br>
                    </div>

                    @* Segunda columna *@
                    <div class="col-xs-4 form-group">
                        <label>Número total de hijos</label><br>
                        <input class="form-control" id="txtHijos" name="I_HIJOS" type="number" value='3' required=""><br>

                        <label>Tipo de familia</label><br>
                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbTipoFamilia" class="form-control" name="FK_TIPOFAMILIA">
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div><br>

                        <label>Nacionalidad</label><br>
                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbNacionalidad" class="form-control" name="FK_NACIONALIDAD">
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div><br>

                        <label>Otra nacionalidad</label><br>
                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbOtraNacionalidad" class="form-control" name="FK_NACIONALIDAD2">
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div>
                        <input type="radio" name="radioApatrida" value="Apatrida"> Ápatrida <br><br><br>

                        <label>Condición migratoria</label><br>
                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbCondicionMigratoria" class="form-control" name="FK_CONDICIONMIGRATORIA">
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div><br>

                        <label>Condición de aseguramiento (falta combo)</label><br>
                        <input class="form-control" id="txtCondicionAseguramiento" type="number" name="FK_CONDICIONASEGURAMIENTO" value='5' required=""><br>

                        <label>Vivienda</label><br>
                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbVivienda" class="form-control" name="FK_TIPOVIVIENDA">
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div><br>
                    </div>

                    @* Datos no encontrados (TBL_PERSONA) *@
                    <input type="hidden" name="VC_IDENTIFICACION" value="12345" />
                    <input type="hidden" name="FK_TIPOIDENTIFICACION" value="1" />
                    <input type="hidden" name="FK_GENERO" value="1" />
                    <input type="hidden" name="I_HIJOSCEEAM" value="1" />
                    <input type="hidden" name="I_HIJOSMAYORESDOCE" value="1" />
                    <input type="hidden" name="FK_PROVINCIAPROCEDENCIA" value="1" />
                    <input type="hidden" name="FK_CANTONPROCEDENCIA" value="1" />
                    <input type="hidden" name="FK_DISTRITOPROCEDENCIA" value="1" />
                    <input type="hidden" name="VC_CORREO" value="ejemplo@gmail.com" />
                    <input type="hidden" name="FK_ESTADOEMBARAZO" value="1" />
                    <input type="hidden" name="FK_CONDICIONSALUD" value="1" />
                    
                </form>

                @* Tercera columna *@
                <div class="col-xs-4 form-group">
                    <form id="formLaboral" method="post">
                        <label>Ocupación</label><br>
                        <input class="form-control" id="txtOcupacion" name="VC_OCUPACION" type="text" value='Ama de casa' required=""><br>

                        <label>Condición laboral</label><br>
                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbCondicionLaboral" class="form-control" name="FK_CONDICIONLABORAL" required>
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div><br>

                        <label>Experiencia Laboral</label><br>
                        <input class="form-control" id="txtAnosExperiencia" name="I_ANNOSEXPERIENCIA" type="number" value='2' required=""><br>

                        <label>Lugar de trabajo</label><br>
                        <input class="form-control" id="txtHijos" name="VC_NOMBRELUGARTRABAJO" type="text" value='Los Pollos Hermanos' required=""><br>
                        
                        <input type="hidden" name="VC_OBSERVACIONES" value="ninguna" />
                    </form>

                    <label>Discapacidades:</label><br>
                    <div class="row">
                        <div class="col-xs-12">
                            <select id="cmbDiscapacidades" class="form-control" multiple>
                                @*<option selected disabled>Seleccione una opcion</option>*@
                            </select>
                        </div>
                    </div><br>

                    <form id="formAdicciones" method="post">
                        <label>Adicciones</label><br>
                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbAdicciones" class="form-control" name="FK_TIPOADICCION" multiple>
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div><br>
                    </form>
                </div>

                @* Columna intermedia*@
                <div class="col-xs-9 form-group">
                    <br><h4>Redes o recursos de apoyo con los que cuenta la usuaria</h4>
                    <input type="radio" name="radioApoyo" value="No tiene"> No tiene<br>
                </div>

                @* Cuarta columna *@
                <div class="col-xs-4 form-group">
                    <form id="formApoyo1" method="post">
                        <h5>Primaria:</h5><br>
                        <label>Nombre</label>
                        <input class="form-control" id="txtNombreApoyo1" name="VC_NOMBRE" type="text" value='Nombre Apoyo 1' required=""><br>
                        <label>Relación</label>
                        <input class="form-control" id="txtRelacionApoyo1" name="VC_RELACION" type="text" value='Relacion 1' required=""><br>
                        <label>Teléfono</label>
                        <input class="form-control" id="txtTelefonoApoyo1" name="VC_TELEFONO" type="text" value='24335335' required=""><br>
                        <br><br>
                        <input type="hidden" name="FK_TIPOREDAPOYO" value="613" /> @* 80=Tipo de red de apoyo *@
                        <input type="hidden" name="VC_OBSERVACIONES" value="ninguna" />
                    </form>

                    <label>Nombre (otro)</label><input class="form-control" id="txtNombreApoyo2" name="VC_NOMBRE" type="text" value='Nombre Apoyo 2'><br>
                    <label>Relación</label><input class="form-control" id="txtRelacionApoyo2" name="VC_RELACION" type="text" value='Relacion 2'><br>
                    <label>Teléfono</label><input class="form-control" id="txtTelefonoApoyo2" type="text" value='Telefono Apoyo 2'><br>
                    <br><br>
                    <label>Nombre (otro)</label><input class="form-control" id="txtNombreApoyo3" name="VC_NOMBRE" type="text" value='Nombre Apoyo 3'><br>
                    <label>Relación</label><input class="form-control" id="txtRelacionApoyo3" name="VC_RELACION" type="text" value='Relacion 3'><br>
                    <label>Teléfono</label><input class="form-control" id="txtTelefonoApoyo3" type="text" value='Telefono Apoyo 3'><br>

                </div>

                @* Quinta columna *@
                <div class="col-xs-4 form-group">
                    <h5>Secundaria:</h5><br>
                    <label>Nombre</label><input class="form-control" id="txtNombreSecApoyo1" type="text"><br>
                    <label>Relación</label><input class="form-control" id="txtSecRelacionApoyo1" type="text"><br>
                    <label>Teléfono</label><input class="form-control" id="txtSecTelefonoApoyo1" type="text"><br>
                    <br><br>
                    <label>Nombre (otro)</label><input class="form-control" id="txtNombreSecApoyo2" type="text"><br>
                    <label>Relación</label><input class="form-control" id="txtSecRelacionApoyo2" type="text"><br>
                    <label>Teléfono</label><input class="form-control" id="txtSecTelefonoApoyo2" type="text"><br>
                </div>

                @* Sexta columna *@
                <div class="col-xs-4 form-group">
                    <h5>Institucional:</h5><br>
                    <label>Nombre</label><input class="form-control" id="txtNombreInstApoyo1" type="text"><br>
                    <label>Institución</label><input class="form-control" id="txtInstApoyo1" type="text"><br>
                    <label>Teléfono</label><input class="form-control" id="txtInstTelefonoApoyo1" type="text"><br>
                    <br><br>
                    <label>Nombre (otro)</label><input class="form-control" id="txtNombreInstApoyo2" type="text"><br>
                    <label>Institución</label><input class="form-control" id="txtInstApoyo2" type="text"><br>
                    <label>Teléfono</label><input class="form-control" id="txtInstTelefonoApoyo2" type="text"><br>
                </div>
            </div>
        </div>

        @* Segunda pestaña *@
        <div id="tabHistoriaViolencia" class="tab-pane fade" style="padding:5px">
            <h3>Historia de violencia</h3><br>
            <div class="row" id="tabHIstoriaViolencia">
                <form id="formAgresor" method="post"> @* Form para TBL_AGRESOR *@
                    @* Primera columna *@
                    <div class="col-xs-4 form-group">
                        <label>Nombre persona agresora</label><br>
                        <input class="form-control" id="txtNombre2" type="text" name="VC_NOMBRE" value='Nombre Agresor' required=""><br>
                        <label>Primer apellido</label><br>
                        <input class="form-control" id="txtApellido1" type="text" name="VC_APELLIDO1" value='Apellido Agresor' required=""><br>
                        <label>Segundo apellido</label><br>
                        <input class="form-control" id="txtApellido2" type="text" name="VC_APELLIDO2" value='Apellido2 Agresor' required=""><br>
                        <label>Fecha de nacimiento</label><br>
                        <input class="form-control" id="txtFechaNacAgresor" type="date" name="DT_FECHANACIMIENTO" value='1966-10-10' required=""><br>

                        <label>Género</label><br>
                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbGenero" class="form-control" name="FK_GENERO" required>
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div><br>
                        

                        <label>Nacionalidad</label><br>
                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbNacionalidadHV" class="form-control" name="FK_NACIONALIDAD" required>
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div><br>

                        <label>Escolaridad (Nivel educativo)</label><br>
                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbEscolaridadHV" class="form-control" name="FK_NIVELEDUCATIVO" required>
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div><br>

                        <label>Ocupación (falta combo)</label><br>
                        <input class="form-control" id="txtOcupacionAgresor" type="number" name="FK_OCUPACION" value='5' required=""><br>

                        <label>Lugar trabajo</label><br>
                        <input class="form-control" id="txtLugarTrabajoAgresor" type="text" name="VC_LUGARTRABAJO" value='Club de agresores' required=""><br>

                        <label>Adicciones (No encontrado)</label><br>
                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbAdiccionesHV" class="form-control" multiple disabled>
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div><br>
                    </div>

                    @* Segunda columna *@
                    <div class="col-xs-4 form-group">
                        <label>Vínculo con la usuaria (Tipo de relación)(falta combo)</label><br>
                        <input class="form-control" id="txtTipoTipoRelacion" type="number" name="FK_TIPORELACION" value='5' required=""><br>
                        <label>Tiempo de la relación (Fecha comienzo relación)</label><br>
                        <input class="form-control" id="txtComienzoRelacion" type="date" name="DT_COMIENZORELACION" value='1966-10-10' required=""><br>

                        <label>Número de separaciones de la persona agresora</label><br>
                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbNumeroSeparacionesPersonaAgresora" class="form-control" name="I_SEPARACIONES" required>
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div><br>

                        <label>Antecedentes legales</label><br>
                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbAntecedentesLegales" class="form-control" name="B_ANTECEDENTESLEGALES" required>
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div><br>

                        <label>Antecedentes psiquiátricos</label><br>
                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbAntecedentesPsiquiatricos" class="form-control" name="B_ANTECEDENTESPSIQUIATRICOS" required>
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div><br>

                        <label>Impacto de la violencia (no encontrado)</label><br>
                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbImpactoViolencia" class="form-control" multiple disabled>
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div><br>

                        <label>Medidas de protección(falta combo)</label><br>
                        <input class="form-control" id="txtTipoTipoRelacion" type="number" name="B_MEDIDASPROTECCION" value='1' required=""><br>

                        @* No encontrados (tabla agresor) *@
                        <input type="hidden" name="VC_IDENTIFICACION" value="123" />
                        <input type="hidden" name="VC_OBSERVACIONANTECEDESTESLEGALES" value="ninguna" />
                        <input type="hidden" name="VC_OBSERVACIONANTPSIQUIATRICOS" value="ninguna" />
                        <input type="hidden" name="B_DENUNCIAPENAL" value="0" />
                        <input type="hidden" name="DT_FECHAVENCIMIENTOPROTECCION" value="2000-01-01" />
                        <input type="hidden" name="VC_NUMEXPEDIENTEMP" value="1" />
                        <input type="hidden" name="VC_NUMEXPEDIENTEDENUNCIA" value="1" />
                        <input type="hidden" name="VC_SEDEJUDICIALDENUNCIA" value="1" />
                    </div>
                </form>

                @* Tercera columna *@
                <div class="col-xs-4 form-group">
                    <form id="formAgresion" method="post"> @* Form para TBL_AGRESION *@
                        <label>Tiempo de la agresión (Fecha de la agresión)</label><br>
                        <input class="form-control" id="txtTiempoAgresion" type="date" name="DT_FECHAAGRESION" value='2017-01-05' required=""><br>

                        <label>Nombre del centro de salud</label><br>
                        <input class="form-control" id="txtNombreCentroSalud" type="text" name="VC_CENTRODSALUDATENCION" value='Centro de salud' required><br>

                        <input type="hidden" name="I_DURACION" value="1" />
                        <input type="hidden" name="TXT_RELATO" value="nada" />
                    </form>

                    <form id="formAgresorMotivoRegreso" method="post"> @* Form para TBL_AGRESOR_MOTIVO_REGRESO *@
                        <label>Motivos para regresar</label><br>
                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbMotivosRegresar" class="form-control" name="FK_MOTIVOREGRESO" required>
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div><br>
                    </form>
                    <form id="formAgresionAtencionMedica" method="post"> @* Form para TBL_AGRESION_ATENCION_MEDICA *@
                        <label>Atención médica producto de la agresión</label><br>
                        <div class="row">
                            <div class="col-xs-12">
                                <select id="cmbAtencionMedicaProductoDeAgresion" class="form-control" name="FK_TIPOATENCION" required>
                                    <option selected disabled>Seleccione una opcion</option>
                                </select>
                            </div>
                        </div><br>
                    </form>

                    <form id="formAgresionViolencia" method="post"> @* Form para TBL_AGRESION_VIOLENCIA *@
                        <label>Tipo de violencia (falta combo)</label><br>
                        <input class="form-control" id="txtCondicionAseguramiento" type="number" name="FK_TIPOVIOLENCIA" value='1' required=""><br>

                        <input type="hidden" name="VC_OBSERVACIONES" value="ninguna" />
                    </form>

                    <form id="formAgresionCategoriaRiesgo" method="post"> @* Form para TBL_AGRESION_CATEGORIA_RIESGO *@
                        <label>Valoración de riesgo (falta combo)</label><br>
                        <input class="form-control" id="txtCondicionAseguramiento" type="number" name="FK_TIPORESPUESTA" value='1' required=""><br>

                        <input type="hidden" name="FK_OBSERVACION" value="ninguna" />
                    </form>

                    <label>Condición legal al ingreso (no encontrado)</label><br>
                    <div class="row">
                        <div class="col-xs-12">
                            <select id="cmbCondicionLegalIngreso" class="form-control" disabled>
                                <option selected disabled>Seleccione una opcion</option>
                            </select>
                        </div>
                    </div><br>

                    <label>Se encuentra con el programa OAPVD (no encontrado)</label><br>
                    <div class="row">
                        <div class="col-xs-12">
                            <select id="cmbEncuentraEnProgramaOAPVD" class="form-control" required disabled>
                                <option selected disabled>Seleccione una opcion</option>
                            </select>
                        </div>
                    </div><br>
                </div> 
            </div>
        </div>

        @* Tercera pestaña *@
        <div id="tabAtenciones" class="tab-pane fade" style="padding:5px">
            <h3>Atenciones</h3><br>
            <div class="row" id="tabAtenciones">
                Reservado para el segundo sprint
            </div>
        </div>

        @* Botón de cancelar *@
        <a href="BusquedaExpediente" class="btn btn-primary" id="btnCancelar">Cancelar</a>

        @* Botón de crear usuaria *@
        <a href="#" class="btn btn-primary" form="formPersona" id="btnGuardarAtencionEnComunidad">Guardar</a>
        <br><br>

    </div>


    @*
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div class="row comunForm">
                    <div class="row">
                        <div class="col-xs-10">
                        </div>
                        <div class="col-xs-2">
                            <button class="botonCerrar danger" id="btnCerrarFrmUsuarios">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>


                    Aqui iban los divs

                    <div class="row" id="contenedorBotones">

                        <div class="col-md-12" style="text-align: center; margin-bottom: 5px">
                            <button type="button" id="btnEnviarFormulario" class="btn btn-default btn-responsive" style="color: white; background-color: #368DE9; border-color: #368DE9; margin-bottom: 1px; ">Registrar un nuevo caso</button>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    *@




</div>

