




<h3>Historia de Violencia</h3>
@*Pestaña Historia de violencia*@
        <div id="tabHistoriaViolencia">
            <div id="tabHIstoriaViolencia">

                <div class="row">
                    <div class="col-xs-4 form-group">
                        <label>Nombre de persona agresora:</label>

                        <input class="form-control" id="txtPersonaAgresora" type="text" required="">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Edad:</label>
                        <input class="form-control" id="txtEdad" type="text" required="">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Género</label><br>
                        <select id="cmbGenero" class="form-control"></select>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-4 form-group">
                        <label>Nacionalidad</label><br>
                        <select id="cmbNacionalidad" class="form-control"></select>
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Escolaridad</label><br>
                        <select id="cmbEscolaridad" class="form-control"></select>
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Ocupación:</label>
                        <select id="cmbOcupacion" class="form-control"></select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4 form-group">
                        <label>Lugar de trabajo:</label>
                        <input class="form-control" id="txtLugarTrabajo" type="text" required="">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Adicciones:</label><br>
                        <select id="cmbAdicciones" class="form-control"></select>
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Vínculo con la usuaria:</label>
                        <select id="cmbVinculoUsuaria" class="form-control"></select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4 form-group">
                        <label>Tiempo de la relación</label>
                        <input class="form-control" id="txtTiempoRelacion" type="text" required="">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Tiempo de la agresión</label><br>
                        <input class="form-control" id="txtTiempoAgresion" type="text" required="">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Num. Separaciones de la persona agresora</label>
                        <select id="cmbSepPersonaAgresora" class="form-control"></select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4 form-group">
                        <label>Motivos para regresar</label>
                        <select id="cmbMotivoRegresar" class="form-control"></select>
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Antecedentes legales</label><br>
                        <select id="cmbAntecedentesLegales" class="form-control"></select>
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Antecedentes psiquiátricos</label><br>
                        <select id="cmbAntecedentesPsiquiatricos" class="form-control"></select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4 form-group">
                        <label>Atención médica producto de la agresión</label>
                        <select id="cmbAtencionMedicaAgresion" class="form-control"></select>
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Nombre del centro de salud</label><br>
                        <input class="form-control" id="txtNombreCentroSalud" type="text" required="">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Tipo de violencia</label><br>
                        <select id="cmbTipoViolencia" class="form-control"></select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4 form-group">
                        <label>Violencia física</label>
                        <select id="cmbViolenciaFisica" class="form-control"></select>
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Violencia psicológica</label><br>
                        <select id="cmbViolenciaPsicologica" class="form-control"></select>
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Violencia sexual</label><br>
                        <select id="cmbViolenciaSexual" class="form-control"></select>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-4 form-group">
                        <label>Violencia patrimonial</label>
                        <select id="cmbViolenciaPatrimonial" class="form-control"></select>
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Impacto de la violencia</label><br>
                        <select id="cmbImpactoViolencia" class="form-control"></select>
                    </div>

                    <div class="col-xs-4 form-group">
                        <label>Valoración de riesgo</label><br>
                        <select id="cmbValoracionRiesgo" class="form-control"></select>
                    </div>
                </div>

                <label>Condición legal al ingreso.</label>
                <div class="row">
                    <div class="col-xs-6 form-group">
                        <label>Medidas de protección</label>
                        <select id="cmbMedidasProteccion" class="form-control"></select>
                    </div>

                    <div class="col-xs-6 form-group">
                        <label>Se encuentra con el programa OAPVD</label><br>
                        <select id="cmbProgramaOAPVD" class="form-control"></select>
                    </div>
                </div>
            </div>
        </div>