@{
    Layout = null;
}
<script type="text/javascript">
    $(document).ready(function () { });

</script>

<form id="formIngresarDatosPerfil" method="post" style="background-color: whitesmoke;border: 1px solid #E3E3E3;border-radius: 4px;">
    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="#home">
                <i class="fa fa-user" aria-hidden="true"></i>Información de Persona
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <div class="row comunForm">
                <table width="100%" border="0" cellspacing="100" align="right">
                    <td style="top">
                        <div class="row">
                            <div class="col-xs-5 form-group">
                                <label>Identidad de género</label>
                                <select id="cmbTipoIdentidadGenero" class="form-control"></select>
                            </div>
                            <div class="col-xs-5 form-group">
                                <label>Orientacion sexual</label>
                                <select id="cmbTipoIdentidadGenero" class="form-control"></select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-5 form-group">
                                <label>Origen étnico</label>
                                <select id="cmbTipoOrigenEtnico" class="form-control"></select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-5 form-group">
                                <label>Condición laboral</label>
                                <select id="cmbTipoCondicionLaboral" class="form-control"></select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-5 form-group">
                                <label>Experiencia laboral</label>
                                <input class="form-control" placeholder="Nombre" id="txtExperienciaLaboral" type="text" required="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-5 form-group">
                                <label>Lugar de trabajo</label>
                                <input class="form-control" placeholder="Nombre" id="txtLugarTrabajo" type="text" required="">
                            </div>

                            <div class="col-xs-5 form-group">
                                <label>Puesto que desempeña</label>
                                <input class="form-control" placeholder="Nombre" id="txtPuestoTrabajo" type="text" required="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-5 form-group">
                                <label>Direccion de lugar de trabajo</label>
                                <input class="form-control" placeholder="Nombre" id="txtDireccionLugarTrabajo" type="text" required="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-5 form-group">
                                <label>Tipo de familia</label>
                                <select id="cmbTipoFamilia" class="form-control"></select>
                            </div>

                            <div class="col-xs-5 form-group">
                                <label>Condición de aseguramiento</label>
                                <select id="cmbTipoCondicionAseguramiento" class="form-control"></select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-5 form-group">
                                <label>Tipo de vivienda</label>
                                <select id="cmbTipoVivienda" class="form-control"></select>
                            </div>
                        </div>

                        <div class="row">
                            <ng-form>
                                <legend>Condiciones especiales de salud</legend>
                                <div class="col-xs-2">
                                    <input type="checkbox" name="fisica">Física<br>
                                    <input type="checkbox" name="cognitiva">Cognitiva<br>
                                    <input type="checkbox" name="mental">Mental<br>
                                    <input type="checkbox" name="sensorial">Sensorial<br>
                                </div>
                                <div class="col-xs-2">
                                    <input type="checkbox" name="padecimientosCrónicos">Padecimientos crónicos<br>
                                    <input type="checkbox" name="condicionPsiquiatrica">Condición Psiquiátrica<br>
                                    <input type="checkbox" name="enfermedadTerminal">Enfermedad terminal<br>
                                </div>
                                <div class="col-xs-2">
                                    <input type="checkbox" name="its">ITS<br>
                                    <input type="checkbox" name="sida">VIH-SIDA<br>
                                </div>
                            </ng-form>
                        </div>

                        <div class="row">
                            <ng-form>
                                <legend>Adicciones</legend>
                                <div class="col-xs-2">
                                    <input type="checkbox" name="ninguna">Ninguna<br>
                                    <input type="checkbox" name="drogas">Drogas<br>
                                </div>
                                <div class="col-xs-2">
                                    <input type="checkbox" name="medicamentos">Medicamentos<br>
                                    <input type="checkbox" name="juego">Juego<br>
                                </div>
                                <div class="col-xs-2">
                                    <input type="checkbox" name="alcohol">Alcohol<br>
                                </div>
                            </ng-form>
                        </div>
                        <div class="row">
                            <input type="checkbox" name="redesApoyo">Tiene redes de apoyo<br>
                        </div>
                        <div class="row">
                            <ng-form>
                                <legend>Redes de apoyo de la usuaria</legend>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label>Primaria:</label>
                                    </div>
                                    <div class="col-xs-3">
                                    <label>Nombre</label>
                                    <input class="form-control" placeholder="Nombre" id="txtNombre" type="text" required="">
                                    </div>
                                    <div class="col-xs-3">
                                    <label>Relación</label>
                                    <input class="form-control" placeholder="Nombre" id="txtRelacion" type="text" required="">
                                    </div>
                                    <div class="col-xs-3">
                                    <label>Teléfono</label>
                                    <input class="form-control" placeholder="Nombre" id="txtTelefono" type="text" required="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label>Secundaria:</label>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Nombre</label>
                                        <input class="form-control" placeholder="Nombre" id="txtNombre" type="text" required="">
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Relación</label>
                                        <input class="form-control" placeholder="Nombre" id="txtRelacion" type="text" required="">
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Teléfono</label>
                                        <input class="form-control" placeholder="Nombre" id="txtTelefono" type="text" required="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label>Institucional/Organizacional:</label>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Nombre</label>
                                        <input class="form-control" placeholder="Nombre" id="txtNombre" type="text" required="">
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Institución</label>
                                        <input class="form-control" placeholder="Nombre" id="txtRelacion" type="text" required="">
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Teléfono</label>
                                        <input class="form-control" placeholder="Nombre" id="txtTelefono" type="text" required="">
                                    </div>
                                </div>
                            </ng-form>
                            <ng-form>
                                <legend>Conposición familiar</legend>
                                <table>
                                    <tr>
                                        <th>Nombre completo</th>
                                        <th>Parentesco</th>
                                        <th>Edad</th>
                                        <th>Escolaridad</th>
                                        <th>Ocupación</th>
                                    </tr>
                                    <!--Falta un foreach-->
                                </table>
                            </ng-form>
                        </div>

                    </td>
                </table>
            </div>
        </div>
    </div>
    <input type="submit" value="Guardar"
    <input type="button" value="Cancelar"
</form>
