
@{
    Layout = null;
}
<style>
    .jumbotron {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .container {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
</style>
<script src="https://www.google.com/cloudprint/client/cpgadget.js">
</script>
<script type="text/javascript">
    $("#btnCerrarFrmUsuarios").click(function (e) {
        e.preventDefault();
        $("#btnUsuarios").trigger("click");
    });
    var instMensajes = $('[data-remodal-id=modalDialogo]').remodal();
    $(document).ready(function () {
        $.LoadingOverlay("hide");
        debugger;
        //$.ajax({
        //    type: "POST",
        //    url: '/sipamu/Seguridad/ListarUnidades',
        //    dataType: "json",
        //    contentType: "application/json",
        //    processData: true,
        //    success: function (resultado) {
        //        debugger;

        //        $.each(resultado.data, function (key, value) {
        //            $('#cmbUnidad').append($("<option></option>", {
        //                value: value.PKUNIDAD,
        //                text: value.CODIGO + ' ' + value.DESCRIPCION
        //            }));
        //        });

        //        $('#cmbUnidad').selectize({
        //            create: false,
        //            sortField: {
        //                field: 'text',
        //                direction: 'asc'
        //            },
        //            dropdownParent: 'body'
        //        });


        //    },
        //    error: function (xhr, ajaxOptions, error) {
        //        $("#contenedorBotones").show();
        //        $("#contenedorEspera").hide();
        //        $("#txtModalTitulo").css("color", "red");
        //        $("#txtModalTitulo").text("Error al registrar");
        //        $("#txtModalContenido").text("Fallo al comunicarse con el servidor");
        //        instMensajes.open();

        //    }
        //});
        //$.ajax({
        //    type: "POST",
        //    url: '/sipamu/Seguridad/ListarRoles',
        //    dataType: "json",
        //    contentType: "application/json",
        //    processData: true,
        //    success: function (resultado) {
        //        debugger;

        //        $.each(resultado.data, function (key, value) {
        //            $('#cmbRol').append($("<option></option>", {
        //                value: value.PKROL,
        //                text: value.NOMBRE
        //            }));
        //        });

        //        $('#cmbRol').selectize({
        //            create: false,
        //            sortField: {
        //                field: 'text',
        //                direction: 'asc'
        //            },
        //            dropdownParent: 'body'
        //        });


        //    },
        //    error: function (xhr, ajaxOptions, error) {
        //        $("#contenedorBotones").show();
        //        $("#contenedorEspera").hide();
        //        $("#txtModalTitulo").css("color", "red");
        //        $("#txtModalTitulo").text("Error al registrar");
        //        $("#txtModalContenido").text("Fallo al comunicarse con el servidor");
        //        instMensajes.open();

        //    }
        //});
        //PrevenirCaracteresInvalidos();
        debugger;
        document.title = "SIVIO - Editar Persona Usuaria";
        InicializarOtrosEventos();
        InicializarCamposObservaciones();

    });

    function InicializarOtrosEventos() {
        var d = new Date();

        var month = d.getMonth() + 1;
        var day = d.getDate();
        var fechaHoy = (day < 10 ? '0' : '') + day + '/' +
            (month < 10 ? '0' : '') + month + '/' +
            d.getFullYear();

        $("#txtFechaAplicacion").val(fechaHoy);
        $('#txtFechaAplicacion').css("background-color", "#f2f2f2");
        $("#txtFechaAplicacion").prop("readonly", true);



        $("#btnEnviarFormulario").click(function () {

            RegistroUsuario();
            $('#formagregarUsuarios').find('input:text').val('');
            $('textarea:text').val('');


        });

        $("#btnCerrarFrmUsuario").click(function (e) {

            e.preventDefault();
            $("#btnUsuarios").trigger("click");
        });

        $("#btnTerminar").click(function () {

            window.location.href = '/sipamu/';
            setTimeout(volver(), 1000);

        });

        function volver() {
            window.location.href = '/sipamu/';
        }

    }


    function InicializarCamposObservaciones() { }

    function RegistroUsuario() {
        debugger;
        $('#contenedorPrincipal').hide();
        $('#contenedorEspera').fadeIn();
        var resultadoValidacion = $('#formagregarUsuarios').parsley().validate();
        if (resultadoValidacion === true) {
            var formularioAgregarUsuario = $();




            formularioAgregarUsuario.Nombre = $("#txtNombre").val();
            formularioAgregarUsuario.PrimerApellido = $("#txtApellido1").val();
            formularioAgregarUsuario.SegundoApellido = $("#txtApellido2").val();
            formularioAgregarUsuario.NombreUsuario = $("#txtUsuario").val();
            formularioAgregarUsuario.FkUnidad = $("#cmbUnidad").val();
            formularioAgregarUsuario.Rol = $("#cmbRol").val();
            formularioAgregarUsuario.Clave = $("#txtContrasena").val();
            formularioAgregarUsuario.ValidarContrasena = $("#txtValidarContrasena").val();
            formularioAgregarUsuario.Correo = $("txtCorreo").val();

            if (formularioAgregarUsuario.Clave !== formularioAgregarUsuario.ValidarContrasena) {
                $("#contenedorBotones").show();
                $("#contenedorEspera").hide();
                $("#txtModalTitulo").css("color", "red");
                $("#txtModalTitulo").text("Error");
                $("#txtModalContenido").text("Las contraseñas digitadas con coinciden");
                instMensajes.open();

            } else {
                $.ajax({
                    type: "POST",
                    url: '/sipamu/Seguridad/AgregarPersonaUsuaria',
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({
                        objUsuarios: formularioAgregarUsuario
                    }),
                    processData: true,
                    success: function (data) {
                        if (data.TipoMensaje === 1) {

                            $("#contenedorBotones").show();
                            $("#contenedorEspera").hide();
                            $("#txtModalTitulo").css("color", "green");
                            $("#txtModalTitulo").text("Operación Exitosa");
                            $("#txtModalContenido").text(data.ContenidoMensaje);
                            instMensajes.open();





                        } else {
                            $("#contenedorBotones").show();
                            $("#contenedorEspera").hide();
                            $("#txtModalTitulo").css("color", "red");
                            $("#txtModalTitulo").text("Error al registrar");
                            $("#txtModalContenido").text(data.ContenidoMensaje);
                            instMensajes.open();
                        }

                    },
                    error: function (xhr, ajaxOptions, error) {
                        $("#contenedorBotones").show();
                        $("#contenedorEspera").hide();
                        $("#txtModalTitulo").css("color", "red");
                        $("#txtModalTitulo").text("Error al registrar");
                        $("#txtModalContenido").text("Fallo al comunicarse con el servidor");
                        instMensajes.open();

                    }
                });
            }



            debugger;



        } else {
            $("#txtModalTitulo").css("color", "red");
            $("#txtModalTitulo").text("Información Incompleta");
            $("#txtModalContenido").text("El formulario todavía tiene campos pendientes de llenar.");
            instMensajes.open();
        }
        $('#contenedorEspera').fadeOut();
        $('#contenedorPrincipal').fadeIn();


    }



</script>
<style>
    .pad {
        padding-bottom: 3px;
        margin-bottom: 3px;
    }

    .parsley-required {
        color: red;
        font-weight: bold;
    }

    .checkNoSpace {
        padding-left: 0px !important;
    }

    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: white;
    }

    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: white;
        opacity: 1;
    }

    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: white;
        opacity: 1;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white;
    }
</style>

<style>
    input, select, textarea {
        max-width: 100%;
        padding: 4px;
    }

    input {
        background-color: blue;
    }
</style>
<div class="container-fluid" id="contenedorPrincipal">








    <form id="crearcaso" method="post" style="background-color: whitesmoke;border: 1px solid #E3E3E3;border-radius: 4px;">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#home">
                    <i class="fa fa-user" aria-hidden="true"></i>Formulario de creación de caso
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div class="row comunForm">
                    <div class="row">
                        <div class="col-xs-10">
                        </div>
                        <div class="col-xs-2">
                            <button class="botonCerrar danger" id="btnCerrarFrmUsuarios">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                    <div class="row">

                        <h3>Ingreso y egreso</h3>

                        <div class="col-xs-4 form-group">
                            <label>CEAAM al que ingresa:</label><br>

                            <input type="radio" name="radioCEAAM" value="AM"> AM<br>
                            <input type="radio" name="radioCEAAM" value="OCC"> OCC<br>
                            <input type="radio" name="radioCEAAM" value="HC"> HC
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Tipo de ingreso:</label><br>

                            <input type="radio" name="radioIngreso" value="Primario"> Primario<br>
                            <input type="radio" name="radioIngreso" value="Transitorio"> Transitorio<br>
                            <input type="radio" name="radioIngreso" value="Reingreso del CEAAM"> Reingreso del CEAAM<br>
                            <input type="radio" name="radioIngreso" value="Traslado del CEAAM"> Traslado del CEAAM
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Fecha de ingreso actual:</label>

                            <input class="form-control" id="txtFechaIngresoActual" type="text" required="">
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Fecha de ingreso anterior:</label>

                            <input class="form-control" id="txtFechaIngresoAnterior" type="text" required="">
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Hora de ingreso:</label>

                            <input class="form-control" id="txtHoraIngreso" type="text" required="">
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Nombre de la persona que recibe el ingreso:</label>

                            <input class="form-control" id="txtNombrePersonaIngreso" type="text" required="">
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Numero de familia:</label>

                            <input class="form-control" id="txtNumeroFamilia" type="text" required="">
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Fecha de egreso:</label>

                            <input class="form-control" id="txtFechaEgreso" type="text" required="">
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Tipo de egreso:</label><br>

                            <input type="radio" name="radioEgreso" value="Proceso cumplido"> Proceso cumplido<br>
                            <input type="radio" name="radioEgreso" value="Técnico"> Técnico<br>
                            <input type="radio" name="radioEgreso" value="Voluntario con valoración"> Voluntario con valoración<br>
                            <input type="radio" name="radioEgreso" value="Voluntario sin valoración"> Voluntario sin valoración<br>
                            <input type="radio" name="radioEgreso" value="Traslado al CEAAM"> Traslado al CEAAM<br>
                            <input type="radio" name="radioEgreso" value="Abandano del servicio"> Abandano del servicio<br>
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Lugar de destino:</label><br>

                            <label>Provincia:</label> <input class="form-control" id="txtProvinciaDestino" type="text" required="">
                            <label>Cantón:</label> <input class="form-control" id="txtCantonDestino" type="text" required="">
                            <label>Distrito:</label> <input class="form-control" id="txtDistritoDestino" type="text" required="">
                            <label>Telefono:</label> <input class="form-control" id="txtTelefonoDestino" type="text" required="">
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Destino fuera de Costa Rica:</label>

                            <input class="form-control" id="txtApellido2" type="text" required="">
                            <input type="radio" name="radioDestino" value="No indica / Confidencial"> No indica / Confidencial
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Entrega del kit de emergencia:</label><br>

                            <input type="radio" name="radioKit" value="Sí"> Sí<br>
                            <input type="radio" name="radioKit" value="No"> No<br>
                            <input type="radio" name="radioKit" value="Rechaza el kit"> Rechaza el kit<br>
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Fecha de asignación:</label>

                            <input class="form-control" id="txtFechaAsignacion" type="text" required="">
                        </div>

                        <div class="col-xs-4 form-group">
                            <label>Persona responsable:</label>

                            <input class="form-control" id="txtPersonaResponsable" type="text" required="">
                        </div>

                    </div>

                    <!--Escoja uno y sigalo pa-->

                    <div class="row">

                        <h3>Perfil de la usuaria</h3>
                        <label>Edad</label><br>
                        <input class="form-control" id="txtEdad" type="text" required="">
                        <label>Fecha de nacimiento</label><br>
                        <input class="form-control" id="txtEdad" type="date" required=""><br>

                        <label>Condición civil</label><br>
                        <table style="width:40%">
                            <tr>
                                <td>
                                    <input type="radio" name="radioCondCivil" value="Casada"> Casada<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioCondCivil" value="Union libre"> Unión libre<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioCondCivil" value="Soltera"> Soltera<br>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" name="radioCondCivil" value="Divorciada"> Divorciada<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioCondCivil" value="Separada"> Separada<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioCondCivil" value="Viuda"> Viuda<br>
                                </td>
                            </tr>
                        </table>

                        <label>Escolaridad</label><br>
                        <table style="width:50%">
                            <tr>
                                <td>
                                    <input type="radio" name="radioEscolaridad" value="Primaria completa"> Primaria completa<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioEscolaridad" value="Primaria incompleta"> Primaria incompleta<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioEscolaridad" value="Secundaria completa"> Secundaria completa<br>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" name="radioEscolaridad" value="Secundaria incompleta"> Secundaria incompleta<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioEscolaridad" value="Para universitario/tecnico"> Para universitario/técnico<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioEscolaridad" value="Universitaria completa"> Universitaria completa<br>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" name="radioEscolaridad" value="Universitaria incompleta"> Universitaria incompleta<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioEscolaridad" value="Ningun grado"> Ningún grado<br>
                                </td>
                            </tr>
                        </table>

                        <div class="col-xs-4 form-group">

                            <label>Número total de hijas/os</label> <input class="form-control" id="txtProvinciaDestino" type="text" required="">
                            <label>Número de hijos/as con los que ingresa al CEAAM</label> <input class="form-control" id="txtCantonDestino" type="text" required="">
                        </div>

                        <label>Tipo de familia</label><br>
                        <table style="width:50%">
                            <tr>
                                <td>
                                    <input type="radio" name="radioIipoFamilia" value="Familia nuclear"> Familia nuclear<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioIipoFamilia" value="Familia uniparental"> Familia uniparental<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioIipoFamilia" value="Familia nuclear extendida"> Familia nuclear extendida<br>
                                </td>
                            </tr>
                        </table>

                        <div class="col-xs-4 form-group">
                            <label>Nacionalidad</label>

                            <input class="form-control" id="txtNacionalidad" type="text" required="">
                        </div>

                        <label>Condición migratoria</label><br>
                        <table style="width:50%">
                            <tr>
                                <td>
                                    <input type="radio" name="radioCondMigratoria" value="Nacional"> Nacional<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioCondMigratoria" value="Regular"> Regular<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioCondMigratoria" value="Residente"> Residente<br>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" name="radioCondMigratoria" value="Refugiada"> Refugiada<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioCondMigratoria" value="Irregular"> Irregular<br>
                                </td>
                            </tr>
                        </table>

                        <div class="col-xs-4 form-group">
                            <label>Ocupación</label>

                            <input class="form-control" id="txtOcupacion" type="text" required="">
                        </div>

                        <label>Condición laboral</label><br>
                        <table style="width:50%">
                            <tr>
                                <td>
                                    <input type="radio" name="radioCondLaboral" value="Remunerada"> Remunerada<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioCondLaboral" value="No remunerada"> No remunerada<br>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" name="radioCondLaboral" value="Desempleada"> Desempleada<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioCondLaboral" value="Pensionada"> Pensionada<br>
                                </td>
                            </tr>
                        </table>

                        <label>Experiencia laboral</label><br>
                        <table style="width:50%">
                            <tr>
                                <td>
                                    <input type="radio" name="radioExpLaboral" value="Si"> Sí<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioExpLaboral" value="No"> No<br>
                                </td>
                            </tr>
                        </table>

                        <div class="col-xs-4 form-group">
                            <label>Lugar de trabajo</label>

                            <input class="form-control" id="txtLugarDeTrabajo" type="text" required="">
                        </div>

                        <label>Condición de aseguramiento</label><br>
                        <table style="width:40%">
                            <tr>
                                <td>
                                    <input type="radio" name="radioCondAseg" value="Directa"> Directa<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioCondAseg" value="Familiar"> Familiar<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioCondAseg" value="Voluntario o convenio"> Voluntario o convenio<br>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" name="radioCondAseg" value="Pensionada"> Pensionada<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioCondAseg" value="Por el estado"> Por el estado<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioCondAseg" value="No tiene"> No tiene<br>
                                </td>
                            </tr>
                        </table>

                        <label>Vivienda</label><br>
                        <table style="width:40%">
                            <tr>
                                <td>
                                    <input type="radio" name="radioVivienda" value="Alquilada"> Alquilada<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioVivienda" value="Precario"> Precario<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioVivienda" value="Prestada"> Prestada<br>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" name="radioVivienda" value="Propia total"> Propia total<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioVivienda" value="Propia con hipoteca"> Propia con hipoteca<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioVivienda" value="No tiene"> No tiene<br>
                                </td>
                            </tr>
                        </table>

                        <label>Condiciones especiales y de salud</label>
                        <div class="col-xs-4 form-group">
                            <label>Discapacidad</label><br>
                            <input type="checkbox" name="fisica" value="fisica">Física<br>
                            <input type="checkbox" name="cognitiva" value="cognitiva">Cognitiva<br>
                            <input type="checkbox" name="mental" value="mental">Mental<br>
                            <input type="checkbox" name="sensorial" value="sensorial">Sensorial<br>
                            <input type="checkbox" name="embarazo" value="embarazo">Embarazo <label>meses</label><input class="form-control" id="txtOcupacion" type="text" required=""><br>
                            <input type="checkbox" name="sensorial" value="Padecimientos crónicos">Padecimientos crónicos<br>
                            <input type="checkbox" name="sensorial" value="ITS">ITS<br>
                            <input type="checkbox" name="sensorial" value="VIH-SIDA">VIH-SIDA<br>
                            <input type="checkbox" name="sensorial" value="Condición psiquiátrica">Condición psiquiátrica<br>
                            <input type="checkbox" name="sensorial" value="Enfermedad terminal">Enfermedad terminal<br>
                        </div>

                        <label>Adicciones</label><br>
                        <table style="width:40%">
                            <tr>
                                <td>
                                    <input type="checkbox" name="radioAdicciones" value="Ninguna"> Ninguna<br>
                                </td>
                                <td>
                                    <input type="checkbox" name="radioAdicciones" value="Medicamentos"> Medicamentos<br>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" name="radioAdicciones" value="Alcohol"> Alcohol<br>
                                </td>
                                <td>
                                    <input type="checkbox" name="radioAdicciones" value="Drogras"> Drogras<br>
                                </td>
                            </tr>
                        </table>

                        <label>Redes o recursos de apoyo con los que cuenta la usuaria</label><br>
                        <input type="checkbox" name="radioApoyo" value="No tiene"> No tiene<br>
                        <label>Primaria</label><br>
                        <div class="col-xs-4 form-group">
                            <label>Nombre</label><input class="form-control" id="txtRecApoyo" type="text"><label>Teléfono</label><input class="form-control" id="txtRecApoyo" type="number"><br>
                            <label>Nombre</label><input class="form-control" id="txtRecApoyo" type="text"><label>Teléfono</label><input class="form-control" id="txtRecApoyo" type="number"><br>
                            <label>Nombre</label><input class="form-control" id="txtRecApoyo" type="text"><label>Teléfono</label><input class="form-control" id="txtRecApoyo" type="number"><br>
                       </div>
                        <label>Secundaria</label><br>
                        <div class="col-xs-4 form-group">
                            <label>Nombre</label><input class="form-control" id="txtRecApoyo" type="text"><label>Teléfono</label><input class="form-control" id="txtRecApoyo" type="number"><br>
                            <label>Nombre</label><input class="form-control" id="txtRecApoyo" type="text"><label>Teléfono</label><input class="form-control" id="txtRecApoyo" type="number"><br>
                            <label>Nombre</label><input class="form-control" id="txtRecApoyo" type="text"><label>Teléfono</label><input class="form-control" id="txtRecApoyo" type="number"><br>
                        </div>
                      


                            <!--Formulario-->

</div>

                    <div class="row">

                        <h3>Historia de violencia</h3>

                        <!--Formulario-->

                    </div>

                    <div class="row">

                        <h3>Atenciones</h3>
                       
                        <label>Legal</label><br>
                        <input type="checkbox" name="radioApoyo" value="No desea recibir atencion"> No desea recibir atención<br>
                        <label>Fecha de la atención o sesión realizada</label><br>
                        <input class="form-control" id="txtFechaAtencion" type="date" required=""><br>
                        <label>Objetivo de la atención</label><br>
                        <input class="form-control" id="txtObjetivoAtencion" type="text" required=""><br>
                        <label>Resumen de la atención</label><br>
                        <input class="form-control" id="txtResumenAtencion" type="text" required=""><br>

                        <table style="width:100%">
                            <tr>
                                <td>
                                    <input type="checkbox" name="radioAtenciones" value="Asesoria en vioencia doméstica"> Asesoria en vioencia doméstica<br>
                                </td>
                                <td>
                                    <input type="checkbox" name="radioAtenciones" value="Solicitud de medidas de proteccion"> Solicitud de medidas de proteccion<br>
                                </td>
                                <td>
                                    <input type="checkbox" name="radioAtenciones" value="Asesoria en separacion, divorcio, union de hecho, ganancialidad"> Asesoria en separacion, divorcio, union de hecho, ganancialidad<br>
                                </td>
                                <td>
                                    <input type="checkbox" name="radioAtenciones" value="Asesoría en hostigamiento sexual"> Asesoría en hostigamiento sexual<br>
                                </td>
                                <td>
                                    <input type="checkbox" name="radioAtenciones" value="Asesoría en pensión alimentaria"> Asesoría en pensión alimentaria<br>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" name="radioAtenciones" value="Asesoría en autoridad parental"> Asesoría en autoridad parental<br>
                                </td>
                                <td>
                                    <input type="checkbox" name="radioAtenciones" value="Asesoría en filiación"> Asesoría en filiación<br>
                                </td>
                                <td>
                                    <input type="checkbox" name="radioAtenciones" value="Asesoría en procesos penales"> Asesoría en procesos penales<br>
                                </td>
                                <td>
                                    <input type="checkbox" name="radioAtenciones" value="Asesoría en ley de penalización VcM"> Asesoría en ley de penalización VcM<br>
                                </td>
                                <td>
                                    <input type="checkbox" name="radioAtenciones" value="Asesoría en derechos humanos"> Asesoría en derechos humanos<br>
                                </td>
                            </tr>
                        </table>
                        <!--Formulario-->

                    </div>

                    <div class="row">

                        <h3>Hijos e hijas</h3>

                        <label>Nombre</label><br>
                        <input class="form-control" id="txtNombre" type="text" required=""><br>
                        <label>Sexo</label><br>
                        <table style="width:30%">
                            <tr>
                                <td>
                                    <input type="radio" name="radioSexo" value="Hombre">Hombre<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioSexo" value="Mujer"> Mujer<br>
                                </td>
                            </tr>
                        </table>

                        <label>Fecha de nacimiento</label><br>
                        <input class="form-control" id="txtEdad" type="date" required=""><br>
                        <label>Edad</label><br>
                        <input class="form-control" id="txtEdad" type="number" required=""><br>
                        <label>Nacionalidad</label><br>
                        <input class="form-control" id="txtEdad" type="text" required=""><br>
                        <label>Escolaridad</label><br>
                        <table style="width:40%">
                            <tr>
                                <td>
                                    <input type="radio" name="radioEscolaridad" value="Ningún grado"> Ningún grado<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioEscolaridad" value="Materno"> Materno<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioEscolaridad" value="Kinder"> Kinder<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioEscolaridad" value="Primaria"> Primaria<br>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" name="radioEscolaridad" value="Secundaria"> Secundaria<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioEscolaridad" value="Aula abierta"> Aula abierta<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioEscolaridad" value="Universitaria"> Universitaria<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioEscolaridad" value="Para universitaria"> Para universitaria<br>
                                </td>
                            </tr>
                        </table>

                        <label>Parentesco con la usuaria</label><input class="form-control" id="txtParentesco" type="text" required=""><br>

                        <label>Condiciones especiales y de salud</label>
                        <div class="col-xs-4 form-group">
                            <label>Discapacidad</label><br>
                            <input type="checkbox" name="fisica" value="fisica">Física<br>
                            <input type="checkbox" name="cognitiva" value="cognitiva">Cognitiva<br>
                            <input type="checkbox" name="mental" value="mental">Mental<br>
                            <input type="checkbox" name="sensorial" value="sensorial">Sensorial<br>
                            <input type="checkbox" name="sensorial" value="Padecimientos crónicos">Padecimientos crónicos<br>
                            <input type="checkbox" name="sensorial" value="Alergias">Alergias<br>
                            <input type="checkbox" name="sensorial" value="VIH-SIDA">VIH-SIDA<br>
                            <input type="checkbox" name="sensorial" value="Problemas respiratorios">Problemas respiratorios<br>
                        </div>
                        <label>Tipo de maltrato vivido</label>
                        <table style="width:20%">
                            <tr>
                                <td>
                                    <input type="checkbox" name="checkMaltrato" value="Psicológico"> Psicológico<br>
                                </td>
                                <td>
                                    <input type="checkbox" name="checkMaltrato" value="Físico"> Físico<br>
                                </td>
                                <td>
                                    <input type="checkbox" name="checkMaltrato" value="Bullying"> Bullying<br>
                                </td>
                            </tr>
                        </table>

                        <label>Abuso sexual</label>
                        <table style="width:30%">
                            <tr>
                                <td>
                                    <input type="radio" name="radioAbuso" value="No"> No<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioAbuso" value="Sí, con denuncia"> Sí, con denuncia<br>
                                </td>
                                <td>
                                    <input type="radio" name="radioAbuso" value="Sí, sin denuncia"> Sí, sin denuncia<br>
                                </td>
                            </tr>
                        </table>

                        <label>Parentesco del presunto ofensor</label><input class="form-control" id="txtOfensor" type="text" required=""><br>
                                <!--Formulario-->

                    </div>

                    <div class="row">

                        <h3>Seguimientos</h3>

                        <!--Formulario-->

                    </div>

                    <div class="row" id="contenedorBotones">

                        <div class="col-md-12" style="text-align: center; margin-bottom: 5px">
                            <button type="button" id="btnEnviarFormulario" class="btn btn-default btn-responsive" style="color: white; background-color: #368DE9; border-color: #368DE9; margin-bottom: 1px; ">Registrar un nuevo caso</button>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </form>

</div>

