
<h3>Hijos e hijas</h3>
@* Pestaña Hijos e hijas *@

<div class="row">

    <div class="col-xs-4 form-group">
        <label>Nombre:</label>
        <input class="form-control" id="txtNombreHijo" type="text" required="">
    </div>


    <div class="col-xs-4 form-group">
        <label>Sexo</label><br>
        <select id="cmbSexo" class="form-control">
            @*/*
            <option selected disabled>Seleccione una opcion</option>*/*@
        </select>
    </div>

    <div class="col-xs-4 form-group">
        <label>Edad:</label>
        <input class="form-control" id="txtEdad" type="number">
    </div>
</div>

<div class="row">
    <div class="col-xs-4 form-group">
        <label>Fecha de nacimiento:</label>
        <input class="form-control" id="txtFechaNacimiento" type="date" >
    </div>

    <div class="col-xs-4 form-group">
        <label>Nacionalidad:</label>
        <select id="cmbNacionalidad" class="form-control">
            @*/*
            <option selected disabled>Seleccione una opcion</option>*/*@
        </select>
    </div>

    <div class="col-xs-4 form-group">
        <label>Escolaridad/grado</label>
        <select id="cmbEscolaridad" class="form-control">
            @*/*
            <option selected disabled>Seleccione una opcion</option>*/*@
        </select>
    </div>
</div>

<div class="row">
    <div class="col-xs-4 form-group">
        <label>Parentesco con la usuaria:</label>
        <input class="form-control" id="txtParentescoUsuaria" type="text">
    </div>

    <div class="col-xs-4 form-group">
        <label>Condiciones Especiales y de Salud:</label>
        <label>Tipo de discapacidad:</label>
        <select id="cmbDiscapacidad" class="form-control">
            @*/*
            <option selected disabled>Seleccione una opcion</option>*/*@
        </select>
    </div>

    <div class="col-xs-4 form-group">
        <label>Padecimiento:</label><br>
        <select id="cmbPadecimiento" class="form-control">
            @*/*
            <option selected disabled>Seleccione una opcion</option>*/*@
        </select>
    </div>
</div>

<div class="row">
    <div class="col-xs-4 form-group">
        <label>Tipo de maltrato vivido:</label>
        <select id="cmbMaltrato" class="form-control">
            @*/*
            <option selected disabled>Seleccione una opcion</option>*/*@
        </select>
    </div>
    <div class="col-xs-4 form-group">
        <label>Abuso sexual:</label>
        <input class="form-control" id="txtCantonDestino" type="text" required="">
    </div>
    <div class="col-xs-4 form-group">
        <label>Parentesco del presunto ofensor:</label>
        <input class="form-control" id="txtParentescoOfensor" type="text">
    </div>
</div>

