
<ul class="nav nav-tabs">
    <li class="active">
        <a data-toggle="tab" href="#perAgresora">
            <i class="fa fa-file-text" aria-hidden="true"></i>Persona Agresora
        </a>
    </li>
    <li>
        <a data-toggle="tab" href="#relHechos">
            <i class="fa  fa-file-text" aria-hidden="true"></i>Relato de hechos
        </a>
    </li>
    <li>
        <a data-toggle="tab" href="#valRiesgo">
            <i class="fa  fa-file-text" aria-hidden="true"></i>Valoración de riesgo
        </a>
    </li>
</ul>

<div class="tab-content">
    <div id="perAgresora" class="tab-pane fade in active">
        <div class="row comunForm">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label>Nombre de la Persona agresora:</label>
                    <input type="text" class="form-control" placeholder="" id="nombre" value="" />
                </div>

                <div class="col-md-6 form-group">
                    <label>Ocupación de la persona agresora:</label>
                    <select id="cmbOcupacionHistoria" class="form-control" />
                </div>
            </div>


            <div class="row">
                <div class="col-md-6 form-group">
                    <label>Sexo de la persona agresora:</label>
                    <select id="cmbGeneroHistoria" class="form-control" />

                </div>
                <div class="col-md-6 form-group">
                    <label>Escolaridad de la persona agresora:</label>

                    <select id="cmbEscolaridadHistoria" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label>Edad de la persona agresora:</label>
                    <input type="number" class="form-control" placeholder="Solamente números" id="txtEedad" />
                </div>
                <div class="col-md-6 form-group">
                    <label>Nacionalidad de la persona agresora:</label>
                    <select id="cmbNacionalidadHistoria" class="form-control"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 form-group">
                    <div class="inlineCheckBox">
                        <input type="checkbox" style="display:inline-block;" id="MP"> Tiene MP<br>
                    </div>
                </div>

                <div class="col-xs-6 form-group">
                    <div class="inlineCheckBox">
                        <input type="checkbox" style="display:inline-block;" id="denunciaPenal"> Tiene Denuncia Penal<br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div id="datosMP" class="comunForm">
                        <label>MP</label>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>Fecha de Vencimiento:</label>
                                <input type="text" class="form-control" placeholder="" id="MPvencimiento" value="" />
                            </div>

                            <div class="col-md-6 form-group">
                                <label>Número Expediente:</label>
                                <input type="text" class="form-control" placeholder="." id="MPExpediente" value="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="datosDenuncia" class="comunForm">
                        <label>Denuncia Penal</label>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>Fecha de Vencimiento:</label>
                                <input type="text" class="form-control" placeholder="" id="Denunciavencimiento" value="" />
                            </div>

                            <div class="col-md-6 form-group">
                                <label>Número Expediente:</label>
                                <input type="text" class="form-control" placeholder="." id="DenunciaExpediente" value="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="row" id="contenedorBotones" style="text-align:center; margin-top:5px">
                <div class="col-xs-12 form-group">
                    <button type="button" id="cancelar" class="btn btn-default btn-responsive" style="color: white; background-color: #368DE9; border-color: #368DE9; margin-bottom: 1px; ">Cancelar</button>
                    <button type="button" id="guardar" class="btn btn-default btn-responsive" style="color: white; background-color: #368DE9; border-color: #368DE9; margin-bottom: 1px; ">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="relHechos" class="tab-pane">
        <div class="row comunForm">

            <div class="row">
                <div class="col-md-6 form-group">
                    <label>Tiempo de la relación:</label>
                    <input type="text" class="form-control" placeholder="Años" id="txtTiempoRelación" value="" />
                </div>
                <div class="col-md-6 form-group">
                    <label>Tiempo de la agresión:</label>
                    <input type="text" class="form-control" placeholder="Minutos" id="txtTiempoAgresion" value="" />
                </div>
            </div>
            <div class="row">

                <div class="col-xs-12 form-group">

                    <label>Relato hechos de violencia:</label>
                    <textarea rows="10" cols="20" id="txtRelato" style="width: 100%"></textarea>
                </div>
            </div>

            <div class="row" id="contenedorBotonesRelHechos" style="text-align:center">
                <div class="col-xs-12 form-group">
                    <button type="button" id="cancelar" class="btn btn-default btn-responsive" style="color: white; background-color: #368DE9; border-color: #368DE9; margin-bottom: 1px; ">Cancelar</button>
                    <button type="button" id="guardar" class="btn btn-default btn-responsive" style="color: white; background-color: #368DE9; border-color: #368DE9; margin-bottom: 1px; ">Guardar</button>
                </div>
            </div>

        </div>
    </div>
    <div id="valRiesgo" class="tab-pane">
        <div class="row comunForm">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row" style="padding-left:15px;padding-right:15px" id="dvCatAltoRiesgo">
                        <div class="btn btn-responsive btn-default" style="color:white;background-color:red;border-color:red;width:100%">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>Categoría de Alto Riesgo
                        </div>
                    </div>
                    <div class="row" style="padding-left:15px;padding-right:15px" id="dvCatSevRiesgo">
                        <div class="btn btn-responsive btn-default" style="color:white;background-color:darkorange;border-color:darkorange;width:100%">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>Categoría de Riesgo Severo
                        </div>
                    </div>
                    <div class="row" style="padding-left:15px;padding-right:15px" id="dvCatPrec">
                        <div class="btn btn-responsive btn-default" style="color:black;background-color:yellow;border-color:black;width:100%">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>Categoría de Precaución
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top:10px">
                <div class="col-md-12">
                    @Html.Action("CuestionarioCriterioViolenciaDelegacion", "Expediente")
                </div>

            </div>
        </div>
    </div>
</div>